<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tr>
        <td style="font-family: Oswald, Arial; font-size: 16px;"><h1 style="font-family: Oswald, Arial; font-size: 16px;"><%= @newsitem.slug %></h1></td>
      </tr>
      <tr>
        <td style="font-family: Georgia, Times New Roman; font-size: 15px; font-style: italic; border-top: 1px dotted #999999; border-bottom: 1px dotted #999999;">
          <strong><%= @newsitem.created_at.strftime("%b %d %Y") %></strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Georgia, Times New Roman; font-size: 15px; line-height:130%;">
        <p style="font-family: Georgia, Times New Roman; font-size: 17px; line-height:130%;">
        
            <% if @newsitem.main? %> <%# MAIN IMAGE OR VIDEO %>
              <p style="width: 100%;">
                <% if @newsitem.article.present? %>
                  <%= link_to(article_url(@newsitem.article, anchor: @newsitem.id)) do %>
                    <%= image_tag @newsitem.main.url if @newsitem.main? %>
                  <% end %>
                <% else %>
                  <%= link_to(newsitem_url(@newsitem)) do %>
                    <%= image_tag @newsitem.main.url if @newsitem.main? %>
                  <% end %>
                <% end %>
                <p>
                  <strong>IMAGE:</strong> <em><%= @newsitem.caption %></em>
                </p>
              </p>
            <% elsif @newsitem.video? %>
              <p>
                <strong>VIDEO:</strong> 
                <% if @newsitem.article.present? %>
                  <%= link_to 'Watch here', article_url(@newsitem.article, anchor: @newsitem.id), {:style=>'color:#AA151B;'} %>. <%= @newsitem.caption unless @newsitem.caption.empty? %>
                <% else %>
                  <%= link_to 'Watch here', newsitem_url(@newsitem), {:style=>'color:#AA151B;'} %>. <%= @newsitem.caption unless @newsitem.caption.empty? %>
                <% end %>
              </p>
            <% else %>
            <% end %>
            
            <%= markdown(@newsitem.item) %>
            
          <p style="font-family: Georgia, Times New Roman; font-size: 17px; line-height:130%;">
          <% if @newsitem.article.present? %>
            <%= link_to 'What do you think? Leave your comment here', article_url(@newsitem.article, anchor: @newsitem.id), {:style=>'color:#AA151B;'} %>
          <% else %>
            <%= link_to 'What do you think? Leave your comment here', newsitem_url(@newsitem), {:style=>'color:#AA151B;'} %>
          <% end %>
          </p>
          
        </p>  
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>Published on:</strong> <%= @newsitem.created_at.strftime("%b %d, %Y, %H:%M") %></em>
        </td>
      </tr>
      <tr>
        <td style="border-top: 1px solid #cccccc; font-family: Georgia, Times New Roman;">
          <p><strong>E-MAIL ADMIN:</strong> Thank you for reading and subscribing to The Spain Report.
            <ul>
              <li>To manage your e-mail preferences, log in to <%= link_to "My Account", edit_user_url(@user), {:style=>'color:#AA151B;'} %>;</li>
              <li>You can choose: "Everything: Articles & Updates", "Just Articles" or "I Don't Want Any E-mail";</li>
              <li>You may update your e-mail preferences as often as you like;</li>
            </ul>
          </p>
          <p>If you ever want to delete your account completely, please e-mail: <%= mail_to "subscriptions@thespainreport.com", "subscriptions@thespainreport.com", {:style=>'color:#AA151B;'} %>;</p>
        </td>
      </tr>
      <tr>
        <td style="border-top: 1px solid #cccccc; font-family: Georgia, Times New Roman;">
          <p>
            The Spain Report Ltd.<br />
            145-157 St John Street<br />
            London<br />
            EC1V 4PW<br />
            United Kingdom<br /><br />
            (0044) (0)2076085570<br />
            <%= link_to "The Spain Report", "https://www.thespainreport.com", {:style=>'color:#AA151B;'} %><br /><br />
            Understand Spain, In English<br /><br />
            Copyright © 2017 The Spain Report Ltd, All rights reserved.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>