<p id="notice"><%= notice %></p>

<h1>Listing Briefing Frequencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Briefing frequency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @briefing_frequencies.each do |briefing_frequency| %>
      <tr>
        <td><%= briefing_frequency.name %></td>
        <td><%= briefing_frequency.briefing_frequency %></td>
        <td><%= link_to 'Show', briefing_frequency %></td>
        <td><%= link_to 'Edit', edit_briefing_frequency_path(briefing_frequency) %></td>
        <td><%= link_to 'Destroy', briefing_frequency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Briefing frequency', new_briefing_frequency_path %>
