<p id="notice"><%= notice %></p>

<h1>Sources</h1>

<table>
  <tbody>
    <% @sources.each do |source| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td class="reporting-td"><%= link_to 'E', edit_source_path(source) %></td>
        <td class="reporting-td"><%= link_to source.name, source %></td>
        <td class="reporting-td"><%= source.job %></td>
        <td class="reporting-td"><%= link_to source.organisation.name, source.organisation %></td>
        <td style="padding: 2px 5px;"><%= link_to source.province.name, source.province unless source.province.nil? %></td>
        <td class="reporting-td"><%= source.phone1 %></td>
        <td class="reporting-td"><%= source.phone2 %></td>
        <td class="reporting-td"><%= source.email1 %></td>  
        <td class="reporting-td"><%= link_to 'D', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>