<div class="content-left-new-page"> <%# LEFT-HAND MAIN CONTENT BLOCK %>

<h1>Set Your Password</h1>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>    
    <div class="password-reset-form-fields">
      <p style="margin-bottom: 10px;">To choose a new password, or reset an existing one, enter it here:</p>
      <div class="field" >
        <div class="email-input-float"><%= f.password_field :password, :class => "input170", :placeholder => "Enter new password…" %></div>
        <div class="email-input-float" style="padding-top: 10px;"> + </div>
        <div class="email-input-float"><%= f.password_field :password_confirmation, :class => "input170", :placeholder => "Confirm new password…" %></div>
        <div class="email-input-float"><button type="submit" class="blueformbutton">Save New Password</button></div>
        <div class="clear"></div>
      </div>
      
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2>Ejem…just <%= pluralize(@user.errors.count, "problem") %> with that particular attempt…</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    
    <div class="password-reset-explainer"><h2>Safe, Secure, Easy-to-Remember Passwords…</h2>
      <p>
      Choose a <strong>simple human pass-phrase</strong> instead of a random, confusing group of letters.
      They are easier to remember and more secure. 
      <a href="http://xkcd.com/936/">This cartoon</a> and <a href="http://rumkin.com/tools/password/passchk.php">this password strength tool</a> explain it well.
      </p>
      <p>Instead of struggling to remember "mR9LVrsZ$%", you can do:</p>
      <p>
      - "Chorizo Is Expensive"
      <br />- "Who is going to win the elections?"
      <br />- "I love The Spain Report!!!"
      <br />- or whatever phrase you want.
      </p>
      <h3>Just make sure:</h3>
      <p>
      - it is at least 11 characters long;
      <br />- and includes at least one capital letter and one space;
      </p>
      <p>Be as creative as you like!
      </p>
    </div>
    
    <div class="clear"></div>

<% end %>
<div class="clear"></div>


</div>
<div style="clear:both;"></div>