<%= form_for @newsitem, :html => {:multipart => true} do |f| %>
  
  <% if @newsitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsitem.errors.count, "error") %> prohibited this newsitem from being saved:</h2>

      <ul>
      <% @newsitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="admin-block-notify">
    <div style="float:left; text-align:left; width: 740px;">
      <%= f.text_field :short_slug, :size => "18", :maxlength => "15" %>
      <%= f.text_field :short_headline, :size => "62", :maxlength => "70" %>
      | T <%= check_box_tag 'tweet' %>
      | <%= f.select :email_to, options_for_select([["None", "none"], ["All - Free", "allfree"], ["All", "all"], ["Readers", "readers"], ["Subscribers", "subscribers"]], "None") %>
    </div>
    <div style="float:left; width: 175px; border-left: 1px solid #000; margin-top: 2px; margin-left: 5px; padding-left: 5px; text-align:right;">
      <div style="float:left;">
        <%= f.select :status, options_for_select([["Draft", "draft"], ["Editing", "editing"], ["Published", "published"], ["Updated", "updated"]], @newsitem.status) %>
        <%= f.submit %>
      </div>
      <div style="float:left;">
        &nbsp;<%= link_to 'Go', @newsitem, :target => 'blank' %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div> 
  </div>
  
  <div class="admin-block" style="background-color: #ffcccc;">
  <%= f.hidden_field :imagesource %> <%# Backwards compatible hack to make the image work on display, something strange going on when omitting this field %>
  <%= f.file_field :main %> <% if @newsitem.main? %> <span style="font-size: 11px; color: red;">!!!</span><% end %>
    <%= f.check_box :remove_main %>
   | <%= f.text_field :video, :size => "20", :style => 'padding:5px;' %>
   | <%= f.text_field :caption, :size => '60', :style => 'padding:5px;' %>
  </div>
  
  <div class="admin-block">
  <div style="float:left; text-align:left;">
   <%= f.text_field :slug, :class => "edit-headline", :size => "53", :maxlength => 97, :style => 'padding:5px;' %>
   </div>
   <div class="clear"></div>
   </div>

  <div class="admin-block">
    <%= f.text_area :item, :style => "width:100%; min-height: 170px;", :class => "inputtextarea", :maxlength => 1000 %>
  </div>
  
  <div class="admin-block">
  <strong>Article:</strong> <%= f.collection_select :article_id, @newsitemarticle, :id, :headline, :include_blank => true %>
  </div>

<% if @newsitem.main? %>
    <div class="admin-block">
      <%= image_tag @newsitem.main.url %>
    </div>
  <% end %>

<div class="admin-block">
<div style="text-align:left; font-size: 12px;">
  <strong>CREATED AT:</strong> <%= f.datetime_field :created_at, :size => '38' %> <strong>UPDATED AT:</strong> <%= f.datetime_field :updated_at, :size => '38' %>
</div>
</div>

<% end %>