<%= form_for @newsitem, :html => {:multipart => true} do |f| %>
  
  <% if @newsitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsitem.errors.count, "error") %> prohibited this newsitem from being saved:</h2>

      <ul>
      <% @newsitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
   <div class="admin-block-notify">
      <%= f.text_field :short_slug, :size => "18", :maxlength => "15" %>
      <%= f.text_field :short_headline, :size => "59", :maxlength => "70" %>
      T <%= check_box_tag 'tweet' %>
      <%= f.submit %> 
      &nbsp;<%= link_to 'Go', @newsitem, :target => 'blank' %>
   </div>
   
   <div class="admin-block">
     <%= f.collection_select :article_id, @newsitemarticle, :id, :headline, {:include_blank => true}, {:style => "width:450px;"} %>
     <%= f.select :status, options_for_select([["Draft", "draft"], ["Editing", "editing"], ["Published", "published"], ["Updated", "updated"]], @newsitem.status) %>
     <%= f.select :email_to, options_for_select([["None", "none"], ["E-Mail Alerts", "all"]], "None") %>
   </div>

  <div class="admin-block-image">
  <%= f.hidden_field :imagesource %> <%# Backwards compatible hack to make the image work on display, something strange going on when omitting this field %>
  <%= f.file_field :main %> <% if @newsitem.main? %> <span style="font-size: 11px; color: red;">!!!</span><% end %>
    <%= f.check_box :remove_main %> | <%= f.text_field :video, :size => "20", :style => 'padding:5px;' %>
  <div style="margin-top: 3px;">
    <%= f.text_field :caption, :style => 'width: 100%; padding:5px;' %>
  </div>
  </div>
  
  <div class="admin-block-briefing">
    <%= f.text_area :briefing_point, :style => "width:100%; min-height: 80px;", :class => "inputtextarea", :maxlength => 235 %>
  </div>
  
  <div class="admin-block">
  <div style="float:left; text-align:left;">
   <%= f.text_field :slug, :class => "edit-headline", :maxlength => 97, :style => 'width: 100%; padding:5px;' %>
   </div>
   <div class="clear"></div>
   </div>
  
  <div class="admin-block">
    <%= f.text_area :item, :style => "width:100%; min-height: 400px;", :class => "inputtextarea", :maxlength => 2000 %>
  </div>

<% if @newsitem.main? %>
    <div class="admin-block">
      <%= image_tag @newsitem.main.url %>
    </div>
  <% end %>

<div class="admin-block">
<div style="text-align:left; font-size: 12px;">
  <strong>CREATED AT:</strong> <%= f.datetime_field :created_at, :size => '38' %> <strong>UPDATED AT:</strong> <%= f.datetime_field :updated_at, :size => '38' %>
</div>
</div>

<% end %>