<%= form_for @newsitem, :html => {:multipart => true} do |f| %>
  
  <% if @newsitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsitem.errors.count, "error") %> prohibited this newsitem from being saved:</h2>

      <ul>
      <% @newsitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="admin-block-notify">
    <div style="float:left; text-align:left; width: 830px;">
      <%= text_field_tag 'short_slug', '', size: 20, maxlength: 15 %>
      <%= text_field_tag 'short_headline', '', size: 70, maxlength: 70 %>
      | T <%= check_box_tag 'tweet' %> | E <%= check_box_tag 'email' %>
      | <%= f.select :status, options_for_select([["Draft", "draft"], ["Editing", "editing"], ["Published", "published"], ["Updated", "updated"]], @newsitem.status) %>
    </div>
    <div style="float:left; width: 55px; border-left: 1px solid #000; margin-left: 5px; padding-left: 5px; text-align:right;">
      <%= f.submit %>
    </div>
    <div class="clear"></div> 
  </div>
  
  <div class="admin-block">
  <div style="font-size: 12px;">
  <%= f.file_field :main %> <% if @newsitem.main? %> <span style="font-size: 11px; color: red;">Existing…</span><% end %>
   | <%= f.check_box :remove_main %> R?
   | <strong>V:</strong> <%= f.text_field :video, :size => "15" %>
   || <strong>C:</strong> <%= f.text_field :caption, :size => '40' %>
   | <strong>S:</strong> <%= f.text_field :imagesource, :size => '20' %>
  </div>
  </div>
  
  <div class="admin-block">
  <div style="float:left; text-align:left;">
   <%= f.text_field :slug, :class => "edit-headline", :size => "75", :maxlength => 87 %>
   </div>
   <div class="clear"></div>
   </div>
  
  <div class="admin-block">
    <% if action_name == 'edit' %>
      <%= f.text_area :item, :size => "130x8", :class => "inputtextarea", :maxlength => 1200 %>
    <% elsif action_name == 'new' %>
      <%= f.text_area :item, :value => params[:breaking_text], :size => "131x7", :class => "inputtextarea", :maxlength => 1200 %>
    <% end %>
  </div>
  
  <div class="admin-block">
  <strong>S:</strong> 
    <% if action_name == 'edit' %>
      <%= f.text_field :source, :size => "21" %>
    <% elsif action_name == 'new' %>
      <%= f.text_field :source, :value => params[:breaking_source], :size => "21" %>
    <% end %>
   <strong>U:</strong> <%= f.text_field :url, :size => "15" %> <strong>A:</strong> <%= f.collection_select :article_id, @newsitemarticle, :id, :headline, :include_blank => true %>

  </div>
  
  <div class="admin-block">
<div class="admin-classify"><strong>STORIES:</strong> <%= collection_check_boxes(:newsitem, :story_ids, @stories, :id, :story) %></div>
<div class="admin-classify"><strong>REGIONS:</strong> <%= collection_check_boxes(:newsitem, :region_ids, @regions, :id, :region) %></div>
<div class="admin-classify"><strong>CATEGORIES:</strong> <%= collection_check_boxes(:newsitem, :category_ids, @categories, :id, :category) %></div>
</div>

<% if @newsitem.main? %>
    <div class="admin-block">
      <%= image_tag @newsitem.main.url %>
    </div>
  <% end %>

<div class="admin-block">
<div style="text-align:left; font-size: 12px;">
  <strong>CREATED AT:</strong> <%= f.datetime_field :created_at, :size => '38' %> <strong>UPDATED AT:</strong> <%= f.datetime_field :updated_at, :size => '38' %>
</div>
</div>

<% end %>