<% title 'All Updates' %>

<h1>All Updates</h1>

<div class="article-lede">There are <strong><%= @updatecount %></strong> updates.</div>

<div class="index-non-home">
  <div class="listing-left">Updated</div>
  <div class="listing-right">Latest Newsitems</div>
  <div class="clear"></div>
</div>

<h2>Monthly Summary</h2>
<p style="margin-bottom: 20px;">
<% @updatesbymonth.each do |month, updates| %>
<strong><%= month.strftime("%B %Y") %>:</strong> <%= updates.count %><br />
<% end %>
</p>

<% @updatesbyweek.each do |week, updates| %>
<h2><%= week.strftime("Week %U, %Y") %>: <%= updates.count %></h2>
<% updates.each do |newsitem| %>
  <div style="width:100%; padding-top: 3px; font-size: 13px;">
    <div style="width: 11%; float:left;">
      <%= newsitem.created_at.strftime("%a %d/%m, %H:%M") %>
    </div>
    <div style="width: 10%; margin-right: 5px; float:left; text-align:right; font-size: 13px;">
      <% if newsitem.status == 'draft' %>
        <span class="admin-draft">
      <% elsif newsitem.status == 'editing' %>
        <span class="admin-editing">
      <% elsif newsitem.status == 'published' %>
        <span class="admin-published">
      <% elsif newsitem.status == 'updated' %>
        <span class="admin-updated">
      <% else %>
      
      <% end %>
      <%= newsitem.status.capitalize unless newsitem.status.blank? %></span> <%= link_to 'E', edit_newsitem_path(newsitem) %> <%= link_to 'D', newsitem, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <div style="width: 78%; float:right; font-size: 13px;">
        <strong><%= link_to newsitem.slug, newsitem unless newsitem.slug.nil? %></strong>

    </div>
    <div style="clear:both;"></div>   
  </div> 
<% end %>
<% end %>