<% title 'Latest News Updates' %>

<%= render 'tickerstories' %>

<h1>Latest Spain News Updates</h1>

<div class="article-lede">Interesting Spain news items, article updates, quotes, press conferences, data, reports and polls condensed into about 100 words.</div>

<%= render 'emailsignup' %>

<div class="index-non-home">
  <div class="listing-left">Updated</div>
  <div class="listing-right">Latest Updates</div>
  <div class="clear"></div>
</div>
  
<% @last50items.each do |newsitem| %>
<div class="listing-update-container">
  <div class="listing-left">
    <%= newsitem.updated_at.to_formatted_s(:short) %>
  </div>
  <div class="listing-right">
    <% if newsitem.main? %>
        <div class="index-main-image">
          <%= link_to(newsitem) do %>
          <%= image_tag newsitem.main.url if newsitem.main? %>
          <% end %>
        </div>
      <% elsif newsitem.video? %>
        <div class="index-main-image">
        <div class="video-wrapper">
          <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
        </div>
        </div>
      <% else %>
      <% end %>
    <div class="listing-update-text">
      <span class="listing-update-slug"><%= link_to newsitem.slug, newsitem %></span>
      <br />
      <%= markdown(newsitem.item) %>
    </div>
    <div class="clear"></div>
    <div class="meta">
      <strong>Source:</strong> <%= link_to newsitem.source, newsitem.url %> || 
      <%= raw(newsitem.regions.map {|r| raw(link_to(r.region, region_path(r)))}.join(', ')) %>, 
      <%= raw(newsitem.categories.map {|c| raw(link_to(c.category, category_path(c)))}.join(', ')) %>,
      <%= raw(newsitem.stories.map {|s| raw(link_to(s.story, story_path(s)))}.join(', ')) %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% end %>