<% title @newsitem.slug %>

<% content_for :meta do %>
  <% if @newsitem.main? %>
  <meta property="twitter:card" content="summary_large_image"/>
  <% else %>
  <meta property="twitter:card" content="summary"/>
  <% end %>
  <meta property="twitter:site" content="@thespainreport"/>
  <meta property="twitter:title" content="<%= @newsitem.slug %>"/>
  <meta property="twitter:description" content="<%= @newsitem.item.truncate(200) %>"/>
  <% if @newsitem.main? %>
  <meta property="twitter:image" content="<%= @newsitem.main %>"/>
  <% end %>
  
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:title" content="<%= @newsitem.slug %>"/>
  <meta property="og:description" content="<%= @newsitem.item.truncate(200) %>"/>
  <% if @newsitem.main? %>
  <meta property="og:image" content="<%= @newsitem.main %>"/>
  <% end %>
  <meta property="og:site_name" content="The Spain Report"/>
  <meta property="og:updated_time" content="<%= @newsitem.updated_at %>"/>
  
  <meta name="robots" content="noarchive">
<% end %>

<%= render 'tickerstories' %>

<div class="content-left-new-page"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
<div class="content-white-background">

<h1>
<% if current_user.nil? || current_user.role != 'editor' %>
  <%= @newsitem.slug %>
<% elsif current_user.role == 'editor' %>
  <%= link_to @newsitem.slug, edit_newsitem_path(@newsitem) %>
<% else %>
<% end %>
</h1>

<% if @newsitem.status == 'updated' %>
  <div class="news-alert-update"><span class="updated-label">ORIGINAL UPDATED</span></div>
<% end %>
<div class="clear"></div>


<% if @newsitem.main? %>
  <div class="main-image" style="width: 50%; margin-left: 10px; float:right;">
     <%= image_tag @newsitem.main.url if @newsitem.main? %>
    <div class="main-caption">
     <%= @newsitem.caption %>
    </div>
  </div>
<% elsif @newsitem.video? %>
  <div class="main-image" style="width: 50%; margin-left: 10px; float:right;">
    <div class="video-wrapper">
      <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@newsitem.video}?rel=0&amp;showinfo=0") %> 
    </div>
    <div class="main-caption">
      <%= @newsitem.caption %>
    </div>
  </div>
<% else %>
<% end %>

<div class="update-text">

      <%= markdown(@newsitem.item) %>


<% if @newsitem.article %>
<div style="margin-bottom: 20px;">
<strong>Related To:</strong><br />
<span class="update-related-article"><%= link_to @newsitem.article.headline, @newsitem.article unless @newsitem.article.blank? %></span>
</div>
<% end %>

</div> <%# END OF UPDATE TEXT %>

<div class="meta">
<strong>First published:</strong> <%= @newsitem.created_at.strftime("%b %d, %Y, %H:%M") %> | <strong>Last updated:</strong> <%= @newsitem.updated_at.strftime("%b %d, %Y, %H:%M") %>
</div>

<% if current_user.nil? && !paywall %>
  <%= render 'emailsignup' %>
<% else %>
<% end %>

<% if current_user %>
Hello <strong><%= current_user.name unless current_user.name.blank? %></strong>. Write a comment…
<%= form_for [@newsitem, Comment.new] do |f| %>
  <div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <strong>Add your comment:</strong> <em>(max. 1,000 characters &#8776; 175 words &#8776; size of this text box)</em><br />
      <%= f.text_area :comment, :size => '105x9', :maxlength => 1000 %>
      <br />
      <button type="submit" class="blueformbutton">Add Your Comment</button>
    </div>
    <div class="clear"></div>
  </div>
<% end %>

<% else %>
<% end %>

<div style="margin-top: 20px;">

<% if @comments.present? %>
<h2 >COMMENTS</h2>
<% end %>

<% @comments.each do |comment| %>
<div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <strong><%= comment.user.name unless comment.user.blank? %></strong> | 
          <% if comment.user.blank? %>
            Former Reader
          <% else %>
            <% if comment.user.role == 'editor' %>
            <span style="background-color: green; color: white; padding: 2px 2px 2px 5px;">Editor
          <% elsif comment.user.role == 'subscriber' %>
            <span style="background-color: #B78727; color: white; padding: 2px 2px 2px 5px;">Subscriber
          <% elsif comment.user.role == 'reader' %>
            <span style="background-color: #eeeeee; color: black; padding: 2px 2px 2px 5px;">New Reader
          <% else %>
            <span>
          <% end %>
          </span>
        <% end %>
        &nbsp;| <%= comment.updated_at.strftime("%b %d %Y, %H:%M") %>
    </div>
    <div style="width: 100%; font-size: 14px; padding: 10px 0px 10px 10px; line-height: 140%;">
      <%= comment.comment %>
    </div>
    <div class="clear"></div>
</div>
<% end %>
<a name="commentcheck"></a>
</div>



</div>
</div>

<div class="clear"></div>