<% if current_user.nil? && !paywall %>

<% elsif current_user.nil? && paywall %>
  <% content_for :articlepaywall do %>
    <script type="text/javascript" data-turbolinks-track="false">
    $(window).load(function(){
        $('#paywall').modal();
    });
    </script>
  <% end %>
<% elsif current_user.role == 'reader' && paywall_reader %>
  <% content_for :articlepaywall do %>
    <script type="text/javascript" data-turbolinks-track="false">
    $(window).load(function(){
        $('#paywall-reader').modal();
    });
    </script>
  <% end %>
<% elsif current_user.role == 'subscriber' && !current_user.stripe_customer_id %>
  <% content_for :articlepaywall do %>
    <script type="text/javascript" data-turbolinks-track="false">
    $(window).load(function(){
        $('#paywall-resubscribe').modal();
    });
    </script>
  <% end %>
<% else %>
<% end %>

<% title @newsitem.slug %>

<% content_for :meta do %>
  <% if @newsitem.main? %>
  <meta property="twitter:card" content="summary_large_image"/>
  <% else %>
  <meta property="twitter:card" content="summary"/>
  <% end %>
  <meta property="twitter:site" content="@thespainreport"/>
  <meta property="twitter:title" content="<%= @newsitem.slug %>"/>
  <meta property="twitter:description" content="<%= @newsitem.item.truncate(200) %>"/>
  <% if @newsitem.main? %>
  <meta property="twitter:image" content="<%= @newsitem.main %>"/>
  <% end %>
  
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:title" content="<%= @newsitem.slug %>"/>
  <meta property="og:description" content="<%= @newsitem.item.truncate(200) %>"/>
  <% if @newsitem.main? %>
  <meta property="og:image" content="<%= @newsitem.main %>"/>
  <% end %>
  <meta property="og:site_name" content="The Spain Report"/>
  <meta property="og:updated_time" content="<%= @newsitem.updated_at %>"/>
<% end %>

<%= render 'tickerstories' %>

<h1><%= @newsitem.slug %></h1>

<% if @newsitem.status == 'updated' %>
  <div class="news-alert-update"><span class="updated-label">ORIGINAL UPDATED</span></div>
<% end %>
<div class="clear"></div>

<div class="content-left"> <%# LEFT-HAND MAIN CONTENT BLOCK %>

<% if @newsitem.main? %>
  <div class="main-image">
   <%= link_to(@newsitem.main.url) do %>
     <%= image_tag @newsitem.main.url if @newsitem.main? %>
   <% end %>
   <div class="main-caption">
     <%= @newsitem.caption %> <% '<strong>Source:</strong>' unless @newsitem.imagesource.empty? %> <%= @newsitem.imagesource %></div>
  </div>
<% elsif @newsitem.video? %>
  <div class="main-image">
  <div class="video-wrapper">
    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@newsitem.video}?rel=0&amp;showinfo=0") %> 
  </div>
    <div class="main-caption">
      <%= @newsitem.caption %> <% '<strong>Source:</strong>' unless @newsitem.imagesource.empty? %> <%= @newsitem.imagesource %>
    </div>
  </div>
<% else %>
<% end %>

<div class="update-text">

<%= markdown(@newsitem.item) %>

<% if @newsitem.article %>
<div style="margin-bottom: 20px;">
<strong>Related To:</strong><br />
<span class="update-related-article"><%= link_to @newsitem.article.headline, @newsitem.article unless @newsitem.article.blank? %></span>
</div>
<% end %>

</div> <%# END OF UPDATE TEXT %>
</div> <%# END OF LEFT-HAND CONTENT BLOCK %>

<div class="content-right"> <%# START OF RIGHT-HAND CONTENT BLOCK %>
    
    <% if @newsitem.stories.present? %> <%# SUB-TITLE BLOCK: CHECK IF THERE ARE ANY STORY RELATED UPDATES %>
        <div class="content-right-header">
        <% @newsitem.stories.each do |story| %>
          <div class="content-right-header-sub">
            <%= story.story %>
          </div>
        <% end %>
        </div>
      <% else %>
        <div class="content-right-header">
          <div class="content-right-header-sub">
            Latest Spain News Updates
          </div>
        </div>
      <% end %>
  
    <div class="content-right-scroll"> <%# START OF RIGHT-HAND SCROLL BLOCK %>
      
      <% @latestaudio.each do |a| %> <%# AUDIO NEWS %>
        <div class="content-right-update-block">
          <span style="font-size: 12px; font-weight: bold;">2 Minute Spain News, <%= a.updated_at.to_formatted_s(:short) %></span>
          <div style="margin-top: 5px; ">
            <audio controls="controls" preload="none"><source src="<%= a.url %>" ></audio>
          </div>
        </div>
      <% end %>
      
      <% if @newsitem.stories.present? %> <%# CHECK IF THERE ARE ANY STORY RELATED UPDATES %>
      
      <% @newsitem.stories.each do |story| %>
      
        <% story.newsitems.published.lasttwenty.order('created_at DESC').reject {|a| a == @newsitem}.each do |newsitem| %> 
          <% if newsitem.article.present? && newsitem.article.type.name == "LIVE BLOG" %>
          <%= link_to article_url(newsitem.article, anchor: newsitem.id) do %>
            <div class="content-right-update-block">
              <% if newsitem.main? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <%= image_tag newsitem.main.url if newsitem.main? %>
                </div>
              <% elsif newsitem.video? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <div class="video-wrapper">
                    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
                  </div>
                </div>
              <% else %>
              <% end %>
              <%= markdown(newsitem.item.truncate(265)) %>
              <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago <span class="breaking-label-mini">LIVE BLOG</span></span>
            </div>
          <% end %>
        <% elsif newsitem.article.present? %>
          <%= link_to article_url(newsitem.article, anchor: newsitem.id) do %>
            <div class="content-right-update-block">
              <% if newsitem.main? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <%= image_tag newsitem.main.url if newsitem.main? %>
                </div>
              <% elsif newsitem.video? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <div class="video-wrapper">
                    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
                  </div>
                </div>
              <% else %>
              <% end %>
              <%= markdown(newsitem.item.truncate(265)) %>
              <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago</span>
            </div>
          <% end %>
        <% else %>
          <%= link_to newsitem do %>
            <div class="content-right-update-block">
              <% if newsitem.main? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <%= image_tag newsitem.main.url if newsitem.main? %>
                </div>
              <% elsif newsitem.video? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <div class="video-wrapper">
                    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
                  </div>
                </div>
              <% else %>
              <% end %>
              <%= markdown(newsitem.item.truncate(265)) %>
              <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago</span>
            </div>
          <% end %>
        <% end %>
        <% end %>
      <% end %>
      
      <% else %> <%# IF THERE ARE NO STORY RELATED UPDATES, PUBLISH GENERAL LATEST UPDATES %>
        
    <% @last30items.reject {|a| a == @newsitem}.each do |newsitem| %>
      <% if newsitem.article.present? && newsitem.article.type.name == "LIVE BLOG" %>
        <%= link_to article_url(newsitem.article, anchor: newsitem.id) do %>
          <div class="content-right-update-block">
            <% if newsitem.main? %>
              <div style="width:100%; margin-bottom: 3px;">
                <%= image_tag newsitem.main.url if newsitem.main? %>
              </div>
            <% elsif newsitem.video? %>
              <div style="width:100%; margin-bottom: 3px;">
                <div class="video-wrapper">
                  <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
                </div>
              </div>
            <% else %>
            <% end %>
            <%= markdown(newsitem.item.truncate(265)) %>
            <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago <span class="breaking-label-mini">LIVE BLOG</span></span>
          </div>
        <% end %>
      <% elsif newsitem.article.present? %>
        <%= link_to article_url(newsitem.article, anchor: newsitem.id) do %>
          <div class="content-right-update-block">
            <% if newsitem.main? %>
              <div style="width:100%; margin-bottom: 3px;">
                <%= image_tag newsitem.main.url if newsitem.main? %>
              </div>
            <% elsif newsitem.video? %>
              <div style="width:100%; margin-bottom: 3px;">
                <div class="video-wrapper">
                  <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
                </div>
              </div>
            <% else %>
            <% end %>
            <%= markdown(newsitem.item.truncate(265)) %>
            <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago</span>
          </div>
        <% end %>
      <% else %>
        <%= link_to newsitem do %>
          <div class="content-right-update-block">
            <% if newsitem.main? %>
              <div style="width:100%; margin-bottom: 3px;">
                <%= image_tag newsitem.main.url if newsitem.main? %>
              </div>
            <% elsif newsitem.video? %>
              <div style="width:100%; margin-bottom: 3px;">
              <div class="video-wrapper">
                <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
              </div>
              </div>
            <% else %>
            <% end %>
            <%= markdown(newsitem.item.truncate(265)) %>
            <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago</span>
          </div>
        <% end %>
      <% end %>
    <% end %> <%# END OF GENERIC UPDATES IF NO STORY UPDATES %>
        
      <% end %> <%# END OF TYPE OF UPDATES FOR SCROLL LOGIC %>

    </div> <%# END OF RIGHT-HAND SCROLL BLOCK %>
  </div> <%# END OF RIGHT-HAND CONTENT BLOCK %>

<div class="clear"></div>

<div class="meta">
<strong>First published:</strong> <%= @newsitem.created_at.strftime("%b %d, %Y, %H:%M") %> | <strong>Last updated:</strong> <%= @newsitem.updated_at.strftime("%b %d, %Y, %H:%M") %>
</div>

<%= render 'emailsignup' %>

<% if current_user %>
Now it's your turn <strong><%= current_user.name unless current_user.name.blank? %></strong>. What do you think?

<%= form_for [@newsitem, Comment.new] do |f| %>
  <div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <strong>Add your comment:</strong> <em>(max. 1,000 characters &#8776; 175 words &#8776; size of this text box)</em><br />
      <%= f.text_area :comment, :size => '105x9', :maxlength => 1000 %>
      <br />
      <button type="submit" class="blueformbutton">Add Your Comment</button>
    </div>
    <div class="clear"></div>
  </div>
<% end %>

<% else %>
<% end %>

<div style="margin-top: 20px;">

<% if @comments.present? %>
<h2 >COMMENTS</h2>
<% end %>

<% @comments.each do |comment| %>
<div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <strong><%= comment.user.name unless comment.user.blank? %></strong> | 
          <% if comment.user.blank? %>
            Deleted User
          <% else %>
            <% if comment.user.role == 'editor' %>
            <span style="background-color: green; color: white; padding: 2px 5px;">
          <% elsif comment.user.role == 'subscriber' %>
            <span style="background-color: #B78727; color: white; padding: 2px 5px;">
          <% elsif comment.user.role == 'reader' %>
            <span style="background-color: #eeeeee; color: black; padding: 2px 5px;">
          <% else %>
            <span>
          <% end %>
          <%= comment.user.role.to_s.humanize unless comment.user.blank? %></span>
        <% end %> | <%= comment.updated_at.strftime("%b %d %Y, %H:%M") %>
    </div>
    <div style="width: 100%; font-size: 14px; padding: 10px 0px 10px 10px; line-height: 140%;">
      <%= comment.comment %>
    </div>
    <div class="clear"></div>
</div>
<% end %>
<a name="commentcheck"></a>
</div>