<% title 'Latest Comments' %>

<div class="content-left-new-page"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
<div class="content-white-background">

<h1>Latest Comments</h1>

    <% @comments.each do |comment| %>
      <div style="margin-bottom: 5px; padding: 10px 0px; border-bottom: 1px dotted #999999;">
        <div><strong><%= comment.user.name unless comment.user.nil? %></strong> | 
          <% if comment.user.blank? %>
            Former Reader
          <% else %>
          <% if comment.user.role == 'editor' %>
            <span class="editor-label-mini">Editor
          <% elsif comment.user.role == 'subscriber' %>
            <span class="subscriber-label-mini">Subscriber
          <% elsif comment.user.role == 'reader' %>
            <span class="reader-label-mini">New Reader
          <% else %>
            <span>
          <% end %></span>&nbsp;| <%= comment.updated_at.to_formatted_s(:short) %> | 
            
            <% if comment.commentable_type == 'Article' %>
              <%= link_to comment.commentable.headline.truncate(90), comment.commentable %>
            <% elsif comment.commentable_type == 'Newsitem' %>
              <%= link_to comment.commentable.slug, comment.commentable %>
            <% else %>
            
            <% end %>
           
           <% end %>
        </div>
        <div class="clear"></div>
        <div style="margin-top: 5px; line-height: 140%;">
        <%= comment.comment %>
        <% if current_user.nil? %>
        
        <% elsif current_user.role == 'editor' %>
           | <%= link_to 'Edit', edit_comment_path(comment) %> / <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
        <% end %>  
        </div>
        </div>
        
    <% end %>

<div>
<div>