<script>
$(document).ready(function(){
    $(".stories-link").click(function(){
        $(".stories").toggle();
    });
    $(".topics-link").click(function(){
        $(".topics").toggle();
    });
    $(".regions-link").click(function(){
        $(".regions").toggle();
    });
    $(".media-link").click(function(){
        $(".medias").toggle();
    });
    var urlstring = window.location.href;
    if(urlstring.indexOf("togglestories=open")>0){
      $(".stories").toggle();
      }
    var urlstring = window.location.href;
    if(urlstring.indexOf("toggletopics=open")>0){
      $(".topics").toggle();
      }
    var urlstring = window.location.href;
    if(urlstring.indexOf("toggleregions=open")>0){
      $(".regions").toggle();
      }
    var urlstring = window.location.href;
    if(urlstring.indexOf("togglemedias=open")>0){
      $(".medias").toggle();
      }
});
</script>

<div style="margin: 10px auto;">
<p>
<%= link_to "Spain Latest", entries_spain_all_path %> |
<%= link_to "Spain English", entries_spain_english_path %> |
<a href="http://www.thespainreport.com/entries?utf8=%E2%9C%93&any=1&search=españa+español+española+españoles+españolas+spain+spaniard+spanish">Spain & Spaniards</a> |
<a href="http://www.thespainreport.com/entries?utf8=%E2%9C%93&any=1&search=0+00+000+cien+ciento+cientos+cientas+mil+millón+millones+billón+billones">Big Numbers</a>
</p>
<p>
<% @categories.all.each do |category| %>
<a href="<%= entries_path %>?utf8=%E2%9C%93&any=1&toggletopics=open&search=<%= category.keywords %>">
<%= category.category %>
</a> | 
<% end %>
</p>
</div>
  
<h2>Search News Reader</h2>

<div style="margin-top: 10px; margin-bottom: 20px;">
  <%= form_tag(entries_path, :method => "get", id: "search-form") do %>
    <div style="float:left;">
      <%= text_field_tag :search, params[:search], :size => 50, placeholder: "Search Stories" %>
    </div>
    <div style="float:left; margin-left: 10px;">
      <%= radio_button_tag(:all, '1') %> All words
      <%= radio_button_tag(:any, '1') %> Any words
    </div>
    <div style="float:left; margin-left: 10px;">
      <%= submit_tag "Search" %>
    </div>
    <div class="clear"></div>
  <% end %>

<% if params[:search] %>
<div style="float:left; margin-top: 5px; background-color: #FEF9E6; padding: 4px 10px 1px 10px;">
<p><%= @resultscount %> stories containing "<strong><%= params[:search] %></strong>".</p>
</div>
<% else %>
<% end %>
<div class="clear"></div>
</div>

<table width="100%">
  <thead>
    <tr style="border-bottom: 1px solid #000000;">
      <th style="width: 100px;">Time</th>
      <th style="width: 60px;">Feed</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  
  <% if current_user.nil? %>
  <tr><td colspan="3" style="padding: 20px;">
  Spanish journalists are already writing thousands of articles a week in Spanish about how the country is changing. The Spain Report's News Reader constantly watches <%= Feed.count %> Spanish and English news feeds for you and organises them into easy-to-use pages and searches.
  New articles appear as soon as they are published. Subscribers can search all <%= Entry.count %> articles. Never miss another Spain story. <em>(Category and topical searches coming soon).</em>
  
  <%= render 'emailsignup' %>
  </td></tr>
  <tr><td colspan="3">
  <h3 style="margin-top: -10px;">Last 10 World Stories</h3>
  </td></tr>
    <% @teaser_world_entries.each do |entry| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td style="width: 100px; padding-right: 10px; text-align:left;"><%= entry.created_at.strftime("%d/%m, %H:%M") %></td>
        <td style="width: 60px; padding-right: 10px; text-align:left;"><%= entry.feed.try(:slug) %></td>
        <td style="padding-right: 10px; text-align:left;"><%= link_to entry.title.truncate(115), entry.url, :target => "_blank" %></td>
      </tr>
    <% end %>
  
  <tr><td colspan="3">
  <h3>Last 10 Spain Stories</h3>
  </td></tr>
    <% @teaser_spain_entries.each do |entry| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td style="width: 100px; padding-right: 10px; text-align:left;"><%= entry.created_at.strftime("%d/%m, %H:%M") %></td>
        <td style="width: 60px; padding-right: 10px; text-align:left;"><%= entry.feed.try(:slug) %></td>
        <td style="padding-right: 10px; text-align:left;"><%= link_to entry.title.truncate(115), entry.url, :target => "_blank" %></td>
      </tr>
    <% end %>
  
  <% elsif ["editor", "subscriber"].include?(current_user.role) %>
    <% @entries.each do |entry| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td style="width: 100px; padding-right: 10px; text-align:left;"><%= entry.created_at.strftime("%d/%m, %H:%M") %></td>
        <td style="width: 60px; padding-right: 10px; text-align:left;"><%= entry.feed.try(:slug) %></td>
        <td style="padding-right: 10px; text-align:left;"><%= link_to entry.title.truncate(115), entry.url, :target => "_blank" %></td>
      </tr>
    <% end %>

  <% elsif ["reader"].include?(current_user.role) %>
    <% @entries.limit(5).each do |entry| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td style="width: 100px; padding-right: 10px; text-align:left;"><%= entry.created_at.strftime("%d/%m, %H:%M") %></td>
        <td style="width: 60px; padding-right: 10px; text-align:left;"><%= entry.feed.try(:slug) %></td>
        <td style="padding-right: 10px; text-align:left;"><%= link_to entry.title.truncate(115), entry.url, :target => "_blank" %></td>
      </tr>
    <% end %>
      <tr class="even">
        <td style="width: 100px; padding-right: 10px; text-align:left;">……</td>
        <td style="width: 60px; padding-right: 10px; text-align:left;">…</td>
        <td style="padding-right: 10px; text-align:left;">……</td>
      </tr>
      <tr><td colspan="3" style="padding: 20px;">
      Free readers limited to 5 headlines. Subscribers get full access to our Spain News Reader. <a href="https://www.thespainreport.com/subscriptions/new">Subscribe Now</a>
      </td></tr>
  <% else %>
  <% end %>

</tbody>
</table>