<script>
$(document).ready(function(){
    $(".stories-link").click(function(){
        $(".stories").toggle();
    });
    $(".topics-link").click(function(){
        $(".topics").toggle();
    });
    $(".regions-link").click(function(){
        $(".regions").toggle();
    });
    $(".media-link").click(function(){
        $(".medias").toggle();
    });
    var urlstring = window.location.href;
    if(urlstring.indexOf("togglestories=open")>0){
      $(".stories").toggle();
      }
    var urlstring = window.location.href;
    if(urlstring.indexOf("toggletopics=open")>0){
      $(".topics").toggle();
      }
    var urlstring = window.location.href;
    if(urlstring.indexOf("toggleregions=open")>0){
      $(".regions").toggle();
      }
    var urlstring = window.location.href;
    if(urlstring.indexOf("togglemedias=open")>0){
      $(".medias").toggle();
      }
});
</script>

<div style="margin: 10px auto;">
<p><strong>WORLD:</strong> <%= link_to "All World Latest", entries_world_all_path %> | <%= link_to "World Home Pages", entries_world_home_path %> | <%= link_to "World Foreign Affairs", entries_world_foreign_affairs_path %> | <%= link_to "World Politics", entries_world_politics_path %> | <%= link_to "World Economy", entries_world_economy_path %> | <%= link_to "Media & Journalism", entries_world_media_path %></p>
<p><strong>SPAIN:</strong> <%= link_to "All Spain Latest", entries_spain_all_path %> | <%= link_to "Spain in English", entries_spain_english_path %> | <%= link_to "Spain Home Pages", entries_spain_home_path %> | <%= link_to "Spain Opinion", entries_spain_opinion_path %> | <%= link_to "Spain International", entries_spain_international_path %> | <%= link_to "Spain National", entries_spain_national_path %> | <%= link_to "Spain Economy", entries_spain_economy_path %> | <%= link_to "Spain Other", entries_spain_other_path %></p>
<p><strong>DIG DEEPER:</strong> <a href="http://www.thespainreport.com/entries?utf8=%E2%9C%93&any=1&search=españa+español+española+españoles+españolas+spain+spaniard+spanish">Spain & Spaniards</a> | <a href="http://www.thespainreport.com/entries?utf8=%E2%9C%93&any=1&search=0+00+000+cien+ciento+cientos+cientas+mil+millón+millones+billón+billones">Big Numbers</a> | <a href="#" class="stories-link">By Story</a> | <a href="#" class="topics-link">By Topic</a> | <a href="#" class="regions-link">By Region</a> | <a href="#" class="media-link">By Media Outlet</a></p>

<p class="medias" style="display:none; border:1px solid #000; padding: 5px; margin-top: 5px;">
<%= link_to "5 Días", entries_cincodias_path(anchor: "?togglemedias=open") %> | <%= link_to "ABC", entries_abc_path(anchor: "?togglemedias=open") %> | <%= link_to "Antena 3", entries_antenatres_path(anchor: "?togglemedias=open") %> | <%= link_to "COPE", entries_cope_path(anchor: "?togglemedias=open") %> | <%= link_to "EFE", entries_efe_path(anchor: "?togglemedias=open") %> | <%= link_to "El Confidencial", entries_elconfidencial_path(anchor: "?togglemedias=open") %> |  <%= link_to "ECD", entries_elconfidencialdigital_path(anchor: "?togglemedias=open") %> | <%= link_to "El Diario", entries_eldiario_path(anchor: "?togglemedias=open") %> | <%= link_to "El Economista", entries_eleconomista_path(anchor: "?togglemedias=open") %> | <%= link_to "El Español", entries_elespanol_path(anchor: "?togglemedias=open") %> | <%= link_to "El Mundo", entries_elmundo_path(anchor: "?togglemedias=open") %> | <%= link_to "El País", entries_elpais_path(anchor: "?togglemedias=open") %> | <%= link_to "El Periódico", entries_elperiodico_path(anchor: "?togglemedias=open") %> | <%= link_to "Europa Press", entries_europapress_path(anchor: "?togglemedias=open") %> | <%= link_to "Expansión", entries_expansion_path(anchor: "?togglemedias=open") %> | <%= link_to "InfoLibre", entries_infolibre_path(anchor: "?togglemedias=open") %> | <%= link_to "La Sexta", entries_lasexta_path(anchor: "?togglemedias=open") %> | <%= link_to "La Razón", entries_larazon_path(anchor: "?togglemedias=open") %> | <%= link_to "La Vanguardia", entries_lavanguardia_path(anchor: "?togglemedias=open") %> | <%= link_to "Libertad Digital", entries_libertaddigital_path(anchor: "?togglemedias=open") %> | <%= link_to "Onda Cero", entries_ondacero_path(anchor: "?togglemedias=open") %> | <%= link_to "Público", entries_publico_path(anchor: "?togglemedias=open") %> | <%= link_to "SER", entries_ser_path(anchor: "?togglemedias=open") %> | <%= link_to "Tele 5", entries_telecinco_path(anchor: "?togglemedias=open") %> | <%= link_to "TVE", entries_tve_path(anchor: "?togglemedias=open") %> | <%= link_to "Vozpópuli", entries_vozpopuli_path(anchor: "?togglemedias=open") %>
</p>

<p class="stories" style="display:none; border:1px solid #000; padding: 5px; margin-top: 5px;">
<% @stories.each do |story| %>
     <a href="<%= entries_path %>?utf8=%E2%9C%93&any=1&togglestories=open&search=<%= story.keywords %>">
     <%= story.story %>
     </a> · 
  <% end %>
</p>

<p class="topics" style="display:none; border:1px solid #000; padding: 5px; margin-top: 5px;">
<% @categories.all.each do |category| %>
     <a href="http://localhost:3000/entries?utf8=%E2%9C%93&any=1&toggletopics=open&search=<%= category.keywords %>">
     <%= category.category %>
     </a> · 
  <% end %>
</p>

<p class="regions" style="display:none; border:1px solid #000; padding: 5px; margin-top: 5px;">
<% @regions.all.each do |region| %>
     <a href="http://localhost:3000/entries?utf8=%E2%9C%93&any=1&toggleregions=open&search=<%= region.keywords %>">
     <%= region.region %>
     </a> · 
  <% end %>
</p>
</div>
  
<h2>Search News Reader</h2>

<div style="margin-top: 10px; margin-bottom: 20px;">
  <%= form_tag(entries_path, :method => "get", id: "search-form") do %>
    <div style="float:left;">
      <%= text_field_tag :search, params[:search], :size => 50, placeholder: "Search Stories" %>
    </div>
    <div style="float:left; margin-left: 10px;">
      <%= radio_button_tag(:all, '1') %> All words
      <%= radio_button_tag(:any, '1') %> Any words
    </div>
    <div style="float:left; margin-left: 10px;">
      <%= submit_tag "Search" %>
    </div>
    <div class="clear"></div>
  <% end %>

<% if params[:search] %>
<div style="float:left; margin-top: 5px; background-color: #FEF9E6; padding: 4px 10px 1px 10px;">
<p>There are <strong><%= @entries.count %></strong> stories containing "<strong><%= params[:search] %></strong>".</p>
</div>
<% else %>
<% end %>
<div class="clear"></div>
</div>

<table width="100%">
  <thead>
    <tr style="border-bottom: 1px solid #000000;">
      <th style="width: 100px;">Time</th>
      <th style="width: 60px;">Feed</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  
  <% if current_user.nil? %>
  <tr><td colspan="3" style="padding: 20px;">
  Spanish journalists are already writing thousands of articles a week in Spanish about how the country is changing. The Spain Report's News Reader constantly watches <%= Feed.count %> Spanish and English news feeds for you and organises them into easy-to-use pages and searches.
  New articles appear as soon as they are published. Subscribers can search all <%= Entry.count %> articles. Never miss another Spain story. <em>(Category and topical searches coming soon).</em>
  
  <%= render 'emailsignup' %>
  </td></tr>
  <tr><td colspan="3">
  <h3 style="margin-top: -10px;">Last 10 World Stories</h3>
  </td></tr>
    <% @teaser_world_entries.each do |entry| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td style="width: 100px; padding-right: 10px; text-align:left;"><%= entry.created_at.strftime("%d/%m, %H:%M") %></td>
        <td style="width: 60px; padding-right: 10px; text-align:left;"><%= entry.feed.try(:slug) %></td>
        <td style="padding-right: 10px; text-align:left;"><%= link_to entry.title.truncate(115), entry.url, :target => "_blank" %></td>
      </tr>
    <% end %>
  
  <tr><td colspan="3">
  <h3>Last 10 Spain Stories</h3>
  </td></tr>
    <% @teaser_spain_entries.each do |entry| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td style="width: 100px; padding-right: 10px; text-align:left;"><%= entry.created_at.strftime("%d/%m, %H:%M") %></td>
        <td style="width: 60px; padding-right: 10px; text-align:left;"><%= entry.feed.try(:slug) %></td>
        <td style="padding-right: 10px; text-align:left;"><%= link_to entry.title.truncate(115), entry.url, :target => "_blank" %></td>
      </tr>
    <% end %>
  
  <% elsif ["editor", "subscriber"].include?(current_user.role) %>
    <% @entries.each do |entry| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td style="width: 100px; padding-right: 10px; text-align:left;"><%= entry.created_at.strftime("%d/%m, %H:%M") %></td>
        <td style="width: 60px; padding-right: 10px; text-align:left;"><%= entry.feed.try(:slug) %></td>
        <td style="padding-right: 10px; text-align:left;"><%= link_to entry.title.truncate(115), entry.url, :target => "_blank" %></td>
      </tr>
    <% end %>

  <% elsif ["reader"].include?(current_user.role) %>
    <% @entries.limit(5).each do |entry| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td style="width: 100px; padding-right: 10px; text-align:left;"><%= entry.created_at.strftime("%d/%m, %H:%M") %></td>
        <td style="width: 60px; padding-right: 10px; text-align:left;"><%= entry.feed.try(:slug) %></td>
        <td style="padding-right: 10px; text-align:left;"><%= link_to entry.title.truncate(115), entry.url, :target => "_blank" %></td>
      </tr>
    <% end %>
      <tr class="even">
        <td style="width: 100px; padding-right: 10px; text-align:left;">……</td>
        <td style="width: 60px; padding-right: 10px; text-align:left;">…</td>
        <td style="padding-right: 10px; text-align:left;">……</td>
      </tr>
      <tr><td colspan="3" style="padding: 20px;">
      Free readers limited to 5 headlines. Subscribers get full access to our Spain News Reader. <a href="https://www.thespainreport.com/subscriptions/new">Subscribe Now</a>
      </td></tr>
  <% else %>
  <% end %>

</tbody>
</table>