<h2>My Story Notifications</h2>
  <% if current_user %>
    <%= form_for current_user, :html => {:multipart => true} do |f| %>
      <% @article.stories.each do |s| %>
        <div class="notifications-admin">
          <div class="notifications-admin-left"><%= link_to s.story, s %></div>
          <div class="notifications-admin-right">
            <% s.notifications.where(user_id: current_user).each do %>
              <%= f.fields_for :notifications, current_user.notifications.where(:story_id => s.id) do |n| %>
                <%= n.collection_radio_buttons(:notificationtype_id, @notificationtypes, :id, :name) %>
              <% end %> 
            <% end %>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
      <div class="admin-submit-button">
        <button type="submit" class="blueformbutton">Save Changes</button>
      </div>
    <% end %>
  <% else %>
    <p class="user-paragraph">
      Please log in or join The Spain Report to change your notifications for these stories.
    </p>
      <% @article.stories.each do |s| %>
        <div class="notifications-admin">
          <div class="notifications-admin-left"><%= link_to s.story, s %></div>
          <div class="notifications-admin-right">
            <input type="radio" name="<%= s.id %>" value="" checked="checked"> <label>E-Mail Alerts</label>
            <input type="radio" name="<%= s.id %>" value=""> <label>My Spain Briefings</label>
            <input type="radio" name="<%= s.id %>" value=""> <label>Website Only</label>
            <input type="radio" name="<%= s.id %>" value=""> <label>Not Interested</label>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
  <% end %>