<%= form_for @article, :html => {:multipart => true} do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="admin-block-notify">
    <div style="float:left; text-align:left; width: 755px;">
      <%= f.text_field :short_slug, :size => "18", :maxlength => "15" %>
      <%= f.text_field :short_headline, :size => "65", :maxlength => "70" %>
      | T <%= check_box_tag 'tweet' %> 
      | <%= f.select :email_to, options_for_select([["None", "none"], ["All", "all"], ["Readers", "readers"], ["Subscribers", "subscribers"]], @article.email_to) %>
         </div>
    <div style="float:left; width: 175px; border-left: 1px solid #000; margin-left: 5px; margin-top: 2px; padding-left: 5px; text-align:right;">
      <div style="float:left;">
        <%= f.select :status, options_for_select([["Draft", "draft"], ["Editing", "editing"], ["Published", "published"], ["Updated", "updated"]], @article.status) %>
        <%= f.submit %>
      </div>
      <div style="float:left;">
        &nbsp;<%= link_to 'Go', @article, :target => 'blank' %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div> 
  </div>
  
  <div class="admin-block" style="background-color: #ffcccc;">
  <%= f.file_field :main %> <% if @article.main? %> <span style="font-size: 11px; color: red;">!!!</span><% end %>
      <%= f.check_box :remove_main %>
      | <%= f.text_field :video, :size => "20", :style => 'padding:5px;' %>
      | <%= f.text_field :caption, :size => '62', :style => 'padding:5px;' %>
  </div>
  
  <div class="admin-block">
    <div>
      <% if action_name == 'new_summary' %>
        <%= f.text_field :headline, :class => "edit-headline", :size => '83', :style => 'padding:5px;', :value => 'Daily Spain Briefing: ' + Date.today.strftime("%A, %B %-d, %Y") %>
      <% else %>
        <%= f.text_field :headline, :class => "edit-headline", :size => '83', :style => 'padding:5px;' %>
      <% end %>
    </div>
    <div style="margin-top: 5px;">
      <%= f.check_box :topstory %> | <%= f.select :urgency, options_for_select([["Latest", "latest"], ["Breaking", "breaking"], ["Major Breaking", "majorbreaking"]], @article.urgency), :include_blank => true %>
      | 
      <% if action_name == 'new_summary' %>
        <%= f.collection_select :type_id, @types, :id, :name, :selected => 32 %>
      <% else %>
        <%= f.collection_select :type_id, @types, :id, :name %>
      <% end %>
      | <%= f.text_field :lede, :size => '79', :class => "edit-lede", :style => 'padding:5px;' %>
    </div>
  </div>
  
  
  
  <div class="admin-block">
    <%= f.text_area :summary, :size => '130x4', :maxlength => 450, :style => 'padding:5px;' %>
    <%= f.hidden_field :source %> <%# Backwards compatible hack to make the image work on display, something strange going on when omitting this field %>
  </div>

  
<div class="admin-block">
      <textarea name="article[body]" id="article_body" class="inputtextarea" cols="130" rows="27">
<% if action_name == 'new_summary' %>

  <% Article.last24.published.each do |article| %>
<%= article.try(:summary) %> ([Read full article](<%= article_url(article) %>))

  <% end %>

  <% Newsitem.last24.published.each do |newsitem| %>
**<%= newsitem.try(:summary_slug) %>:** <%= newsitem.try(:summary) %> ([Read full update](
    <% if newsitem.article.present? && newsitem.article.type.name == "LIVE BLOG" %>
<%= article_url(newsitem.article, anchor: newsitem.id) %>      
    <% elsif newsitem.article.present? %>
<%= article_url(newsitem.article, anchor: newsitem.id) %>
    <% else %>
<%= newsitem_url(newsitem) %>
    <% end %>
))
  <% end %>

<% elsif action_name == 'new' %>
REPORTING: events/facts/data + description + states + smell/taste/touch/sound/sights + intensity + original + no waaaay + locations + timings + resources + Spaniards
CONTEXT: significance, environment, surroundings, (infra)structure, related events, debates, trends, driving forces, rhetoric, discourses, history, country comparison, ideals, core
PLAYERS: protagonist, antagonist, groups, sides, alliances, struggles, goals, glory, identity, thoughts, emotions, values, beliefs, (re)actions, background, influences, 
STORY: conflict, story moments, acts, arcs, tension, unknowns, threats, gaps, opportunities, possibilities, realisation, change, consequences, 
STRATEGIES: resources, vision, planning, loops, speed, phases, level/coherence of execution, logistics, investment, commitment, habits & routines
<% else %>
<%= @article.body %>
<% end %>
</textarea>
</div>

  <div class="admin-block">
    <div class="admin-classify"><strong>STORIES:</strong> <%= collection_check_boxes(:article, :story_ids, @stories, :id, :story) %></div>
    <div class="admin-classify"><strong>REGIONS:</strong> <%= collection_check_boxes(:article, :region_ids, @regions, :id, :region) %></div>
    <div class="admin-classify"><strong>CATEGORIES:</strong> <%= collection_check_boxes(:article, :category_ids, @categories, :id, :category) %></div>
  </div>
  
  <% if @article.main? %>
    <div class="admin-block">
      <%= image_tag @article.main.url %>
    </div>
  <% end %>
  
  <div class="admin-block">
    <div style="font-size: 12px;">
      <strong>CREATED AT:</strong> <%= f.datetime_field :created_at, :size => '35' %> <strong>UPDATED AT:</strong> <%= f.datetime_field :updated_at, :size => '35' %>
    </div>
  </div>
  
<% end %>