<div class="content-right-update-block">
  <% if newsitem.main? %>
    <div style="width:100%; margin-bottom: 3px;">
      <%= image_tag newsitem.main.url if newsitem.main? %>
    </div>
  <% elsif newsitem.video? %>
    <div style="width:100%; margin-bottom: 3px;">
      <div class="video-wrapper">
        <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
      </div>
    </div>
  <% else %>
  <% end %>
  <p style=""><span style="font-weight:bold;"><%= newsitem.slug %></span>. <%= newsitem.item.truncate(150) %></p>
  <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago <span class="breaking-label-mini">LIVE BLOG</span></span>
</div>