<% title 'All Articles' %>

<h1>Edit All Articles</h1>

<div class="article-lede">There are <strong><%= @newscount %></strong> news stories, <strong><%= @editorialcount %></strong> editorials, <strong><%= @indepthcount %></strong> in-depth articles and <strong><%= @blogcount %></strong> blog posts.</div>

<div class="index-non-home">
  <div class="listing-left">Updated</div>
  <div class="listing-right">Latest Articles</div>
  <div class="clear"></div>
</div>

<% @articles.each do |article| %>
  <div style="width:100%; padding-top: 3px; font-size: 13px;">
    <div style="width: 9%; float:left;">
      <%= article.updated_at.to_formatted_s(:short) %>
    </div>
    <div style="width: 10%; margin-right: 5px; float:left; text-align:right; font-size: 13px;">
      <% if article.status == 'draft' %>
        <span class="admin-draft">
      <% elsif article.status == 'editing' %>
        <span class="admin-editing">
      <% elsif article.status == 'published' %>
        <span class="admin-published">
      <% elsif article.status == 'updated' %>
        <span class="admin-updated">
      <% else %>
      
      <% end %>
      <%= article.status.capitalize unless article.status.blank? %></span> <%= link_to 'E', edit_article_path(article) %> <%= link_to 'D', article, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <div style="width: 80%; float:right; font-size: 13px;">
      <% if article.urgency == 'majorbreaking' %>
        <span class="breaking">MAJOR BREAKING</span> <strong><%= link_to article.headline, article %></strong>
      <% elsif article.urgency == 'breaking' %>
        <span class="breaking">BREAKING</span> <strong><%= link_to article.headline, article %></strong>
      <% elsif article.urgency == 'latest' %>
        <span class="latest">LATEST</span> <strong><%= link_to article.headline, article %></strong>
      
      <% elsif article.type.name == 'EDITORIAL' %>
        <span class="editorial">EDITORIAL</span> <strong><%= link_to article.headline, article %></strong>
      <% else %>  
        <strong><%= article.type.name unless article.type.nil? %>: <%= link_to article.headline, article %></strong>
      <% end %>

    </div>
    <div style="clear:both;"></div>   
  </div> 
    <% end %>

<br>

<%= link_to 'New Article', new_article_path %>
