<% title 'Blog' %>

<%= render 'tickerstories' %>

<h1>Blog</h1>

<div class="article-lede">
Announcements and posts about The Spain Report as a news service, as a company and as a project. Our story.
</div>

<div class="index-non-home">
  <div class="listing-left">Updated</div>
  <div class="listing-right">Latest Articles</div>
  <div class="clear"></div>
</div>

<% @is_blog.each do |article| %>
  <div style="width:100%; padding-top: 10px;">
    <div style="width: 10%; float:left;">
      <%= article.updated_at.to_formatted_s(:short) %>
    </div>
    <div style="width: 90%; float:right;">
      <% if article.type.name == 'EDITORIAL' %>
        <span class="editorial">EDITORIAL</span> <strong><%= link_to article.headline, article %></strong><br /><%= article.lede %> (<%= link_to 'E', edit_article_path(article) %> <%= link_to 'D', article, method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% else %>  
        <strong><%= article.type.name unless article.type.nil? %>:</strong><strong><%= link_to article.headline, article %></strong><br /><%= article.lede %> (<%= link_to 'E', edit_article_path(article) %> <%= link_to 'D', article, method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% end %>
      <div class="meta">
        <%= raw(article.regions.map {|r| raw(link_to(r.region, region_path(r)))}.join(', ')) %>, 
        <%= raw(article.categories.map {|c| raw(link_to(c.category, category_path(c)))}.join(', ')) %>,
        <%= raw(article.stories.map {|s| raw(link_to(s.story, story_path(s)))}.join(', ')) %>
      </div>
    </div>
    <div style="clear:both;"></div>   
  </div> 
    <% end %>