<% title 'Editorials & Analysis' %>

<%= render 'tickerstories' %>

<div class="content-left-new-page"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
<div class="content-white-background">

<h1>Editorials & Analysis</h1>

<div class="article-lede">
Our editorials and analysis give you the context, meaning and big picture to explain how all of the news fits together.
</div>

<div class="index-non-home">
  <div class="listing-left">Updated</div>
  <div class="listing-right">Latest Articles</div>
  <div class="clear"></div>
</div>

<% @last30.each do |article| %>
  <div style="width:100%; padding-top: 10px;">
    <div class="listing-left">
      <%= article.updated_at.to_formatted_s(:short) %>
    </div>
    <div class="listing-right">
    <div class="listing-update-text">
        <span class="listing-update-slug"><span class="editorial-label-mini">EDITORIAL</span> <%= link_to article.headline, article %></span><p><%= article.lede %></p> 
    </div>
      <div class="meta">
        <%= raw(article.regions.map {|r| raw(link_to(r.region, region_path(r)))}.join(', ')) %>, 
        <%= raw(article.categories.map {|c| raw(link_to(c.category, category_path(c)))}.join(', ')) %>,
        <%= raw(article.stories.map {|s| raw(link_to(s.story, story_path(s)))}.join(', ')) %>
      </div>
    </div>
    <div style="clear:both;"></div>   
  </div> 
    <% end %>

</div>
</div>
<div style="clear:both;"></div> 