<% title 'Editorials & Editor\'s Video Blog' %>

<%= render 'tickerstories' %>

<h1>Editorials & Editor's Video Blog</h1>

<div class="article-lede">
After lots of original, independent reporting, our editorials give you lots of context and meaning to explain how it all fits together.
</div>

<%= render 'emailsignup' %>

<div class="index-non-home">
  <div class="listing-left">Updated</div>
  <div class="listing-right">Latest Articles</div>
  <div class="clear"></div>
</div>

<% @last30.each do |article| %>
  <div style="width:100%; padding-top: 10px;">
    <div class="listing-left">
      <%= article.updated_at.to_formatted_s(:short) %>
    </div>
    <div class="listing-right">
    <div class="listing-update-text">
        <span class="listing-update-slug"><span class="editorial">EDITORIAL</span> <%= link_to article.headline, article %></span><p><%= article.lede %></p> 
    </div>
      <div class="meta">
        <%= raw(article.regions.map {|r| raw(link_to(r.region, region_path(r)))}.join(', ')) %>, 
        <%= raw(article.categories.map {|c| raw(link_to(c.category, category_path(c)))}.join(', ')) %>,
        <%= raw(article.stories.map {|s| raw(link_to(s.story, story_path(s)))}.join(', ')) %>
      </div>
    </div>
    <div style="clear:both;"></div>   
  </div> 
    <% end %>