<% title 'Latest Spain News' %>

<%= render 'tickerstories' %>

<h1>Latest Spain News</h1>

<div class="article-lede">
Original, independent reporting. We talk to Spanish sources for you and human translate all the relevant quotes and information.
</div>

<%= render 'emailsignup' %>

<div class="index-non-home">
  <div class="listing-left">Date</div>
  <div class="listing-right">Latest Spain News</div>
  <div class="clear"></div>
</div>

<% (Article.published.lastthirty + Newsitem.published.lastthirty).sort_by { |obj| obj.created_at }.reverse.each do |article| %>
  <div style="width:100%; padding-top: 10px;">
    <div class="listing-left">
      <%= article.created_at.to_formatted_s(:short) %>
    </div>
    <div class="listing-right" style="border-bottom: 1px dotted #999999;">
    <div class="listing-update-text">
      <span class="listing-update-slug"><%= link_to article.headline, article %></span>
      <p><%= article.lede.truncate(130) %></p>
    </div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>