<% title 'Latest News Articles' %>

<%= render 'tickerstories' %>

<h1>Latest News Articles</h1>

<div class="article-lede">
Original, independent reporting. We talk to Spanish sources for you and human translate all the relevant quotes and information.
</div>

<%= render 'emailsignup' %>

<div class="index-non-home">
  <div class="listing-left">Updated</div>
  <div class="listing-right">Latest Articles</div>
  <div class="clear"></div>
</div>

<% @last30.each do |article| %>
  <div style="width:100%; padding-top: 10px;">
    <div class="listing-left">
      <%= article.updated_at.to_formatted_s(:short) %>
    </div>
    <div class="listing-right">
      <% if article.urgency == 'majorbreaking' %>
         <span class="breaking"><%= link_to 'MAJOR BREAKING' + ': ' + article.headline, article %></span><br /><%= article.lede %>
      <% elsif article.urgency == 'breaking' %>
        <span class="breaking">BREAKING</span> <strong><%= link_to article.headline, article %></strong></span><br /><%= article.lede %> (<%= link_to 'E', edit_article_path(article) %> <%= link_to 'D', article, method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% elsif article.urgency == 'latest' %>
        <span class="latest">LATEST</span> <strong><%= link_to article.headline, article %></strong></span><br /><%= article.lede %> (<%= link_to 'E', edit_article_path(article) %> <%= link_to 'D', article, method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% elsif article.status == 'updated' %>
        <span class="updated">UPDATED</span> <strong><%= link_to article.headline, article %></strong><br /><%= article.lede %> (<%= link_to 'E', edit_article_path(article) %> <%= link_to 'D', article, method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% elsif article.type.name == 'EDITORIAL' %>
        <span class="editorial">EDITORIAL</span> <strong><%= link_to article.headline, article %></strong><br /><%= article.lede %> (<%= link_to 'E', edit_article_path(article) %> <%= link_to 'D', article, method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% else %>  
        <strong><%= article.type.name unless article.type.nil? %>:</strong> <strong><%= link_to article.headline, article %></strong><br /><%= article.lede %> (<%= link_to 'E', edit_article_path(article) %> <%= link_to 'D', article, method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% end %> 
      <div class="meta">
        <%= raw(article.regions.map {|r| raw(link_to(r.region, region_path(r)))}.join(', ')) %>, 
        <%= raw(article.categories.map {|c| raw(link_to(c.category, category_path(c)))}.join(', ')) %>,
        <%= raw(article.stories.map {|s| raw(link_to(s.story, story_path(s)))}.join(', ')) %>
      </div>
    </div>
    <div style="clear:both;"></div>   
  </div> 
    <% end %>