<% if @article.type.try(:name) == "LIVE BLOG" %>
  <% title 'LIVE BLOG: ' + @article.headline %>
<% else %>
  <% title @article.headline %>
<% end %>

<% content_for :meta do %>
  <% if @article.main? %>
  <meta property="twitter:card" content="summary_large_image"/>
  <% else %>
  <meta property="twitter:card" content="summary"/>
  <% end %>
  <meta property="twitter:site" content="@thespainreport"/>
  <meta property="twitter:title" content="<%= @article.headline %>"/>
  <meta property="twitter:description" content="<%= @article.lede %>"/>
  <meta property="twitter:image" content="<%= @article.main %>"/>
  
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:title" content="<%= @article.headline %>"/>
  <meta property="og:description" content="<%= @article.lede %>"/>
  <% if @article.main? %>
  <meta property="og:image" content="<%= @article.main %>"/>
  <% end %>
  <meta property="og:site_name" content="The Spain Report"/>
  <meta property="og:updated_time" content="<%= @article.updated_at %>"/>
  
  <meta name="robots" content="noarchive">
<% end %>

<%= render 'tickerstories' %>

<div class="content-left-new"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
<div class="content-white-background">

<h1>
<% if current_user.nil? || current_user.role != 'editor' %>
  <% if @article.type.try(:name) == "LIVE BLOG" %>
    LIVE BLOG: 
  <% else %>
  <% end %>
  <%= @article.headline %>
<% elsif current_user.role == 'editor' %>
  <% if @article.type.try(:name) == "LIVE BLOG" %>
    LIVE BLOG: 
  <% else %>
  <% end %>
  <%= link_to @article.headline, edit_article_path(@article) %>
<% else %>
<% end %>
</h1>

<% if @article.urgency == 'majorbreaking' && @article.updated_at >= 2.hours.ago %>
  <div class="news-alert"><span class="listing-update-slug"><span class="breaking-label-mini">MAJOR BREAKING NEWS</span></span></div>
<% elsif @article.urgency == 'breaking' && @article.updated_at >= 2.hours.ago %>
  <div class="news-alert"><span class="listing-update-slug"><span class="breaking-label-mini">BREAKING NEWS</span></span></div>
<% elsif @article.urgency == 'latest' && @article.updated_at >= 12.hours.ago %>
  <div class="news-alert"><span class="listing-update-slug"><span class="latest-label-mini">LATEST NEWS</span></span></div>
<% else %>
<% end %>

<% if @article.type.try(:name) == 'EDITORIAL' %>
  <div class="news-alert"><span class="listing-update-slug"><span class="editorial-label-mini">EDITORIAL</span></span></div>
<% end %>

<% if @article.type.try(:name) == 'ANALYSIS' %>
  <div class="news-alert"><span class="listing-update-slug"><span class="editorial-label-mini">ANALYSIS</span></span></div>
<% end %>

<% if @article.type.try(:name) == "LIVE BLOG" %>
  <div class="news-alert"><span class="listing-update-slug"><span class="breaking-label-mini">LIVE BLOG</span></span></div>
<% end %>

<% if @article.type.try(:name) == "DAILY BRIEFING" %>
  <div class="news-alert"><span class="listing-update-slug"><span class="latest-label-mini">DAILY BRIEFING</span></span></div>
<% end %>

<% if !["NEWS", "DAILY BRIEFING", "EDITORIAL", "ANALYSIS", "BLOG", "LIVE BLOG"].include?(@article.type.try(:name)) %>
  <div class="news-alert"><span class="listing-update-slug"><span class="indepth-label-mini"><%= @article.type.try(:name) %></span></span></div>
<% end %>

<% if @articleupdates.present? %>
  <div class="news-alert"><span class="listing-update-slug"><span class="updated-label-mini">UPDATES ADDED</span></span></div>
<% end %>
<% if @article.status == "updated" %>
  <div class="news-alert"><span class="listing-update-slug"><span class="updated-label-mini">ORIGINAL UPDATED</span></span></div>
<% end %>

<div class="clear"></div>

<div class="article-lede"><strong><%= @article.created_at.strftime("%b %d %Y") %>—<%= @article.type.try(:name) %></strong>—<%= @article.lede %>
  <% if ["IMAGES", "LIVE BLOG", "DAILY BRIEFING"].include?(@article.type.try(:name)) %>
  
  <% elsif @articleupdates.present? %> <%# POST ANY PUBLISHED UPDATES TO THE ARTICLE %>
    <ul style="margin-top: 3px; margin-bottom: 0px; margin-left: 30px; margin-right: 0;">
    <% @article.newsitems.each do |newsitem| %>
        <li style="margin: 0 auto; font-size: 13px; text-align:left; font-style: normal;"><%= link_to newsitem.slug, article_path(@article, anchor: newsitem.id), :style => "color: #005BBF; text-decoration: underline;"%></li>
    <% end %>
    </ul>
  <% else %>
  <% end %>
</div>

<% if @article.type.try(:name) == "LIVE BLOG" %> <%# LIVE-BLOG LAYOUT STARTS HERE %>
  
  <% if @article.main? %> <%# MAIN IMAGE OR VIDEO %>
    <div class="main-image">
        <%= image_tag @article.main.url if @article.main? %>
    <div class="main-caption">
      <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
    </div>
    </div>
  <% elsif @article.video? %>
    <div class="main-image">
      <div class="video-wrapper">
        <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0") %>
      </div>
      <div class="main-caption">
        <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
      </div>
    </div>
  <% else %>
  <% end %>
  
  <h2>Summary So Far…</h2> <%# LIVE-BLOG QUICK SUMMARY %>
  <div class="article-text">
  
  <p style="font-style:italic;"> <%# LIVE-BLOG TEASER TEXT %>
    (Our live blogs are free to read. Refresh for updates. Sign-up for e-mail alerts if you want notifications pushed to your device as soon as we publish them.)
  </p>
  
  <%= markdown(@article.body) %>
  
  <% if @articleupdates.present? %> <%# POST ANY PUBLISHED UPDATES TO THE ARTICLE %>
    <ul style="margin-top: 3px; margin-bottom: 0px; margin-left: 30px; margin-right: 0;">
    <% @article.newsitems.order('created_at DESC').each do |newsitem| %>
        <li style="margin: 0 auto; font-size: 14px; text-align:left; font-style: normal;"><%= link_to newsitem.slug, article_path(@article, anchor: newsitem.id), :style => "color: #005BBF; text-decoration: underline;"%></li>
    <% end %>
    </ul>
  <% else %>
  <% end %>
  
  <h2 style="margin-top:15px;">Latest Updates…</h2> <%# LIVE-BLOG ENTRIES %>
  
    <% if @article.newsitems.present? %> <%# ARE THERE ANY LIVE-BLOG ENTRIES? %>
      <% @article.newsitems.order('created_at DESC').each do |newsitem| %>
        <div class="liveblog-updates">
        <div class="content-white-background">
          <p style="font-size: 11px; color: #999999;"><strong>Update</strong>, <%= newsitem.created_at.strftime("%l:%M %P, %b %d %Y") %> (<%= link_to "link", article_path(@article, anchor: newsitem.id), id: newsitem.id, :style => "padding-top: 90px; margin-top: -90px; display: inline-block; background-color: transparent;" %>)</p>

          <h3><%= newsitem.slug %></h3> <%# LIVE-BLOG SLUG TITLE %>
          <% if newsitem.main? %> <%# PHOTO OR VIDEO WITH THE ENTRY? %>
            <div class="main-image-liveblog-update">
                <%= image_tag newsitem.main.url if newsitem.main? %>
              <div class="liveblog-caption">
                <%= newsitem.caption %>
              </div>
            </div>
          <% elsif newsitem.video? %>
            <div class="main-image-liveblog-update-video">
              <div class="video-wrapper">
                <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
              </div>
              <div class="liveblog-caption">
                <%= newsitem.caption %>
              </div>
            </div> 
          <% else %>
          <% end %>
          <%= markdown(newsitem.item.html_safe) %> <%# LIVE-BLOG ENTRY TEXT %>
          <div class="clear"></div>
        </div>
        </div>
      <% end %> <%# END OF LIVE-BLOG ENTRIES %>
    <% else %> <%# IF THERE ARE NO LIVE-BLOG ENTRIES YET… %>
      <p style="font-style:italic;">
        Brand new live blog for breaking story, standby for first update very shortly. Refresh page.
      </p>
    <% end %> <%# END OF LIVE-BLOG ENTRY LOGIC %>
    
    
  
    </div> <%# END OF LEFT-HAND CONTENT WHITE BACKGROUND %>
    </div> <%# END OF LIVE-BLOG ARTICLE TEXT & ENTRIES %>

  <div class="content-white-background">
  <% if current_user.nil? && !paywall %>
  <%= render 'emailsignup' %>
<% else %>
<% end %>

<% if current_user %>
Hello <strong><%= current_user.name %></strong>. Write a comment…

<%= form_for [@article, Comment.new] do |f| %>
  <div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <%= f.text_area :comment, :style => "width:100%;", :maxlength => 1000, :class => "inputtextarea" %>
      <br />
      <button type="submit" class="blueformbutton" style="float: right;">Add Your Comment</button>
    </div>
    <div class="clear"></div>
  </div>
<% end %>

<% else %>
<% end %>

<% if @comments.present? %>
<h2 >COMMENTS</h2>
<% end %>

<div style="margin-top: 20px;">
<% @comments.each do |comment| %>
<div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <strong> 
        <% if comment.user.blank? %> 
        
        <% elsif comment.user == current_user && comment.user.name.nil? %>
          <%= link_to 'Set your display name here', edit_user_path(current_user) %> 
        <% elsif comment.user.name.nil? %>
          Anonymous
        <% else %>
          <%= comment.user.name %>
        <% end %>
      </strong>
       |
        <% if comment.user.blank? %>
          Former Reader
        <% else %>
          <% if comment.user.role == 'editor' %>
            <span style="background-color: green; color: white; padding: 2px 2px 2px 5px;">Editor
          <% elsif comment.user.role == 'subscriber' %>
            <span style="background-color: #B78727; color: white; padding: 2px 2px 2px 5px;">Subscriber
          <% elsif comment.user.role == 'reader' %>
            <span style="background-color: #eeeeee; color: black; padding: 2px 2px 2px 5px;">New Reader
          <% else %>
            <span>
          <% end %>
          </span>
        <% end %>
       &nbsp;| <%= comment.updated_at.strftime("%b %d %Y, %H:%M") %>
    </div>
    <div style="width: 100%; font-size: 14px; padding: 10px 0px 10px 10px; line-height: 140%;">
      <%= comment.comment %>
    </div>
    <div class="clear"></div>
</div>
<% end %>
<a name="commentcheck"></a>
</div>

</div>

  </div>
  
  <div class="content-right"> <%# START OF RIGHT-HAND CONTENT BLOCK %>
        
        <% if @article.stories.present? %> <%# CHECK IF THERE ARE ANY STORY RELATED UPDATES %>
      
      <% @article.stories.each do |story| %>
      <div style="margin-bottom: 10px;">
      <div class="sidebar-header-top-new"><%= story.story %></div>
      <% if story.articles.published.reject {|a| a == @article}.present? %>
        <% story.articles.published.lastsix.reject {|a| a == @article}.each do |article| %>
          <div class="content-white-background">
          <%= link_to article do %>
              <% if article.main? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <%= image_tag article.main.url if article.main? %>
                </div>
              <% elsif article.video? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <div class="video-wrapper">
                    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{article.video}?rel=0&amp;showinfo=0") %>
                  </div>
                </div>
              <% else %>
              <% end %>
              <p><span style="font-weight:bold; font-family: Oswald; font-size: 13px;"><%= article.headline %></span></p>
              <p style="font-size: 12px;"><%= article.body.truncate(150) %></p>
              <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(article.created_at) %> ago 
                <% if article.type.name == "LIVE BLOG" %><span class="breaking-label-mini">LIVE BLOG</span><% end %>
                <% if article.type.name == "EDITORIAL" %><span class="editorial-label-mini">EDITORIAL</span><% end %>
              </span>
          <% end %>
          </div> <%# END OF RIGHT-HAND CONTENT WHITE BACKGROUND %>
        <% end %>
      <% else %>
        <div class="content-white-background" style="margin-bottom: 15px;">
          <p style="font-size: 12px;">No other articles about this story yet.</p>
        </div>
      <% end %> 
      </div> 
      <% end %>
      
      <% else %> <%# IF THERE ARE NO STORY RELATED UPDATES, PUBLISH GENERAL LATEST UPDATES %>
    
    <div class="sidebar-header-top-new">
        Other Spain News
    </div>
    
    <% @last6articles.reject {|a| a == @article}.each do |article| %>
          <div class="content-white-background">
          <%= link_to article do %>
              <% if article.main? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <%= image_tag article.main.url if article.main? %>
                </div>
              <% elsif article.video? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <div class="video-wrapper">
                    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{article.video}?rel=0&amp;showinfo=0") %>
                  </div>
                </div>
              <% else %>
              <% end %>
              <p><span style="font-weight:bold; font-family: Oswald; font-size: 13px;"><%= article.headline %></span></p>
              <p style="font-size: 12px;"><%= article.body.truncate(150) %></p>
              <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(article.created_at) %> ago 
                <% if article.type.name == "LIVE BLOG" %><span class="breaking-label-mini">LIVE BLOG</span><% end %>
                <% if article.type.name == "EDITORIAL" %><span class="editorial-label-mini">EDITORIAL</span><% end %>
              </span>
          <% end %>
          </div> <%# END OF RIGHT-HAND CONTENT WHITE BACKGROUND %>
    
    <% end %> <%# END OF GENERIC UPDATES IF NO STORY UPDATES %>
      <% end %> <%# END OF TYPE OF UPDATES FOR SCROLL LOGIC %>
  
  </div>
  
  <div class="clear"></div>

<% else %> <%# NON LIVE-BLOG LAYOUT STARTS HERE %>
  
  <% if @article.main? %> <%# MAIN IMAGE OR VIDEO %>
    <div class="main-image">
        <%= image_tag @article.main.url if @article.main? %>
    <div class="main-caption">
      <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
    </div>
    </div>
  <% elsif @article.video? %>
    <div class="main-image">
      <div class="video-wrapper">
        <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0") %>
      </div>
      <div class="main-caption">
        <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
      </div>
    </div>
  <% else %>
  <% end %>
  
  <div class="article-text"> <%# MAIN TEXT %>
    
<%# TESTING STUFF STARTS %>
  <% if @article.type.try(:name) == "EDITORIAL" %>
    <% if current_user.nil? && !paywall %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.nil? && paywall %>
      <%= markdown(@article.body.truncate(1600)) %>
      <%= render 'quick_login_one' %>
    <% elsif current_user.role == 'reader' && current_user.created_at > 30.days.ago || current_user.role == 'reader' && current_user.allow_access == true %> <%# NEW SUBSCRIBER ON 30-DAY TRIAL %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.role == 'reader' && current_user.created_at < 30.days.ago %> <%# NEW SUBSCRIBER AFTER 30-DAY TRIAL %>
      <%= markdown(@article.body.truncate(1600)) %>
      <%= render 'reader_subscribe' %>
    <% elsif current_user.role == 'subscriber' && !current_user.stripe_customer_id %>
      <%= markdown(@article.body.truncate(1600)) %>
      <%= render 'resubscribe' %>
    <% elsif current_user.role == 'subscriber' && current_user.stripe_customer_id %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.role == 'editor' %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% else %>
    <% end %>
  <% elsif ["BLOG", "LIVE BLOG", "VIDEO BLOG"].include?(@article.type.try(:name)) %>
    <%= markdown(@article.body) %>
    <%= render 'articleupdates' %>
  <% else %>
    <% if current_user.nil? && !paywall %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.nil? && paywall %>
      <%= markdown(@article.body.truncate(600)) %>
      <%= render 'quick_login_one' %>
    <% elsif current_user.role == 'reader' && current_user.created_at > 30.days.ago %> <%# NEW SUBSCRIBER ON 30-DAY TRIAL %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.role == 'reader' && current_user.created_at < 30.days.ago %> <%# NEW SUBSCRIBER AFTER 30-DAY TRIAL %>
      <%= markdown(@article.body.truncate(600)) %>
      <%= render 'reader_subscribe' %>
    <% elsif current_user.role == 'subscriber' && !current_user.stripe_customer_id %>
      <%= markdown(@article.body.truncate(600)) %>
      <%= render 'resubscribe' %>
    <% elsif current_user.role == 'subscriber' && current_user.stripe_customer_id %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.role == 'editor' %>
      <% if @article.summary.present? && !@article.body.present? %>
        <%= @article.summary %>
      <% elsif %>
        <%= markdown(@article.body) %>
        <%= render 'articleupdates' %>
      <% end %>
    <% else %>
    <% end %>
  <% end %>
<%# TESTING STUFF ENDS %>

<% if ["DAILY BRIEFING"].include?(@article.type.try(:name)) && @articleupdates.count < 2 %>
  <p>…</p>
  <p>(<em>This news day is just beginning! Come back to this page for more updates on the day's events in Spain as they unfold. Who knows what will happen next…</em>)</p>
<% elsif ["DAILY BRIEFING"].include?(@article.type.try(:name)) && @articleupdates.count < 10 %>
  <p>…</p>
  <p>(<em>It's only <%= Time.now.strftime("%I:%M %P") %> in Spain! News is still happening, come back to this page for more stories and context throughout the day.</em>)</p>
<% else %>
<% end %>

  </div> <%# END OF ARTICLE TEXT %>
  
  <div class="meta">
    <strong>First published:</strong> <%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %> | <strong>Last updated:</strong> <%= @article.updated_at.strftime("%b %d, %Y, %l:%M %P") %>
  </div>
  
  </div> <%# END OF LEFT-HAND CONTENT WHITE BACKGROUND %>
  
  <div class="content-white-background">
  <% if current_user.nil? && !paywall %>
  <%= render 'emailsignup' %>
<% else %>
<% end %>

<% if current_user %>
Hello <strong><%= current_user.name %></strong>. Write a comment…

<%= form_for [@article, Comment.new] do |f| %>
  <div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <%= f.text_area :comment, :style => "width:100%;", :maxlength => 1000, :class => "inputtextarea" %>
      <br />
      <button type="submit" class="blueformbutton" style="float: right;">Add Your Comment</button>
    </div>
    <div class="clear"></div>
  </div>
<% end %>

<% else %>
<% end %>

<% if @comments.present? %>
<h2 >COMMENTS</h2>
<% end %>

<div style="margin-top: 20px;">
<% @comments.each do |comment| %>
<div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <strong> 
        <% if comment.user.blank? %> 
        
        <% elsif comment.user == current_user && comment.user.name.nil? %>
          <%= link_to 'Set your display name here', edit_user_path(current_user) %> 
        <% elsif comment.user.name.nil? %>
          Anonymous
        <% else %>
          <%= comment.user.name %>
        <% end %>
      </strong>
       |
        <% if comment.user.blank? %>
          Former Reader
        <% else %>
          <% if comment.user.role == 'editor' %>
            <span style="background-color: green; color: white; padding: 2px 2px 2px 5px;">Editor
          <% elsif comment.user.role == 'subscriber' %>
            <span style="background-color: #B78727; color: white; padding: 2px 2px 2px 5px;">Subscriber
          <% elsif comment.user.role == 'reader' %>
            <span style="background-color: #eeeeee; color: black; padding: 2px 2px 2px 5px;">New Reader
          <% else %>
            <span>
          <% end %>
          </span>
        <% end %>
       &nbsp;| <%= comment.updated_at.strftime("%b %d %Y, %H:%M") %>
    </div>
    <div style="width: 100%; font-size: 14px; padding: 10px 0px 10px 10px; line-height: 140%;">
      <%= comment.comment %>
    </div>
    <div class="clear"></div>
</div>
<% end %>
<a name="commentcheck"></a>
</div>

</div>
  
  
  </div> <%# END OF LEFT-HAND CONTENT BLOCK %>
  
  <div class="content-right"> <%# START OF RIGHT-HAND CONTENT BLOCK %>
      
      <% if @article.stories.present? %> <%# CHECK IF THERE ARE ANY STORY RELATED UPDATES %>
      
      <% @article.stories.each do |story| %>
      <div style="margin-bottom: 10px;">
      <div class="sidebar-header-top-new"><%= story.story %></div>
      <% if story.articles.published.reject {|a| a == @article}.present? %>
        <% story.articles.published.lastsix.reject {|a| a == @article}.each do |article| %>
          <div class="content-white-background">
          <%= link_to article do %>
              <% if article.main? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <%= image_tag article.main.url if article.main? %>
                </div>
              <% elsif article.video? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <div class="video-wrapper">
                    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{article.video}?rel=0&amp;showinfo=0") %>
                  </div>
                </div>
              <% else %>
              <% end %>
              <p><span style="font-weight:bold; font-family: Oswald; font-size: 13px;"><%= article.headline %></span></p>
              <p style="font-size: 12px;"><%= article.body.truncate(150) %></p>
              <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(article.created_at) %> ago 
                <% if article.type.name == "LIVE BLOG" %><span class="breaking-label-mini">LIVE BLOG</span><% end %>
                <% if article.type.name == "EDITORIAL" %><span class="editorial-label-mini">EDITORIAL</span><% end %>
              </span>
          <% end %>
          </div> <%# END OF RIGHT-HAND CONTENT WHITE BACKGROUND %>
        <% end %>
      <% else %>
        <div class="content-white-background" style="margin-bottom: 15px;">
          <p style="font-size: 12px;">No other articles about this story yet.</p>
        </div>
      <% end %> 
      </div> 
      <% end %>
      
      <% else %> <%# IF THERE ARE NO STORY RELATED UPDATES, PUBLISH GENERAL LATEST UPDATES %>
    
    <div class="sidebar-header-top-new">
        Other Spain News
    </div>
    
    <% @last6articles.reject {|a| a == @article}.each do |article| %>
          <div class="content-white-background">
          <%= link_to article do %>
              <% if article.main? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <%= image_tag article.main.url if article.main? %>
                </div>
              <% elsif article.video? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <div class="video-wrapper">
                    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{article.video}?rel=0&amp;showinfo=0") %>
                  </div>
                </div>
              <% else %>
              <% end %>
              <p><span style="font-weight:bold; font-family: Oswald; font-size: 13px;"><%= article.headline %></span></p>
              <p style="font-size: 12px;"><%= article.body.truncate(150) %></p>
              <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(article.created_at) %> ago 
                <% if article.type.name == "LIVE BLOG" %><span class="breaking-label-mini">LIVE BLOG</span><% end %>
                <% if article.type.name == "EDITORIAL" %><span class="editorial-label-mini">EDITORIAL</span><% end %>
              </span>
          <% end %>
          </div> <%# END OF RIGHT-HAND CONTENT WHITE BACKGROUND %>
    
    <% end %> <%# END OF GENERIC UPDATES IF NO STORY UPDATES %>
      <% end %> <%# END OF TYPE OF UPDATES FOR SCROLL LOGIC %>

  </div> <%# END OF RIGHT-HAND CONTENT BLOCK %>
  
  <div class="clear"></div>

<% end %> <%# END OF LIVE-BLOG vs. NORMAL ARTICLE LAYOUT LOGIC HERE %>