<% if @article.type.try(:name) == "LIVE BLOG" %>
  <% title 'LIVE BLOG: ' + @article.headline %>
<% else %>
  <% title @article.headline %>
<% end %>

<% content_for :meta do %>
  <% if @article.main? %>
  <meta property="twitter:card" content="summary_large_image"/>
  <% else %>
  <meta property="twitter:card" content="summary"/>
  <% end %>
  <meta property="twitter:site" content="@thespainreport"/>
  <meta property="twitter:title" content="<%= @article.headline %>"/>
  <meta property="twitter:description" content="<%= @article.lede %>"/>
  <meta property="twitter:image" content="<%= @article.main %>"/>
  
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:title" content="<%= @article.headline %>"/>
  <meta property="og:description" content="<%= @article.lede %>"/>
  <% if @article.main? %>
  <meta property="og:image" content="<%= @article.main %>"/>
  <% end %>
  <meta property="og:site_name" content="The Spain Report"/>
  <meta property="og:updated_time" content="<%= @article.updated_at %>"/>
  
  <meta name="robots" content="noarchive">
<% end %>

<%= render 'tickerstories' %>

<div class="content-left-new"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
<div class="content-white-background">

<h1 class="headline">
<% if current_user.nil? || current_user.role != 'editor' %>
  <% if @article.type.try(:name) == "LIVE BLOG" %>
    LIVE BLOG: 
  <% else %>
  <% end %>
  <%= @article.headline %>
<% elsif current_user.role == 'editor' %>
  <% if @article.type.try(:name) == "LIVE BLOG" %>
    LIVE BLOG: 
  <% else %>
  <% end %>
  <%= link_to @article.headline, edit_article_path(@article) %>
<% else %>
<% end %>
</h1>

<div class="news-alert-wrap">
<% if @article.urgency == 'majorbreaking' && @article.updated_at >= 2.hours.ago %>
  <div class="news-alert"><span class="listing-update-slug"><span class="breaking-label-mini">MAJOR BREAKING NEWS</span></span></div>
<% elsif @article.urgency == 'breaking' && @article.updated_at >= 2.hours.ago %>
  <div class="news-alert"><span class="listing-update-slug"><span class="breaking-label-mini">BREAKING NEWS</span></span></div>
<% elsif @article.urgency == 'morning' && @article.type.try(:name) == 'NEWS' %>
  <div class="news-alert"><span class="listing-update-slug"><span class="latest-label-mini">MORNING LEAD</span></span></div>
<% elsif @article.urgency == 'evening' && @article.type.try(:name) == 'RECAP' %>
  <div class="news-alert"><span class="listing-update-slug"><span class="latest-label-mini">EVENING RECAP</span></span></div>
<% else %>
<% end %>

<% if @article.type.try(:name) == 'EDITORIAL' %>
  <div class="news-alert"><span class="listing-update-slug"><span class="editorial-label-mini">EDITORIAL</span></span></div>
<% end %>

<% if @article.type.try(:name) == "LIVE BLOG" %>
  <div class="news-alert"><span class="listing-update-slug"><span class="breaking-label-mini">LIVE BLOG</span></span></div>
<% end %>

<% if !["NEWS", "RECAP", "EDITORIAL", "BLOG", "LIVE BLOG"].include?(@article.type.try(:name)) %>
  <div class="news-alert"><span class="listing-update-slug"><span class="indepth-label-mini"><%= @article.type.try(:name) %></span></span></div>
<% end %>

<% if @articleupdates.present? %>
  <div class="news-alert"><span class="listing-update-slug"><span class="updated-label-mini">UPDATES ADDED</span></span></div>
<% end %>
<% if @article.status == "updated" %>
  <div class="news-alert"><span class="listing-update-slug"><span class="updated-label-mini">ORIGINAL UPDATED</span></span></div>
<% end %>

<div class="clear"></div>
</div>

<div class="article-lede"><strong><%= @article.created_at.strftime("%b %d %Y") %>—<%= @article.type.try(:name) %></strong>—<%= @article.lede %>
  <% if ["IMAGES", "LIVE BLOG", "DAILY BRIEFING"].include?(@article.type.try(:name)) %>
  
  <% elsif @articleupdates.present? %> <%# POST ANY PUBLISHED UPDATES TO THE ARTICLE %>
    <ul style="margin-top: 5px; margin-bottom: 0px; margin-left: 30px; margin-right: 0;">
    <% @article.newsitems.each do |newsitem| %>
        <li style="margin: 0 auto; text-align:left; font-style: normal;"><%= link_to newsitem.slug, article_path(@article, anchor: newsitem.id) %></li>
    <% end %>
    </ul>
  <% else %>
  <% end %>
</div>

<% if @article.type.try(:name) == "LIVE BLOG" %> <%# LIVE-BLOG LAYOUT STARTS HERE %>
  
  <% if @article.main? %> <%# MAIN IMAGE OR VIDEO %>
    <div class="main-image">
        <%= image_tag @article.main.url if @article.main? %>
    <div class="main-caption">
      <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
    </div>
    </div>
  <% elsif @article.video? %>
    <div class="main-image">
      <div class="video-wrapper">
        <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0") %>
      </div>
      <div class="main-caption">
        <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
      </div>
    </div>
  <% else %>
  <% end %>
  
  <h2>Summary So Far…</h2> <%# LIVE-BLOG QUICK SUMMARY %>
  <div class="article-text">
  
  <p style="font-style:italic;"> <%# LIVE-BLOG TEASER TEXT %>
    (Our live blogs are free to read. Refresh for updates. Sign-up for e-mail alerts to get updates pushed to your device as soon as we publish them.)
  </p>
  
  <%= markdown(@article.body) %>
  
  <% if @articleupdates.present? %> <%# POST ANY PUBLISHED UPDATES TO THE ARTICLE %>
    <ul style="margin-top: 3px; margin-bottom: 0px; margin-left: 30px; margin-right: 0;">
    <% @article.newsitems.order('created_at DESC').each do |newsitem| %>
        <li style="margin: 0 auto; text-align:left; font-style: normal;"><%= link_to newsitem.slug, article_path(@article, anchor: newsitem.id) %></li>
    <% end %>
    </ul>
  <% else %>
  <% end %>
  
  <h2 style="margin-top:15px;">Latest Updates…</h2> <%# LIVE-BLOG ENTRIES %>
  
    <% if @article.newsitems.present? %> <%# ARE THERE ANY LIVE-BLOG ENTRIES? %>
      <% @article.newsitems.order('created_at DESC').each do |newsitem| %>
        <div class="liveblog-updates">
          <p><span class="liveblog-updates-date"><%= newsitem.created_at.strftime("%l:%M %P, %b %d %Y") %></span> (<%= link_to "link", article_path(@article, anchor: newsitem.id), id: newsitem.id, :style => "padding-top: 90px; margin-top: -90px; display: inline-block; background-color: transparent;" %>)</p>

          <h3><%= newsitem.slug %></h3> <%# LIVE-BLOG SLUG TITLE %>
          <% if newsitem.main? %> <%# PHOTO OR VIDEO WITH THE ENTRY? %>
            <div class="main-image-liveblog-update">
                <%= image_tag newsitem.main.url if newsitem.main? %>
              <div class="liveblog-caption">
                <%= newsitem.caption %>
              </div>
            </div>
          <% elsif newsitem.video? %>
            <div class="main-image-liveblog-update-video">
              <div class="video-wrapper">
                <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
              </div>
              <div class="liveblog-caption">
                <%= newsitem.caption %>
              </div>
            </div> 
          <% else %>
          <% end %>
          <%= markdown(newsitem.item.html_safe) %> <%# LIVE-BLOG ENTRY TEXT %>
          <div class="clear"></div>
        </div>
      <% end %> <%# END OF LIVE-BLOG ENTRIES %>
    <% else %> <%# IF THERE ARE NO LIVE-BLOG ENTRIES YET… %>
      <p style="font-style:italic;">
        Brand new live blog for breaking story, standby for first update very shortly. Refresh page.
      </p>
    <% end %> <%# END OF LIVE-BLOG ENTRY LOGIC %>
    
    
  
    </div> <%# END OF LEFT-HAND CONTENT WHITE BACKGROUND %>
    </div> <%# END OF LIVE-BLOG ARTICLE TEXT & ENTRIES %>

  <div class="content-white-background">
  <% if current_user.nil? && !paywall %>
  <%= render 'emailsignup' %>
<% else %>
<% end %>

<div class="comments-wrap">
<h2 >COMMENTS</h2>

<div style="margin-top: 20px;">
<% @comments.each do |comment| %>
<div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <strong> 
        <% if comment.user.blank? %> 
        
        <% elsif comment.user == current_user && comment.user.name.nil? %>
          <%= link_to 'Set your display name here', edit_user_path(current_user) %> 
        <% elsif comment.user.name.nil? %>
          Anonymous
        <% else %>
          <%= comment.user.name %>
        <% end %>
      </strong>
       |
        <% if comment.user.blank? %>
          Former Reader
        <% else %>
          <% if comment.user.role == 'editor' %>
            <span class="editor-label-mini">Editor
          <% elsif comment.user.role == 'subscriber' %>
            <span class="subscriber-label-mini">Subscriber
          <% elsif comment.user.role == 'reader' %>
            <span class="reader-label-mini">New Reader
          <% else %>
            <span>
          <% end %>
          </span>
        <% end %>
       &nbsp;| <%= comment.updated_at.strftime("%b %d %Y, %H:%M") %>
    </div>
    <div style="width: 100%; font-size: 14px; padding: 10px 0px 10px 10px; line-height: 140%;">
      <%= comment.comment %>
    </div>
    <div class="clear"></div>
</div>
<% end %>
<a name="commentcheck"></a>
</div>

</div>


  </div>
  </div>
  
<% content_for :right_side_bar do %>
    <div class="side-block"> <%# START OF RIGHT-HAND CONTENT BLOCK %>
    <p class="toplinks">
     <a href="/subscriptions/new" title="Subscribe Now">Subscribe</a> | 
     <a href="/articles/blog/" title="Subscribe Now">Blog</a> | 
     <a href="/about/" title="Subscribe Now">About</a> | 
     <a href="/contact/" title="Subscribe Now">Contact</a>
     </p>
    
    <h3>Latest</h3>
    <ul>
    <% @last6articles.reject {|a| a == @article}.each do |article| %> 
          <li>
          <%= article.created_at.strftime("%d/%m, %H:%M") %>: 
          <%= link_to article.short_headline, article %>
          </li>
    <% end %> <%# END OF GENERIC UPDATES IF NO STORY UPDATES %>
    </ul>
    
    
    <h3 style="margin-top: 20px;">Comments & Chat</h3>
    <% if current_user %>
      <p>What do you think, <strong><%= current_user.name %></strong>?</p>
      <%= form_for [@article, Comment.new] do |f| %>
      <div style="margin-top: 10px; padding-bottom: 10px;">
      <div style="width: 100%;">
      <%= f.text_area :comment, :style => "width:100%; min-height: 280px;", :maxlength => 1000, :class => "inputtextarea" %>
      <br />
      <button type="submit" class="blueformbutton" style="float: right;">Add Your Comment</button>
      </div>
      <div class="clear"></div>
      </div>
      <% end %>
    <% else %>
      <p>Please log in—or join if it's your first visit—to comment or chat.</p>
      
      <div style="margin-top: 10px; padding-bottom: 10px;">
      <div style="width: 100%;">
      <%= text_area_tag 'body', nil, style: "width:100%; min-height: 280px;", maxlength: 1000, class: "inputtextarea" %>
      <br />
      <% if current_user %>
      <button type="submit" class="blueformbutton" style="float: right;">Add Your Comment</button>
      <% else %>
      <button type="submit" class="blueformbutton" style="float: right;" disabled>Add Your Comment</button>
      <% end %>
      </div>
      <div class="clear"></div>
      </div>
      
    <% end %>

  </div> <%# END OF RIGHT-HAND CONTENT BLOCK %>
  <% end %>
  
  <div class="clear"></div>

<% else %> <%# NON LIVE-BLOG LAYOUT STARTS HERE %>
  
  <% if @article.main? %> <%# MAIN IMAGE OR VIDEO %>
    <div class="main-image">
        <%= image_tag @article.main.url if @article.main? %>
    <div class="main-caption">
      <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
    </div>
    </div>
  <% elsif @article.video? %>
    <div class="main-image">
      <div class="video-wrapper">
        <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0") %>
      </div>
      <div class="main-caption">
        <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
      </div>
    </div>
  <% else %>
  <% end %>
  
  <div class="article-text"> <%# MAIN TEXT %>
    
<%# TESTING STUFF STARTS %>
  <% if @article.type.try(:name) == "EDITORIAL" %>
    <% if current_user.nil? && !paywall %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.nil? && paywall %>
      <%= markdown(@article.body.truncate(1600)) %>
      <%= render 'quick_login_one' %>
    <% elsif current_user.role == 'reader' && current_user.created_at > 30.days.ago || current_user.role == 'reader' && current_user.allow_access == true %> <%# NEW SUBSCRIBER ON 30-DAY TRIAL %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.role == 'reader' && current_user.created_at < 30.days.ago %> <%# NEW SUBSCRIBER AFTER 30-DAY TRIAL %>
      <%= markdown(@article.body.truncate(1600)) %>
      <%= render 'reader_subscribe' %>
    <% elsif current_user.role == 'subscriber' && !current_user.stripe_customer_id %>
      <%= markdown(@article.body.truncate(1600)) %>
      <%= render 'resubscribe' %>
    <% elsif current_user.role == 'subscriber' && current_user.stripe_customer_id %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.role == 'editor' %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% else %>
    <% end %>
  <% elsif ["BLOG", "LIVE BLOG", "VIDEO BLOG"].include?(@article.type.try(:name)) %>
    <%= markdown(@article.body) %>
    <%= render 'articleupdates' %>
  <% else %>
    <% if current_user.nil? && !paywall %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.nil? && paywall %>
      <%= markdown(@article.body.truncate(600)) %>
      <%= render 'quick_login_one' %>
    <% elsif current_user.role == 'reader' && current_user.created_at > 30.days.ago %> <%# NEW SUBSCRIBER ON 30-DAY TRIAL %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.role == 'reader' && current_user.created_at < 30.days.ago %> <%# NEW SUBSCRIBER AFTER 30-DAY TRIAL %>
      <%= markdown(@article.body.truncate(600)) %>
      <%= render 'reader_subscribe' %>
    <% elsif current_user.role == 'subscriber' && !current_user.stripe_customer_id %>
      <%= markdown(@article.body.truncate(600)) %>
      <%= render 'resubscribe' %>
    <% elsif current_user.role == 'subscriber' && current_user.stripe_customer_id %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif current_user.role == 'editor' %>
      <% if @article.summary.present? && !@article.body.present? %>
        <%= @article.summary %>
      <% elsif %>
        <%= markdown(@article.body) %>
        <%= render 'articleupdates' %>
      <% end %>
    <% else %>
    <% end %>
  <% end %>
<%# TESTING STUFF ENDS %>

<% if ["DAILY BRIEFING"].include?(@article.type.try(:name)) && @articleupdates.count < 2 %>
  <p>…</p>
  <p>(<em>This news day is just beginning! Come back to this page for more updates on the day's events in Spain as they unfold. Who knows what will happen next…</em>)</p>
<% elsif ["DAILY BRIEFING"].include?(@article.type.try(:name)) && @articleupdates.count < 5 %>
  <p>…</p>
  <p>(<em>It's only <%= Time.current.strftime("%I:%M %P") %> in Spain! News is still happening, come back to this page for more stories and context throughout the day.</em>)</p>
<% else %>
<% end %>

  </div> <%# END OF ARTICLE TEXT %>
  
  <div class="meta">
    <strong>First published:</strong> <%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %> | <strong>Last updated:</strong> <%= @article.updated_at.strftime("%b %d, %Y, %l:%M %P") %>
  </div>
  
  <% if @article.stories.present? %>
    <h2>Follow These Stories</h2>
    
   <% @article.stories.group_by(&:parent).each do |parent, children| %>
  
  <ul class="follow-stories">
    <li>
      <label>
      <%= link_to parent.story, parent unless parent.nil? %>
      </label>
    </li>
    <ul class="follow-stories-children">
      <% for s in children %>
        <li>
          <label>
          <%= link_to s.story, s %>
          </label>
        </li>
      <% end %>
    </ul>
  </ul>
  
  <% end %> 
  
  <% end %>
  
  <% if current_user.nil? %>
   <div class="meta" style="padding: 10px;">
     Thank you for reading. Your subscription keeps us 100% independent. <a href="/subscriptions/new" title="Subscribe Now" class="miniformbutton">SUBSCRIBE NOW</a>
   </div>
  <% else %>
  <% end %>

  </div> <%# END OF LEFT-HAND CONTENT WHITE BACKGROUND %>
  
  <div class="content-white-background">
  <% if current_user.nil? && !paywall %>
  <%= render 'emailsignup' %>
<% else %>
<% end %>


<div class="comments-wrap">
<% if @comments.present? %>
<h2>Reader Comments</h2>
<% end %>

<div style="margin-top: 20px;">
<% @comments.each do |comment| %>
<div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <strong> 
        <% if comment.user.blank? %> 
        
        <% elsif comment.user == current_user && comment.user.name.nil? %>
          <%= link_to 'Set your display name here', edit_user_path(current_user) %> 
        <% elsif comment.user.name.nil? %>
          Anonymous
        <% else %>
          <%= comment.user.name %>
        <% end %>
      </strong>
       |
        <% if comment.user.blank? %>
          Former Reader
        <% else %>
          <% if comment.user.role == 'editor' %>
            <span class="editor-label-mini">Editor
          <% elsif comment.user.role == 'subscriber' %>
            <span class="subscriber-label-mini">Subscriber
          <% elsif comment.user.role == 'reader' %>
            <span class="reader-label-mini">New Reader
          <% else %>
            <span>
          <% end %>
          </span>
        <% end %>
       &nbsp;| <%= comment.updated_at.strftime("%b %d %Y, %H:%M") %>
    </div>
    <div style="width: 100%; font-size: 14px; padding: 10px 0px 10px 10px; line-height: 140%;">
      <%= comment.comment %>
    </div>
    <div class="clear"></div>
</div>
<% end %>
<a name="commentcheck"></a>
</div>

</div>
</div>

<div style="text-align: center; margin: 10px auto; padding: 10px 0px; border-top: 1px dotted #999999;">Copyright © <%= Time.now.year %> · The Spain Report Ltd. · Understand Spain, In English · <a href="https://www.thespainreport.com/subscriptions/new">Subscribe Now</a></div>
  
  </div> <%# END OF LEFT-HAND CONTENT BLOCK %>
  
  <% content_for :right_side_bar do %>
    <div class="side-block"> <%# START OF RIGHT-HAND CONTENT BLOCK %>
    <p class="toplinks">
     <a href="/subscriptions/new" title="Subscribe Now">Subscribe</a> | 
     <a href="/articles/blog/" title="Subscribe Now">Blog</a> | 
     <a href="/about/" title="Subscribe Now">About</a> | 
     <a href="/contact/" title="Subscribe Now">Contact</a>
     </p>
    
    <h3>Latest</h3>
    <ul>
    <% @last6articles.reject {|a| a == @article}.each do |article| %> 
          <li>
          <%= article.created_at.strftime("%d/%m, %H:%M") %>: 
          <%= link_to article.short_headline, article %>
          </li>
    <% end %> <%# END OF GENERIC UPDATES IF NO STORY UPDATES %>
    </ul>
    
    
    <h3 style="margin-top: 20px;">Comments & Chat</h3>
    <% if current_user %>
      <p>What do you think, <strong><%= current_user.name %></strong>?</p>
      <%= form_for [@article, Comment.new] do |f| %>
      <div style="margin-top: 10px; padding-bottom: 10px;">
      <div style="width: 100%;">
      <%= f.text_area :comment, :style => "width:100%; min-height: 280px;", :maxlength => 1000, :class => "inputtextarea" %>
      <br />
      <button type="submit" class="blueformbutton" style="float: right;">Add Your Comment</button>
      </div>
      <div class="clear"></div>
      </div>
      <% end %>
    <% else %>
      <p>Please log in—or join if it's your first visit—to comment or chat.</p>
      
      <div style="margin-top: 10px; padding-bottom: 10px;">
      <div style="width: 100%;">
      <%= text_area_tag 'body', nil, style: "width:100%; min-height: 280px;", maxlength: 1000, class: "inputtextarea" %>
      <br />
      <% if current_user %>
      <button type="submit" class="blueformbutton" style="float: right;">Add Your Comment</button>
      <% else %>
      <button type="submit" class="blueformbutton" style="float: right;" disabled>Add Your Comment</button>
      <% end %>
      </div>
      <div class="clear"></div>
      </div>
      
    <% end %>

  </div> <%# END OF RIGHT-HAND CONTENT BLOCK %>
  <% end %>
  
  <div class="clear"></div>



<% end %> <%# END OF LIVE-BLOG vs. NORMAL ARTICLE LAYOUT LOGIC HERE %>