<% if @article.type.try(:name) == "LIVE BLOG" %>
  <% title 'LIVE BLOG: ' + @article.headline.present? ? @article.headline : @article.short_headline %>
<% else %>
  <% title @article.headline.present? ? @article.headline : @article.short_headline %>
<% end %>

<% content_for :meta do %>
  <% if @article.main? %>
  <meta property="twitter:card" content="summary_large_image"/>
  <% else %>
  <meta property="twitter:card" content="summary"/>
  <% end %>
  <meta property="twitter:site" content="@thespainreport"/>
  <meta property="twitter:title" content="<%= @article.headline %>"/>
  <meta property="twitter:description" content="<%= @article.lede %>"/>
  <meta property="twitter:image" content="<%= @article.main %>"/>
  
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:title" content="<%= @article.headline %>"/>
  <meta property="og:description" content="<%= @article.lede %>"/>
  <% if @article.main? %>
  <meta property="og:image" content="<%= @article.main %>"/>
  <% end %>
  <meta property="og:site_name" content="The Spain Report"/>
  <meta property="og:updated_time" content="<%= @article.updated_at %>"/>
  
  <meta name="robots" content="noarchive">
<% end %>

<%= render 'tickerstories' %>

<div class="content-left-new"> <%# LEFT-HAND MAIN CONTENT BLOCK %>

<h1 class="headline">
    <% if @article.type.try(:name) == "LIVE BLOG" %>
      LIVE BLOG: 
    <% else %>
    <% end %>
    
    <% if current_user.nil? || current_user.role != 'editor' %>
      <%= @article.headline.present? ? @article.headline : @article.short_headline %>
    <% elsif current_user.role == 'editor' %>
      <%= link_to edit_article_path(@article) do %>
        <%= @article.headline.present? ? @article.headline : @article.short_headline %>
      <% end %>
    <% else %>
    <% end %>
</h1>

<div class="news-alert-wrap">
  <% if @article.urgency == 'majorbreaking' && @article.updated_at >= 2.hours.ago %>
    <div class="news-alert"><span class="breaking-label-mini">MAJOR BREAKING NEWS</span></div>
  <% elsif @article.urgency == 'breaking' && @article.updated_at >= 2.hours.ago %>
    <div class="news-alert"><span class="breaking-label-mini">BREAKING NEWS</span></div>
  <% elsif @article.urgency == 'latest' && @article.updated_at >= 2.hours.ago %>
    <div class="news-alert"><span class="latest-label-mini">LATEST NEWS</span></div>
  <% elsif @article.urgency == 'morning' && @article.type.try(:name) == 'NEWS' %>
    <div class="news-alert"><span class="black-label-mini">MORNING LEAD</span></div>
  <% elsif @article.urgency == 'evening' && @article.type.try(:name) == 'RECAP' %>
    <div class="news-alert"><span class="black-label-mini">EVENING RECAP</span></div>
  <% else %>
  <% end %>

  <% if @article.type.try(:name) == 'EDITORIAL' %>
    <div class="news-alert"><span class="black-label-mini">EDITORIAL</span></div>
  <% elsif @article.type.try(:name) == "LIVE BLOG" %>
    <div class="news-alert"><span class="breaking-label-mini">LIVE BLOG</span></div>
  <% elsif !["NEWS", "RECAP", "EDITORIAL", "BLOG", "LIVE BLOG"].include?(@article.type.try(:name)) %>
    <div class="news-alert"><span class="black-label-mini"><%= @article.type.try(:name) %></span></div>
  <% else %>
  <% end %>

  <% if @articleupdates.present? %>
    <div class="news-alert"><span class="black-label-mini">UPDATES ADDED</span></div>
  <% else %>
  <% end %>
  
  <% if @article.status == "updated" %>
    <div class="news-alert"><span class="black-label-mini">ORIGINAL UPDATED</span></div>
  <% end %>

  <% if @article.is_free || ["BLOG", "BRIEFING", "LIVE BLOG", "VIDEO BLOG"].include?(@article.type.try(:name)) %>
    <div class="news-alert"><span class="black-label-mini">FREE TO READ</span></div>
  <% else %>
  <% end %>
<div class="clear"></div>
</div>

<div class="article-lede">
  <strong><%= @article.created_at.strftime("%b %d %Y") %>—<%= @article.type.try(:name) %></strong>—<%= @article.lede %>
  <% if ["IMAGES", "LIVE BLOG", "DAILY BRIEFING"].include?(@article.type.try(:name)) %>
  <% elsif @articleupdates.present? %> <%# POST ANY PUBLISHED UPDATES TO THE ARTICLE %>
    <ul style="margin-top: 5px; margin-bottom: 0px; margin-left: 30px; margin-right: 0;">
      <% @article.newsitems.each do |newsitem| %>
        <li style="margin: 0 auto; text-align:left; font-style: normal;"><%= link_to newsitem.slug, article_path(@article, anchor: newsitem.id) %></li>
      <% end %>
    </ul>
  <% else %>
  <% end %>
</div>

  <% if @article.main? %> <%# MAIN IMAGE OR VIDEO %>
    <div class="main-image">
        <%= image_tag @article.main.url if @article.main? %>
    <div class="main-caption">
      <strong>Image:</strong> <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
    </div>
    </div>
  <% elsif @article.video? %>
    <div class="main-image">
      <div class="video-wrapper">
        <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0") %>
      </div>
      <div class="main-caption">
        <strong>Video:</strong> <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
      </div>
    </div>
  <% else %>
  <% end %>

  <div class="article-text"> <%# MAIN TEXT %>

<% if @article.type.try(:name) == "LIVE BLOG" %> <%# LIVE-BLOG LAYOUT STARTS HERE %>

  <p style="font-style:italic;"> <%# LIVE-BLOG TEASER TEXT %>
    (Our live blogs are free to read. Refresh for updates. Sign-up for e-mail alerts to get updates pushed to your device as soon as we publish them.)
  </p>
  
  <h2>Summary So Far…</h2> <%# LIVE-BLOG QUICK SUMMARY %>
  
  <%= markdown(@article.body) %>
  
  <h2>Latest Updates…</h2> <%# LIVE-BLOG ENTRIES %>
  
  <% if @articleupdates.present? %> <%# POST ANY PUBLISHED UPDATES TO THE ARTICLE %>
    <ul style="margin-top: 3px; margin-bottom: 25px; margin-left: 30px; margin-right: 0;">
      <% @article.newsitems.order('created_at DESC').each do |newsitem| %>
        <li style="margin: 0 auto; text-align:left; font-style: normal;"><%= link_to newsitem.slug, article_path(@article, anchor: newsitem.id) %></li>
      <% end %>
    </ul>
  <% else %>
  <% end %>
  
    <% if @article.newsitems.present? %> <%# ARE THERE ANY LIVE-BLOG ENTRIES? %>
      <% @article.newsitems.order('created_at DESC').each do |newsitem| %>
        <div class="liveblog-updates">
          <p><span class="liveblog-updates-date"><%= newsitem.created_at.strftime("%l:%M %P, %b %d %Y") %></span> (<%= link_to "link", article_path(@article, anchor: newsitem.id), id: newsitem.id, :style => "padding-top: 90px; margin-top: -90px; display: inline-block; background-color: transparent;" %>)</p>

          <h3><%= newsitem.slug %></h3> <%# LIVE-BLOG SLUG TITLE %>
          <% if newsitem.main? %> <%# PHOTO OR VIDEO WITH THE ENTRY? %>
            <div class="main-image-liveblog-update">
                <%= image_tag newsitem.main.url if newsitem.main? %>
              <div class="liveblog-caption">
                <%= newsitem.caption %>
              </div>
            </div>
          <% elsif newsitem.video? %>
            <div class="main-image-liveblog-update-video">
              <div class="video-wrapper">
                <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
              </div>
              <div class="liveblog-caption">
                <%= newsitem.caption %>
              </div>
            </div> 
          <% else %>
          <% end %>
          <%= markdown(newsitem.item.html_safe) %> <%# LIVE-BLOG ENTRY TEXT %>
          <div class="clear"></div>
        </div>
      <% end %> <%# END OF LIVE-BLOG ENTRIES %>
    <% else %> <%# IF THERE ARE NO LIVE-BLOG ENTRIES YET… %>
      <p style="font-style:italic;">
        Brand new live blog for breaking story, standby for first update very shortly. Refresh page.
      </p>
    <% end %> <%# END OF LIVE-BLOG ENTRY LOGIC %>

<% else %> <%# NON LIVE-BLOG LAYOUT STARTS HERE %>

<%# PAYWALL LOGIC %>
    <% if @article.is_free || ["BLOG", "BRIEFING", "LIVE BLOG", "VIDEO BLOG"].include?(@article.type.try(:name)) %> <%# START: free/NOT. If free > Read %>
      <%= markdown(@article.body) %>
      <%= render 'articleupdates' %>
    <% elsif !@article.is_free %> <%# CONT: If article NOT free… %>
      <% if current_user.nil? %> <%# START: logged-in/NOT. %>
        <% if paywall %> <%# START: paywall/NOT. If yes > Log in. %>
          <%= markdown(@article.body.truncate(600)) %>
          <%= render 'quick_login_one' %>
        <% elsif !paywall %> <%# CONT: …and has SOME free articles left… %>
          <% if @article.created_at >= 48.hours.ago %> <%# START: article NEW/OLD. -48hours > Read. %>
            <%= markdown(@article.body) %>
            <%= render 'articleupdates' %>
          <% elsif @article.created_at < 48.hours.ago %> <%# CONT: …+48 hours > Log in. %>
            <%= markdown(@article.body.truncate(600)) %>
            <%= render 'quick_login_one' %>
          <% end %> <%# END: article NEW/OLD. %>   
        <% end %> <%# END: paywall/NOT. %>
      <% elsif current_user.access_date.blank? %> <%# CONT: logged-in/NOT: no access date set? > Read. %>
        <%= markdown(@article.body) %>
        <%= render 'articleupdates' %>
      <% elsif current_user.access_date < Time.current %> <%# CONT: logged-in/NOT: access date run out? > Re(subscribe). %>
        <% if ['reader', 'guest'].include?(current_user.role) %> <%# START: user roles, if reader, guest… %>
          <%= markdown(@article.body.truncate(600)) %>
          <%= render 'reader_subscribe' %>
        <% elsif ['subscriber_one_story', 'subscriber_all_stories', 'subscriber'].include?(current_user.role) %> <%# CONT: user roles, if subscriber, etc… %>
          <%= markdown(@article.body.truncate(600)) %>
          <%= render 'resubscribe' %>
        <% end %> <%# END: user roles. %>
      <% elsif current_user.access_date >= Time.current %> <%# CONT: logged-in/NOT: access date good? %>
        <% if current_user.role == 'subscriber_one_story' %> <%# START: subscriber ONE/ALL? If one story subscriber… %>
          <% if @article.story_ids.exclude?(current_user.one_story_id) %> <%# START: One-story logic. If NOT chosen story… %>
            <%= markdown(@article.body.truncate(600)) %>
            <%= render 'upgrade' %>
          <% elsif @article.story_ids.include?(current_user.one_story_id) %> <%# CONT: One-story logic. If IS chosen story… %>
            <%= markdown(@article.body) %>
            <%= render 'articleupdates' %>
          <% end %> <%# END: One-story logic. %>
        <% elsif ['subscriber_all', 'subscriber', 'editor', 'staff', 'reader', 'guest'].include?(current_user.role) %> <%# CONT: subscriber ONE/ALL: If all stories subscriber, staff… %>
          <%= markdown(@article.body) %>
          <%= render 'articleupdates' %>
        <% end %> <%# END: subscriber ONE/ALL %>
      <% end %> <%# END: logged-in/NOT %>
    <% end %> <%# END: free/NOT %>
    
    <%# PAYWALL LOGIC ENDS %>
<% end %> <%# END OF LIVE-BLOGS vs. NORMAL ARTICLES %>
</div> <%# END OF MAIN ARTICLE TEXT & ENTRIES %>

<%# AFTER ARTICLE STUFF %>
  <div class="meta">
    <strong>First published:</strong> <%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %> | <strong>Last updated:</strong> <%= @article.updated_at.strftime("%b %d, %Y, %l:%M %P") %>
  </div>
  
  <% unless @article.type.try(:name) == "BLOG" || !@article.stories.present? %>
    <%= render 'article_stories', article: @article %>
  <% end %>
  
  <% if current_user.nil? && ["BLOG", "BRIEFING", "LIVE BLOG", "VIDEO BLOG"].include?(@article.type.try(:name)) %>
    <div style="margin: 20px 0;">
      <%= render 'quick_login_two' %>
    </div>
  <% else %>
  <% end %>
  
  <h3>Thank You For Reading</h3>
  <p class="user-paragraph">
     Your subscription keeps us 100% independent.
  </p>
<%# END OF AFTER ARTICLE STUFF %>

</div>
</div> <%# END OF LEFT-HAND CONTENT WHITE BACKGROUND %>
<div class="clear"></div>
<%# END OF WRAPPER DIVS FOR ALL ARTICLES %>