<% if @article.type.try(:name) == "LIVE BLOG" %>
  <% title 'LIVE BLOG: ' + @article.headline %>
<% else %>
  <% title @article.headline %>
<% end %>

<% content_for :meta do %>
  <% if @article.main? %>
  <meta property="twitter:card" content="summary_large_image"/>
  <% else %>
  <meta property="twitter:card" content="summary"/>
  <% end %>
  <meta property="twitter:site" content="@thespainreport"/>
  <meta property="twitter:title" content="<%= @article.headline %>"/>
  <meta property="twitter:description" content="<%= @article.lede %>"/>
  <meta property="twitter:image" content="<%= @article.main %>"/>
  
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:title" content="<%= @article.headline %>"/>
  <meta property="og:description" content="<%= @article.lede %>"/>
  <% if @article.main? %>
  <meta property="og:image" content="<%= @article.main %>"/>
  <% end %>
  <meta property="og:site_name" content="The Spain Report"/>
  <meta property="og:updated_time" content="<%= @article.updated_at %>"/>
  
  <meta name="robots" content="noarchive">
<% end %>

<%= render 'tickerstories' %>

<h1>
<% if current_user.nil? || current_user.role != 'editor' %>
  <% if @article.type.try(:name) == "LIVE BLOG" %>
    LIVE BLOG: 
  <% else %>
  <% end %>
  <%= @article.headline %>
<% elsif current_user.role == 'editor' %>
  <% if @article.type.try(:name) == "LIVE BLOG" %>
    LIVE BLOG: 
  <% else %>
  <% end %>
  <%= link_to @article.headline, edit_article_path(@article) %>
<% else %>
<% end %>
</h1>

<% if @article.urgency == 'majorbreaking' && @article.updated_at >= 3.hours.ago %>
  <div class="news-alert"><span class="listing-update-slug"><span class="breaking-label">MAJOR BREAKING NEWS</span></span></div>
<% elsif @article.urgency == 'breaking' && @article.updated_at >= 3.hours.ago %>
  <div class="news-alert"><span class="listing-update-slug"><span class="breaking-label">BREAKING NEWS</span></span></div>
<% elsif @article.urgency == 'latest' && @article.updated_at >= 12.hours.ago %>
  <div class="news-alert"><span class="listing-update-slug"><span class="latest-label">LATEST NEWS</span></span></div>
<% elsif @article.type.try(:name) == 'EDITORIAL' %>
  <div class="news-alert"><span class="listing-update-slug"><span class="editorial-label">EDITORIAL</span></span></div>
<% else %>
<% end %>

<% if @article.type.try(:name) == "LIVE BLOG" %>
  <div class="news-alert"><span class="listing-update-slug"><span class="breaking-label">LIVE BLOG</span></span></div>
<% else %>
<% end %>

<% if @articleupdates.present? && @article.status == "updated" && !@article.type.try(:name) == "LIVE BLOG" %>
  <div class="news-alert"><span class="listing-update-slug"><span class="updated-label">ORIGINAL UPDATED</span></span></div> <div class="alert-update"><span class="listing-update-slug"><span class="updated-label">UPDATES ADDED</span></span></div>
<% elsif @articleupdates.present? %>
  <div class="news-alert"><span class="listing-update-slug"><span class="updated-label">UPDATES ADDED</span></span></div>
<% elsif @article.status == "updated" && !@article.type.try(:name) == "LIVE BLOG" %>
  <div class="news-alert"><span class="listing-update-slug"><span class="updated-label">ORIGINAL UPDATED</span></span></div>
<% else %>
<% end %>

<div class="clear"></div>

<div class="article-lede"><strong><%= @article.created_at.strftime("%b %d %Y") %>—<%= @article.type.try(:name) %></strong>—<%= @article.lede %></div>



<% if @article.type.try(:name) == "LIVE BLOG" %> <%# LIVE-BLOG LAYOUT STARTS HERE %>
  
  <div class="content-left"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
  
  <% if @article.main? %> <%# MAIN IMAGE OR VIDEO %>
    <div class="main-image">
      <%= link_to(@article.main.url) do %>
        <%= image_tag @article.main.url if @article.main? %>
      <% end %>
    <div class="main-caption">
      <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
    </div>
    </div>
  <% elsif @article.video? %>
    <div class="main-image">
      <div class="video-wrapper">
        <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0") %>
      </div>
      <div class="main-caption">
        <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
      </div>
    </div>
  <% else %>
  <% end %>
  
  <h2>Summary So Far…</h2> <%# LIVE-BLOG QUICK SUMMARY %>
  <div class="article-text">
      <%= markdown(@article.body) %>
  
  <p style="font-style:italic;"> <%# LIVE-BLOG TEASER TEXT %>
    Our live blogs are free to read. Refresh for updates. Sign-up for e-mail alerts if you want notifications pushed to your device as soon as we publish them.
  </p>
  
  <h2 style="margin-top:30px;">Latest Updates…</h2> <%# LIVE-BLOG ENTRIES %>
  
    <% if @article.newsitems.present? %> <%# ARE THERE ANY LIVE-BLOG ENTRIES? %>
      <% @article.newsitems.order('created_at DESC').each do |newsitem| %>
        <div class="liveblog-updates">
          <span class="red" style="font-style: italic;"> <%# LIVE-BLOG ENTRY DATE & LINK %>
            <%= link_to article_path(@article, anchor: newsitem.id), id: newsitem.id do %>
              <%= time_ago_in_words(newsitem.updated_at).capitalize %> ago: <%= newsitem.updated_at.strftime("%l:%M %P, %b %d %Y") %>
            <% end %>
          </span>
          <h3><%= newsitem.slug %></h3> <%# LIVE-BLOG SLUG TITLE %>
          <% if newsitem.main? %> <%# PHOTO OR VIDEO WITH THE ENTRY? %>
            <div class="main-image-liveblog-update">
              <%= link_to newsitem do %>
                <%= image_tag newsitem.main.url if newsitem.main? %>
              <% end %>
              <div class="liveblog-caption">
                <%= newsitem.caption %> <strong>Source:</strong> <%= newsitem.imagesource %>.
              </div>
            </div>
          <% elsif newsitem.video? %>
            <div class="main-image-liveblog-update-video">
              <div class="video-wrapper">
                <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
              </div>
              <div class="liveblog-caption">
                <%= newsitem.caption %> <strong>Source:</strong> <%= newsitem.imagesource %>.
              </div>
            </div> 
          <% else %>
          <% end %>
          <%= markdown(newsitem.item.html_safe) %> <%# LIVE-BLOG ENTRY TEXT %>
          <div class="clear"></div>
        </div>
      <% end %> <%# END OF LIVE-BLOG ENTRIES %>
    <% else %> <%# IF THERE ARE NO LIVE-BLOG ENTRIES YET… %>
      <p style="font-style:italic;">
        Brand new live blog for breaking story, standby for first update very shortly. Refresh page.
      </p>
    <% end %> <%# END OF LIVE-BLOG ENTRY LOGIC %>
  
    </div> <%# END OF LIVE-BLOG ARTICLE TEXT & ENTRIES %>
  </div>
  
  <div class="content-right"> <%# START OF RIGHT-HAND CONTENT BLOCK %>
        
        <%= render 'emailsignup_sidebar' %>
   
  </div>
  
  <div class="clear"></div>

<% else %> <%# NON LIVE-BLOG LAYOUT STARTS HERE %>

  <div class="content-left"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
  
  <% if @article.main? %> <%# MAIN IMAGE OR VIDEO %>
    <div class="main-image">
      <%= link_to(@article.main.url) do %>
        <%= image_tag @article.main.url if @article.main? %>
      <% end %>
    <div class="main-caption">
      <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
    </div>
    </div>
  <% elsif @article.video? %>
    <div class="main-image">
      <div class="video-wrapper">
        <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0") %>
      </div>
      <div class="main-caption">
        <%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %>
      </div>
    </div>
  <% else %>
  <% end %>
  
  <div class="article-text"> <%# MAIN TEXT %>
    
<%# TESTING STUFF STARTS %>
  <% if @article.type.try(:name) == "EDITORIAL" %>
    <% if current_user.nil? && !paywall %>
      <%= markdown(@article.body) %>
    <% elsif current_user.nil? && paywall %>
      <%= markdown(@article.body.truncate(1600)) %>
      <%= render 'quick_login_one' %>
    <% elsif current_user.role == 'reader' && !paywall_reader %>
      <%= markdown(@article.body) %>
    <% elsif current_user.role == 'reader' && paywall_reader %>
      <%= markdown(@article.body) %>
    <% elsif current_user.role == 'subscriber' && !current_user.stripe_customer_id %>
      <%= markdown(@article.body.truncate(1600)) %>
      <%= render 'resubscribe' %>
    <% elsif current_user.role == 'subscriber' && current_user.stripe_customer_id %>
      <%= markdown(@article.body) %>
    <% elsif current_user.role == 'editor' %>
      <%= markdown(@article.body) %>
    <% else %>
    <% end %>
  <% elsif ["BLOG", "LIVE BLOG", "VIDEO BLOG"].include?(@article.type.try(:name)) %>
    <%= markdown(@article.body) %>
  <% else %>
    <% if current_user.nil? && !paywall %>
      <%= markdown(@article.body) %>
    <% elsif current_user.nil? && paywall %>
      <%= markdown(@article.body.truncate(600)) %>
      <%= render 'quick_login_one' %>
    <% elsif current_user.role == 'reader' && !paywall_reader %>
      <%= markdown(@article.body) %>
    <% elsif current_user.role == 'reader' && paywall_reader %>
      <%= markdown(@article.body) %>
    <% elsif current_user.role == 'subscriber' && !current_user.stripe_customer_id %>
      <%= markdown(@article.body.truncate(600)) %>
      <%= render 'resubscribe' %>
    <% elsif current_user.role == 'subscriber' && current_user.stripe_customer_id %>
      <%= markdown(@article.body) %>
    <% elsif current_user.role == 'editor' %>
      <% if @article.summary.present? && !@article.body.present? %>
        <%= @article.summary %>
      <% elsif %>
        <%= markdown(@article.body) %>
      <% end %>
    <% else %>
    <% end %>
  <% end %>
<%# TESTING STUFF ENDS %>

  <% if @articleupdates.present? %> <%# POST ANY PUBLISHED UPDATES TO THE ARTICLE %>
    <h3>Updates</h3>
    <% @article.newsitems.each do |newsitem| %>
      <div class="article-updates">
        <%= link_to article_path(@article, anchor: newsitem.id), id: newsitem.id do %>
          <span class="article-update-slug"><%= newsitem.slug %></span><br />
        <% end %>
        <% if newsitem.main? %>
          <div class="main-image-article-update">
            <%= image_tag newsitem.main.url if newsitem.main? %>
            <div class="main-caption">
              <%= newsitem.caption %> <strong>Source:</strong> <%= newsitem.imagesource %>.
            </div>
          </div>
        <% elsif newsitem.video? %>
          <div class="main-image-article-update">
            <div class="video-wrapper">
              <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
              <div class="main-caption">
                <%= newsitem.caption %> <strong>Source:</strong> <%= newsitem.imagesource %>.
              </div>
            </div>
          </div> 
        <% else %>
        <% end %>
        <div class="article-update-text"><%= markdown(newsitem.item.html_safe) %></div>
        <span style="font-size: 11px; color: #999999;"><%= newsitem.updated_at.strftime("%l:%M %P, %b %d %Y") %></span>
        <div class="clear"></div>
      </div>
    <% end %>
  <% end %> <%# END OF ARTICLE UPDATES %>
  
  <% @article.stories.each do |story| %> <%# OTHER ARTICLES IN THIS STORY %>
    <h3><%= story.story %></h3>
      
      <% if story.articles.published.reject {|a| a == @article}.present? && story.newsitems.published.present? %>
        <ul style="list-style-type: none;">
          <% (story.articles.published.lastfour.reject {|a| a == @article} | story.newsitems.published.lastfour).take(5).sort_by { |obj| obj.created_at }.reverse.each do |article| %>
            <li><span class="listing-update-slug"><%= link_to article.headline, article %></span></li>
          <% end %>
        </ul>
    <% elsif story.articles.published.reject {|a| a == @article}.present? && !story.newsitems.published.present? %>
      <ul style="list-style-type: none;">
          <% story.articles.published.lastsix.reject {|a| a == @article}.reverse.each do |article| %>
            <li><span class="listing-update-slug"><%= link_to article.headline, article %></span></li>
          <% end %>
      </ul>
    <% elsif !story.articles.published.reject {|a| a == @article}.present? && story.newsitems.published.present? %>
      <ul style="list-style-type: none;">
          <% story.newsitems.published.lastfive.reverse.each do |article| %>
            <li><span class="listing-update-slug"><%= link_to article.slug, article %></span></li>
          <% end %>
       </ul>
    <% else %>
        <p style="font-style:italic;">
          No related articles or updates for this story yet.
        </p>
    <% end %>
  
  <% end %>
  
 

  </div> <%# END OF ARTICLE TEXT %>
  </div> <%# END OF LEFT-HAND CONTENT BLOCK %>
  
  <div class="content-right"> <%# START OF RIGHT-HAND CONTENT BLOCK %>
    
    <% if @article.stories.present? %> <%# SUB-TITLE BLOCK: CHECK IF THERE ARE ANY STORY RELATED UPDATES %>
        <div class="content-right-header">
        <% @article.stories.each do |story| %>
          <div class="content-right-header-sub">
            <%= story.story %>
          </div>
        <% end %>
        </div>
      <% else %>
        <div class="content-right-header">
          <div class="content-right-header-sub">
            Latest Spain News Updates
          </div>
        </div>
      <% end %>
  
    <div class="content-right-scroll"> <%# START OF RIGHT-HAND SCROLL BLOCK %>
      
      <% @latestaudio.each do |a| %> <%# AUDIO NEWS %>
        <div class="content-right-update-block">
          <span style="font-size: 12px; font-weight: bold;">2 Minute Spain News, <%= a.updated_at.to_formatted_s(:short) %></span>
          <div style="margin-top: 5px; ">
            <audio controls="controls" preload="none"><source src="<%= a.url %>" ></audio>
          </div>
        </div>
      <% end %>
      
      <% if @article.stories.present? %> <%# CHECK IF THERE ARE ANY STORY RELATED UPDATES %>
      
      <% @article.stories.each do |story| %>
      
        <% story.newsitems.published.lasttwenty.order('created_at DESC').each do |newsitem| %> 
          <% if newsitem.article.present? && newsitem.article.type.try(:name) == "LIVE BLOG" %>
          <%= link_to article_url(newsitem.article, anchor: newsitem.id) do %>
            <div class="content-right-update-block">
              <% if newsitem.main? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <%= image_tag newsitem.main.url if newsitem.main? %>
                </div>
              <% elsif newsitem.video? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <div class="video-wrapper">
                    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
                  </div>
                </div>
              <% else %>
              <% end %>
              <%= markdown(newsitem.item.truncate(265)) %>
              <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago <span class="breaking-label-mini">LIVE BLOG</span></span>
            </div>
          <% end %>
        <% elsif newsitem.article.present? %>
          <%= link_to article_url(newsitem.article, anchor: newsitem.id) do %>
            <div class="content-right-update-block">
              <% if newsitem.main? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <%= image_tag newsitem.main.url if newsitem.main? %>
                </div>
              <% elsif newsitem.video? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <div class="video-wrapper">
                    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
                  </div>
                </div>
              <% else %>
              <% end %>
              <%= markdown(newsitem.item.truncate(265)) %>
              <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago</span>
            </div>
          <% end %>
        <% else %>
          <%= link_to newsitem do %>
            <div class="content-right-update-block">
              <% if newsitem.main? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <%= image_tag newsitem.main.url if newsitem.main? %>
                </div>
              <% elsif newsitem.video? %>
                <div style="width:100%; margin-bottom: 3px;">
                  <div class="video-wrapper">
                    <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
                  </div>
                </div>
              <% else %>
              <% end %>
              <%= markdown(newsitem.item.truncate(265)) %>
              <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago</span>
            </div>
          <% end %>
        <% end %>
        <% end %>
      <% end %>
      
      <% else %> <%# IF THERE ARE NO STORY RELATED UPDATES, PUBLISH GENERAL LATEST UPDATES %>
        
    <% @last30items.each do |newsitem| %>
      <% if newsitem.article.present? && newsitem.article.type.try(:name) == "LIVE BLOG" %>
        <%= link_to article_url(newsitem.article, anchor: newsitem.id) do %>
          <div class="content-right-update-block">
            <% if newsitem.main? %>
              <div style="width:100%; margin-bottom: 3px;">
                <%= image_tag newsitem.main.url if newsitem.main? %>
              </div>
            <% elsif newsitem.video? %>
              <div style="width:100%; margin-bottom: 3px;">
                <div class="video-wrapper">
                  <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
                </div>
              </div>
            <% else %>
            <% end %>
            <%= markdown(newsitem.item.truncate(265)) %>
            <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago <span class="breaking-label-mini">LIVE BLOG</span></span>
          </div>
        <% end %>
      <% elsif newsitem.article.present? %>
        <%= link_to article_url(newsitem.article, anchor: newsitem.id) do %>
          <div class="content-right-update-block">
            <% if newsitem.main? %>
              <div style="width:100%; margin-bottom: 3px;">
                <%= image_tag newsitem.main.url if newsitem.main? %>
              </div>
            <% elsif newsitem.video? %>
              <div style="width:100%; margin-bottom: 3px;">
                <div class="video-wrapper">
                  <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
                </div>
              </div>
            <% else %>
            <% end %>
            <%= markdown(newsitem.item.truncate(265)) %>
            <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago</span>
          </div>
        <% end %>
      <% else %>
        <%= link_to newsitem do %>
          <div class="content-right-update-block">
            <% if newsitem.main? %>
              <div style="width:100%; margin-bottom: 3px;">
                <%= image_tag newsitem.main.url if newsitem.main? %>
              </div>
            <% elsif newsitem.video? %>
              <div style="width:100%; margin-bottom: 3px;">
              <div class="video-wrapper">
                <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
              </div>
              </div>
            <% else %>
            <% end %>
            <%= markdown(newsitem.item.truncate(265)) %>
            <span style="font-size: 11px; color: #999999;"><%= time_ago_in_words(newsitem.created_at) %> ago</span>
          </div>
        <% end %>
      <% end %>
    <% end %> <%# END OF GENERIC UPDATES IF NO STORY UPDATES %>
        
      <% end %> <%# END OF TYPE OF UPDATES FOR SCROLL LOGIC %>

    </div> <%# END OF RIGHT-HAND SCROLL BLOCK %>
  </div> <%# END OF RIGHT-HAND CONTENT BLOCK %>
  
  <div class="clear"></div>

<% end %> <%# END OF LIVE-BLOG vs. NORMAL ARTICLE LAYOUT LOGIC HERE %>

<div class="meta">
<strong>First published:</strong> <%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %> | <strong>Last updated:</strong> <%= @article.updated_at.strftime("%b %d, %Y, %l:%M %P") %>
</div>

<% if current_user.nil? && !paywall %>
  <%= render 'emailsignup' %>
<% else %>
<% end %>

<% if current_user %>
Now it's your turn <strong><%= current_user.name %></strong>. What do you think?

<%= form_for [@article, Comment.new] do |f| %>
  <div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <strong>Add your comment:</strong> <em>(max. 1,000 characters &#8776; 160 words &#8776; size of this text box; no HTML.)</em><br />
      <%= f.text_area :comment, :size => '105x9', :maxlength => 1000, :class => "inputtextarea" %>
      <br />
      <button type="submit" class="blueformbutton">Add Your Comment</button>
    </div>
    <div class="clear"></div>
  </div>
<% end %>

<% else %>
<% end %>

<% if @comments.present? %>
<h2 >COMMENTS</h2>
<% end %>

<div style="margin-top: 20px;">
<% @comments.each do |comment| %>
<div style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999999;">
    <div style="width: 100%;">
      <strong><%= comment.user.name unless comment.user.blank? %></strong> | 
        <% if comment.user.blank? %>
          Deleted User
        <% else %>
          <% if comment.user.role == 'editor' %>
            <span style="background-color: green; color: white; padding: 2px 5px;">
          <% elsif comment.user.role == 'subscriber' %>
            <span style="background-color: #B78727; color: white; padding: 2px 5px;">
          <% elsif comment.user.role == 'reader' %>
            <span style="background-color: #eeeeee; color: black; padding: 2px 5px;">
          <% else %>
            <span>
          <% end %>
          <%= comment.user.role.to_s.humanize unless comment.user.blank? %></span>
        <% end %>
       | <%= comment.updated_at.strftime("%b %d %Y, %H:%M") %>
    </div>
    <div style="width: 100%; font-size: 14px; padding: 10px 0px 10px 10px; line-height: 140%;">
      <%= comment.comment %>
    </div>
    <div class="clear"></div>
</div>
<% end %>
<a name="commentcheck"></a>
</div>