<%= form_for(@organisation) do |f| %>
  <% if @organisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

      <ul>
      <% @organisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="admin-block">
  <p><strong>Name:</strong> <%= f.text_field :name %></p>
  <p><strong>Province:</strong> <%= f.collection_select :province_id, Province.all.order("name ASC"), :id, :name %></p>
  </div>
  
  <div class="admin-block">
  <p><strong>Website:</strong> <%= f.text_field :website %></p>
  <p><strong>Twitter:</strong> <%= f.text_field :twitter %></p>
  <p><strong>Facebook:</strong> <%= f.text_field :facebook %></p>
  <p><strong>YouTube:</strong> <%= f.text_field :youtube %></p>
  </div>
  
  <div class="admin-block">
  <p><strong>General E-mail:</strong> <%= f.text_field :generalemail %></p>
  <p><strong>General Phone:</strong> <%= f.text_field :generalphone %></p>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
