<p id="notice"><%= notice %></p>

<h1>Organisations</h1>

<table>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td style="padding: 2px 5px;"><%= link_to 'E', edit_organisation_path(organisation) %></td>
        <td style="padding: 2px 5px;"><%= link_to organisation.name, organisation %></td>
        <td style="padding: 2px 5px;"><%= link_to organisation.province.name, organisation.province unless organisation.province.nil? %></td>
        <td style="padding: 2px 5px;"><%= organisation.generalphone %></td>
        <td style="padding: 2px 5px;">
          <% if organisation.twitter.present? %>
            <%= link_to '@' + organisation.twitter, 'https://twitter.com/' + organisation.twitter %>
          <% else %>
          <% end %>
        </td>
        <td style="padding: 2px 5px;"><%= link_to organisation.try(:facebook), 'https://www.facebook.com/' + organisation.try(:facebook) %></td>
        <td style="padding: 2px 5px;"><%= link_to organisation.try(:youtube), 'https://www.youtube.com/user/' + organisation.youtube.to_s + '/videos' %></td>
        <td style="padding: 2px 5px;"><%= link_to 'D', organisation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>