<p id="notice"><%= notice %></p>

<h1><%= link_to @organisation.name, edit_organisation_path(@organisation) %></h1>

<div class="reporting-block">
<p><strong>Province: </strong><%= link_to @organisation.province.try(:name), @organisation.province unless @organisation.province.nil? %></p>
</div>

<div class="reporting-block">
<p><strong>Website: </strong><%= link_to @organisation.website, @organisation.website %></p>
<p><strong>Twitter: </strong><%= link_to '@' + @organisation.try(:twitter), 'https://twitter.com/' + @organisation.twitter unless @organisation.twitter.empty? %></p>
<p><strong>Facebook: </strong><%= link_to @organisation.try(:facebook), 'https://www.facebook.com/' + @organisation.facebook unless @organisation.facebook.empty? %></p>
<p><strong>YouTube: </strong><%= link_to @organisation.try(:youtube), 'https://www.youtube.com/user/' + @organisation.youtube.to_s + '/videos' unless @organisation.youtube.empty? %></p>
</div>

<div class="reporting-block">
<p><strong>General E-mail: </strong><%= mail_to @organisation.generalemail, @organisation.generalemail %></p>
<p><strong>General Phone: </strong><%= @organisation.generalphone %></p>
</div>

<div style="float:left;"><h2>Sources</h2></div>
<div style="float:left; margin-left: 10px; padding-top: 17px;"><%= link_to 'New Source', {:controller => "sources", :action => "new", :organisation_id => @organisation.id } %></div>
<div class="clear"></div>

<% if @organisation.sources.present? %>
  <% @organisation.sources.order("name ASC").each do |source| %>
    <div class="reporting-block">
      <p style="margin-bottom: 3px;"><strong><%= link_to source.name, source %></strong> | <%= source.job %> | <%= link_to source.province.name, source.province unless source.province.nil? %> | <%= source.phone1 %>  | <%= source.phone2 %> | <%= mail_to source.email1, 'E-mail' unless source.email1.empty? %> | <%= link_to 'Twitter', 'https://twitter.com/' + source.twitter unless source.twitter.empty? %> | <%= link_to 'New Quote', {:controller => "quotes", :action => "new", :source_id => source.id } %></p>
      <% if source.quotes.present? %>
        <div style="margin-left: 15px;">
          <% source.quotes.order("created_at DESC").each do |quote| %>
            <p><strong><%= quote.created_at.strftime("%l:%M %P, %b %d %Y") %>:</strong> <%= link_to quote.quote.truncate(120), quote %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>