<div class="content-left-new-page"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
<div class="content-white-background">

<% if User.find(params[:id]) == current_user %>
	<h1>Edit MyTSR</h1>
<% else %>
	<h1>Editing <%= @user.email %></h1>
<% end %>

<%= render 'form' %>

<div class="subscription-block">
<h3>My Payment Details</h3>

<% if current_user.role == 'editor' %>
	<div style="margin-bottom: 20px;">
		<%= form_for(@user) do |f| %>
			<div class="email-input-float"><%= f.text_field :stripe_customer_id, :class => "input200", :placeholder => "UK Customer ID" %></div>
			<div class="email-input-float"><%= f.text_field :stripe_customer_id_spain, :class => "input200", :placeholder => "Spain Customer ID" %></div>
			<div class="email-input-float"><button type="submit" class="blueformbutton">Save</button></div>
			<div class="clear"></div>
		<% end %>
	
		<%= form_tag '/get_subscription_history', :id => 'get_subscription_history', :name => 'get_subscription_history' do %>
			<% if @user.subscriptions.any? %>
				<input type="hidden" name="tsr_subscription_id" id="tsr_subscription_id" value="<%= @user.subscriptions.last.id %>">
			<% end %>
			<input type="hidden" name="user_id" id="user_id" value="<%= @user.id %>">
			<button type="submit" class="linkbutton">Get subscription history</button>
		<% end %>
	</div>
<% end %>

<% if @user.account_role == 'account_member' %>
	<div class="subscription-block">
		<h3>Your Account</h3>
		<p>
		You currently belong to a group account managed and paid for by: 
		<% @user.account.users.where(account_role: 'account_boss').each do |u| %>
			<%= u.email %>
		<% end %>
		</p>
	</div>
<% end %>

<% if @user.stripe_customer_id == "NON-AUTOMATIC INVOICE" && @user.role == 'subscriber' %>

<% elsif @user.stripe_customer_id? || @user.stripe_customer_id_spain? %>
	<% if @user.stripe_customer_id? %>
		<p>
			You first purchased from The Spain Report Ltd. (UK) on <%= @user.becomes_customer_date.strftime("%b %d, %Y at %l:%M %P") unless @user.becomes_customer_date.nil? %><br />
			<strong>Customer ID:</strong> <%= @user.stripe_customer_id unless @user.stripe_customer_id.nil? %><br />
			<% if @user.credit_card_id? %>
				<strong>Credit Card:</strong> <%= @user.credit_card_brand %> ending in **** <%= @user.credit_card_last4 %>, expires on <%= @user.credit_card_expiry_month.to_s.rjust(2, '0') %>/<%= @user.credit_card_expiry_year %>. <a onclick="updateCreditCard()">Update card details</a>
			<% end %>
		</p>
	<% elsif @user.stripe_customer_id_spain? %>
		<p>
			You first purchased from The Spain Report Ltd. (Sucursal en España) on <%= @user.becomes_customer_date_spain.strftime("%b %d, %Y at %l:%M %P") unless @user.becomes_customer_date_spain.nil? %>.<br />
			<strong>Customer ID:</strong> <%= @user.stripe_customer_id_spain unless @user.stripe_customer_id_spain.nil? %><br />
			<% if @user.credit_card_id_spain? %>
				<strong>Credit Card:</strong> <%= @user.credit_card_brand_spain %> ending in **** <%= @user.credit_card_last4_spain %>, expires on <%= @user.credit_card_expiry_month_spain.to_s.rjust(2, '0') %>/<%= @user.credit_card_expiry_year_spain %>. <a onclick="updateCreditCard()">Update card details</a>
			<% end %>
		</p>
	<% end %>

</div>

<div class="subscription-block">
	<div id="update-credit-card" style="display:none; width: 55%;">
		<%= form_tag '/update_credit_card', :class => '', :id => 'update-form' do %>

			<%= render '/subscriptions/creditcard_empty' %>
		
			<div class="subscription-form-section-bottom">	
				<div class="subscription-left-label-input">
			
				</div>
				<div class="subscription-right-form-element">
					<button type="submit" class="blueformbutton" style="z-index: 1000;">Save New Card</button>
				</div>
				<div class="clear"></div>
			</div>
		
			<div class="clear"></div>
			
			<input type="hidden" name="customer_id" id="customer_id" value="<%= @user.stripe_customer_id %>">
			<% if @user.subscriptions.any? %>
			<input type="hidden" name="tsr_subscription_id" id="tsr_subscription_id" value="<%= @user.subscriptions.order(:created_at).last.id %>">
			<% else %>
			<% end %>
			<input type="hidden" name="old_card" id="old_card" value="<%= @user.credit_card_id %>">
			<input type="hidden" name="user_id" id="user_id" value="<%= @user.id %>">
		<% end %>
	</div>
</div>

<div class="subscription-block">
	<h3>My Subscription(s)</h3>
	
	<% if ['subscriber', 'subscriber_one_story', 'subscriber_all_stories'].include?(@user.role) && !@user.subscriptions.active.any? %>
		<div style="margin-bottom: 20px;">
			<p style="margin-bottom: 15px;">
				Your subscription has expired: please <a href="/subscriptions/new">resubscribe now</a>. 
				If your credit card details are still correct, you may do so with one or two clicks.
				If not, please enter your new credit card details first.
			</p>
		</div>
	<% end %>
	
<script>
var country_tax;
// MaxMind IP VAT stuff
	var onSuccess = function(x){
		var ip = x.traits.ip_address;
		document.getElementById('ip_address').value = ip;

		var country_code = x.country.iso_code;
		document.getElementById('ip_country_code').value = country_code;

		var country_name = x.country.names.en;
		document.getElementById('ip_country_name').value = country_name;
	};

	var onError = function(error){
		alert(
			"Error:\n\n"
			+ JSON.stringify(error, undefined, 4)
		);
	};

	geoip2.country(onSuccess, onError);
	</script>
	
	<% if @user.subscriptions.any? %>
		<% @user.subscriptions.each do |sub| %>
			<div style="margin-bottom: 20px;">
				<div class="left-15 bold">ID</div><div class="subscription-item-right"><%= sub.stripe_subscription_id %></div><div class="clear"></div>
				<div class="left-15 bold">Type</div><div class="subscription-item-right"><%= sub.stripe_subscription_type %></div><div class="clear"></div>
				<div class="left-15 bold">Created</div><div class="subscription-item-right"><%= Time.at(sub.stripe_subscription_created).strftime("%d/%m/%y") unless sub.stripe_subscription_created.nil? %></div><div class="clear"></div>
				<div class="left-15 bold">Your plan</div><div class="subscription-item-right"><%= sub.stripe_subscription_quantity %> x <%= sub.stripe_subscription_plan %></div><div class="clear"></div>
				<div class="left-15 bold">Purchased In</div><div class="subscription-item-right"><%= sub.stripe_subscription_ip_country_name %> <%= image_tag(sub.stripe_subscription_ip_country + '.jpg', :height => 18) %> (<%= sub.stripe_subscription_ip %>)</div><div class="clear"></div>
				<div class="left-15 bold">Discount</div><div class="subscription-item-right"><%= sub.discount ? sub.discount.to_s + '%' : '' %></div><div class="clear"></div>
				<div class="left-15 bold">Price</div><div class="subscription-item-right"><%= sub.stripe_currency == 'gbp' ? '£' : '€' %><%= sprintf("%.2f",(sub.stripe_subscription_amount/100.round(2))) %> / <%= sub.stripe_subscription_howlong %> <%= sub.stripe_subscription_interval %> + <%= sub.stripe_subscription_tax_percent %>% VAT</div><div class="clear"></div>
				<div class="left-15 bold">Status</div><div class="subscription-item-right">
					<% if sub.stripe_status == 'canceled' %>
						<span class="cancelled"><%= sub.stripe_status.titleize unless sub.stripe_status.nil? %></span>
					<% else %>
						<span class="active"><%= sub.stripe_status.titleize unless sub.stripe_status.nil? %></span>
					<% end %>
				</div><div class="clear"></div>
				<div class="left-15 bold">Current</div><div class="subscription-item-right"><%= Time.at(sub.stripe_subscription_current_period_start_date).strftime("%d/%m/%y") %></div><div class="clear"></div>
				<% if sub.stripe_status == 'canceled' %>
					<div class="left-15 bold">Cancelled on</div>
				<% elsif sub.stripe_subscription_plan == 'One-time subscription' %>
					<div class="left-15 bold">Ends on</div>
				<% else %>
					<div class="left-15 bold">Renews on</div>
				<% end %>
				<div class="subscription-item-right"><%= Time.at(sub.stripe_subscription_current_period_end_date).strftime("%d/%m/%y") %></div><div class="clear"></div>
				
				<% if @user.account_role == 'account_boss' && @user.account.users.any? %>
					<div class="left-15 bold">Users</div><div class="left-60">
						<div style="width: 100%; margin-bottom: 10px;">
							<% @user.account.users.where(account_role: 'account_boss').each do |u| %>
								<div class="left-50"><%= u.email %></div>
								<div class="right-20"></div>
								<div class="clear"></div>
							<% end %>
							<% @user.account.users.active.where(account_role: 'account_member', account_subscription_id: sub.id).each do |u| %>
								<div class="left-50"><%= u.email %></div>
								<div class="right-20"><%= link_to 'Unlink', unlink_by_account_boss_subscription_url(u), data: { confirm: 'Are you sure?' } %></div>
								<div class="clear"></div>
							<% end %>
						</div>
						<% if sub.stripe_status != 'canceled' && (sub.stripe_subscription_quantity > @user.account.users.active.where(account_role: 'account_member', account_subscription_id: sub.id).count + 1) %>
							<%= form_tag '/link_by_account_boss',  :style => 'margin-bottom: 10px;', :id => 'link_by_account_boss' do %>
								<input type="email" name="email" id="email" placeholder="Enter new e-mail…">
								<input type="hidden" name="account_id" id="account_id" value="<%= @user.account.id %>">
								<input type="hidden" name="subscription_id" id="subscription_id" value="<%= sub.id %>">
								<button type="submit" class="linkbutton">Add User</button>
							<% end %>
						<% end %>
					</div>
					<div class="clear"></div>
				<% else %>
				<% end %>
				
				<% if sub.stripe_status == 'canceled' || sub.stripe_subscription_id == 'One-time pre-payment' %>
				<% else %>
					<div class="left-15 bold">Options</div>
					<div class="left-60">
						<div class="left-15"><a onclick="buyMoreUsers()">Buy More Users</a>:</div>
						<div class="left-70">
							Click on the link, enter the new <strong>total</strong> number of users you want, and press "Buy Now".
							<%= form_tag '/buy_more_users', :style => 'display:none; margin-right: 10px;', :class => '', :id => 'buy_more_users' do %>
								<div class="subscription-form-section-middle">
									<p class="mb-10">
										<strong>Automatic monthly discount:</strong>
										<ul style="margin: -10px 0 10px 20px; list-style:none;">
											<li style="font-size:14px; line-height: 100%;">2–9 users = -10%;
											<li style="font-size:14px; line-height: 100%;">10–99 users = -20%;
											<li style="font-size:14px; line-height: 100%;">+100 users = -30%;
										</ul>
									</p>
									<div class="subscription-left-label-input">
										How Many Users?
									</div>
									<div class="subscription-right-form-element">			 
										<input type="number" pattern="\d*" name="quantity" id="quantity" class="input50" value="1" min="1" max="10000" onchange="calculateTotal()" oninput="calculateTotal()">
									</div>
									<div class="clear"></div>
								</div>
								<div class="subscription-form-section-bottom">	
									<div class="subscription-left-label-input">
									</div>
									<div class="subscription-right-form-element">
										<button type="submit" class="blueformbutton" style="z-index: 1000;">Buy Now</button>
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
								<input type="hidden" name="customer_id" id="customer_id" value="<%= @user.stripe_customer_id %>">
								<input type="hidden" name="tsr_subscription_id" id="tsr_subscription_id" value="<%= sub.id %>">
								<input type="hidden" name="existing_subscription" id="existing_subscription" value="<%= sub.stripe_subscription_id %>">
								<input type="hidden" name="user_id" id="user_id" value="<%= @user.id %>">
								<input type="hidden" name="email" id="email" value="<%= @user.email %>">
								<input type="hidden" name="discount" id="discount" value="">
							<% end %>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>

<div class="subscription-block">
	<h3>My Receipts</h3>
		<% @user.invoices.order('stripe_invoice_date DESC').each do |inv| %>
			<div class="subscription-item">
				<div class="left-10"><%= link_to Time.at(inv.stripe_invoice_date).strftime("%d/%m/%y"), edit_invoice_path(inv) %></div>
				<div class="left-10"><%= inv.stripe_invoice_quantity %> x <%= inv.stripe_invoice_item %> at <%= inv.stripe_invoice_currency == 'gbp' ? '£' : '€' %><%= sprintf("%.2f",(inv.stripe_invoice_price/100.round(2))) %> each x <%= inv.howlong %> <%= inv.stripe_invoice_interval %> (+ <%= inv.stripe_invoice_tax_percent %>% VAT)</div>
				<div class="right-5">
					<% if inv.status == 'verified' %>
						<span class="verified">Verified</span>
					<% else %>
						<span class="unverified">Unverified</span>
					<% end %>
				</div>
				<div class="right-5">
					<% if inv.paid? %>
						<span class="paid">Paid</span>
					<% else %>
						<span class="unpaid">Unpaid</span>
					<% end %>
				</div>
				<div class="right-10"><%= inv.stripe_invoice_currency == 'gbp' ? '£' : '€' %><%= sprintf("%.2f",(inv.stripe_invoice_total/100.round(2))) %></div>
				<div class="clear"></div>
			</div>
		<% end %>
</div>

<% else %>
You are not a subscriber yet: <%= link_to "subscribe now", '/subscriptions/new', :"data-no-turbolink" => true %> or <a href="/subscriptions/prepay">prepay</a>.
<% end %>

</div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<%= javascript_include_tag "jquery.payment.js" %>

<script>
function updateCreditCard() {
    var x = document.getElementById('update-credit-card');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}

function buyMoreUsers() {
    var x = document.getElementById('buy_more_users');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}

function HowDiscount()
{
	var howdiscount=0
	var theForm = document.forms["buy_more_users"];
	var selectedquantity = theForm.elements["quantity"].value;
	if(selectedquantity == 1) {howdiscount = 0;}
	if(selectedquantity > 1) {howdiscount = 0.1;}
	if(selectedquantity >= 10) {howdiscount = 0.2;}
	if(selectedquantity >= 100) {howdiscount = 0.3;}
	return howdiscount
}

function calculateTotal()
{
// inner discount rate
	var divobj = document.getElementById('discount');
	divobj.value = Math.round(HowDiscount()*100);
}
</script>

<script>
    jQuery(function($) {
      $('[data-numeric]').payment('restrictNumeric');
      $('.cc-number').payment('formatCardNumber');
      $('.cc-exp').payment('formatCardExpiry');
      $('.cc-cvc').payment('formatCardCVC');

      $.fn.toggleInputError = function(erred) {
        this.parent('.form-group').toggleClass('has-error', erred);
        return this;
      };

      $('update-form').submit(function(e) {
        e.preventDefault();

        var cardType = $.payment.cardType($('.cc-number').val());
        $('.cc-number').toggleInputError(!$.payment.validateCardNumber($('.cc-number').val()));
        $('.cc-exp').toggleInputError(!$.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal')));
        $('.cc-cvc').toggleInputError(!$.payment.validateCardCVC($('.cc-cvc').val(), cardType));
        $('.cc-brand').text(cardType);

        $('.validation').removeClass('text-danger text-success');
        $('.validation').addClass($('.has-error').length ? 'text-danger' : 'text-success');
      });

    });
</script>

<script type="text/javascript">
$(function(){
	<% if @user.subscriptions.any? %>
		<% if @user.subscriptions.order(:created_at).last.stripe_subscription_ip_country == "ES" %>
			Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_spain_key] %>');
		<% else %>
			Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
		<% end %>
	<% else %>
	<% end %>
});

$('#update-form').submit(function(event) {
	var form = $(this);
	form.find('button').prop('disabled', true);
	Stripe.createToken(form, stripeResponseHandler);
	return false;
});

function stripeResponseHandler(status, response) {
	var form = $('#update-form');
	if (response.error) {
		form.find('.payment-errors').text(response.error.message);
		form.find('button').prop('disabled', false);
	} else {
		var token = response.id;
		form.append($('<input type="hidden" name="stripeToken">').val(token));
		form.get(0).submit();
	}
}
</script>