<div class="content-left-new-page"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
<div class="content-white-background">

<% if User.find(params[:id]) == current_user %>
<h1>Edit My Account</h1>
<% elsif @user.name.present? %>
<h1>Editing <%= @user.name %></h1>
<% else %>
<h1>Editing <%= @user.email %></h1>
<% end %>

<%= render 'form' %>

<hr />

<h3>My Subscription</h3>

<% if current_user.role == 'editor' %>
  <%= form_for(@user) do |f| %>
    <div class="email-input-float"><strong>Customer ID:</strong> <%= f.text_field :stripe_customer_id, :class => "input200" %></div>
    <div class="email-input-float"><button type="submit" class="blueformbutton">Save Changes</button></div>
  <% end %>
  <br /><br />
<% else %>

<% end %>

<% if @user.stripe_customer_id == "NON-AUTOMATIC INVOICE" && @user.role == 'subscriber' %>

<% elsif @user.stripe_customer_id? && @user.role == 'subscriber' %>
<strong>Customer ID:</strong> <%= @stripe_customer_details['id'] %><br />
<strong>Customer E-mail:</strong> <%= @stripe_customer_details['description'] %><br />
<strong>Customer Creation Date:</strong> <%= Time.at(@stripe_customer_details['created']).to_formatted_s(:long) %><br /><br />

<strong>Credit Card:</strong> <%= @stripe_customer_details.sources.data[0].brand %><br />
<strong>Card Country:</strong> <%= @stripe_customer_details.sources.data[0].country %><br />
<strong>Ending In:</strong> **** **** **** <%= @stripe_customer_details.sources.data[0].last4 %><br />
<strong>Expiry Month:</strong> <%= @stripe_customer_details.sources.data[0].exp_month %>/<%= @stripe_customer_details.sources.data[0].exp_year %><br /><br />

<strong>Subscription Plan:</strong> <%= @stripe_customer_details.subscriptions.data[0].plan.name %><br />
<strong>Subscription ID:</strong> <%= @stripe_customer_details.subscriptions.data[0].id %><br />
<strong>Subscription Start Date:</strong> <%= Time.at(@stripe_customer_details.subscriptions.data[0].current_period_start).to_formatted_s(:long) %><br />
<strong>Subscription Renewal Date:</strong> <%= Time.at(@stripe_customer_details.subscriptions.data[0].current_period_end).to_formatted_s(:long) %><br /><br />

<div><strong>My Payments</strong>
  <table class="invoice-table">
  <tr>
    <th>Date</th>
    <th>Payment ID</th>
    <th>Item</th>
    <th class="right">Qty</th>
    <th class="right">Price</th>
    <th class="right">VAT %</th>
    <th class="right">VAT</th>
    <th class="right">Total</th>
  </tr>

  <% @stripe_invoices.each do |invoice| %>
    <tr>
    <td><%= Time.at(invoice.date).strftime("%d/%m/%Y") %></td>
    <td><%= invoice.id %></td>
    <td><%= invoice.lines.data[0].type.capitalize %> (<%= invoice.lines.data[0].plan.name %>)</td>
    <td class="right"><%= invoice.lines.data[0].quantity %></td>
    <td class="right">£<%= invoice.lines.data[0].plan.amount/100 %></td>
    <td class="right"><%= invoice.tax_percent %>%</td>
    <td class="right">£<%= invoice.tax %></td>
    <td class="right">£<%= invoice.total/100 %></td>
    </tr>
  <% end %>
  
  </table>
</div>
<% else %>
Not a subscriber yet. <%= link_to "Subscribe now", '/subscriptions/new', :"data-no-turbolink" => true %>.
<% end %>

</div>
</div>