<% title 'All Members' %>
<div class="content-left-new-page"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
<div class="content-white-background">

<h1>All Members</h1>

<div class="article-lede">
- <%= @totalactivecount %> total active users<br />
--- <%= @subscribercount %> total active subscribers<br />
------ <%= @allstorycount %> all-archive<br />
------ <%= @allcurrentcount %> all-current<br />
------ <%= @onestorycount %> single-story<br />
------ <%= @pausedcount %> paused<br />
------ <%= @pre2018count %> pre-2018<br />
------ <%= @nostripecount %> without Stripe ID<br />
--- <%= @cancelledcount %> cancelled<br />
--- <%= @readercount %> readers <br />
--- <%= @guestcount %> guests <br />
- <%= @deletedcount %> deleted <br />
- <%= @dateblank %> access date blank <br />
</div>

<div class="article-lede">
- <%= User.active.where(briefing_frequency_id: 1).count %> Every 2 hours <br />
- <%= User.active.where(briefing_frequency_id: 2).count %> Every 3 hours <br />
- <%= User.active.where(briefing_frequency_id: 3).count %> Every 6 hours <br />
- <%= User.active.where(briefing_frequency_id: 4).count %> Every 12 hours <br />
- <%= User.active.where(briefing_frequency_id: 5).count %> Once a day <br />
- <%= User.active.where(briefing_frequency_id: 6).count %> Twice a week <br />
- <%= User.active.where(briefing_frequency_id: 7).count %> Once a week <br />
- <%= User.active.where(briefing_frequency_id: 8).count %> Briefings off <br />
</div>

  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <div style="float:left;">
      <%= text_field_tag :search, params[:search], :size => 50, placeholder: "Search Stories" %>
    </div>
    <div style="float:left; margin-left: 10px;">
      <%= submit_tag "Search" %>
    </div>
    <div class="clear"></div>
  <% end %>

<% if params[:search] %>
  <div style="float:left; margin-top: 5px; background-color: #FEF9E6; padding: 4px 10px 1px 10px;">
<p><%= @userscount %> users containing "<strong><%= params[:search] %></strong>".</p>
</div>

<table class="admin-table">
  <thead>
    <tr style="font-weight: bold;">
      <td></td>
      <td>Joined</td>
      <td>Role</td>
      <td>E-mail</td>
      <td>E-mails</td>
      <td>Conf?</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to 'E', edit_user_path(user) %></td>
        <td><%= user.created_at.strftime("%d/%m/%Y") %></td>
        <td>
        <% if user.role == 'editor' %>
            <span class="editor-label-mini">
          <% elsif user.role == 'subscriber' %>
            <span class="subscriber-label-mini">
          <% elsif user.role == 'reader' %>
            <span class="reader-label-mini">
          <% else %>
            <span>
          <% end %>
        <%= user.role.to_s.humanize %></span>
        </td>
        <td><%= mail_to user.email %></td>
        <td>
          <% if user.emailpref == 'articlesupdates' %>
            Everything
          <% elsif user.emailpref == 'justarticles' %>
            Just Articles
          <% elsif user.emailpref == 'justsummariesbreaking' %>
            Summaries
          <% elsif user.emailpref == 'nothing' %>
            No E-mail
          <% else %>
            Not Set
          <% end %>
        </td>
        <td><%= user.email_confirmed %></td>
        <td><%= link_to 'U?', unsubscribe_by_staff_subscription_url(user), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<h3>Subscribers</h3>

<table class="admin-table">
  <thead>
    <tr style="font-weight: bold;">
      <td></td>
      <td>Joined</td>
      <td>Role</td>
      <td>E-mail</td>
      <td>Briefings</td>
      <td>Signed-up at…</td>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |user| %>
      <tr>
        <td><%= link_to 'E', edit_user_path(user) %></td>
        <td><%= user.created_at.strftime("%d/%m/%Y") %></td>
        <td>
        <% if user.role == 'editor' %>
            <span class="editor-label-mini">
          <% elsif user.role == 'subscriber' %>
            <span class="subscriber-label-mini">General
        <% elsif user.role == 'subscriber_all_stories' %>
            <span class="subscriber-label-mini">All Stories
            <% elsif user.role == 'subscriber_one_story' %>
            <span class="subscriber-label-mini">One-Story
          <% else %>
            <span>
          <% end %>
        </span>
        </td>
        <td><%= mail_to user.email %></td>
        <td><%= user.briefing_frequency.briefing_frequency unless user.briefing_frequency.nil? %></td>
        <td>
          <% if user.histories %>
            <% user.histories.firstone.each do |h| %>
              <% if h.article.nil? %>
                <%= link_to "Home", root_url %>
              <% else %>
                <%= link_to h.article.headline.truncate(45), h.article %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= user.account_role == 'account_boss' ? 'Boss' : '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Readers</h3>

<table class="admin-table">
  <thead>
    <tr style="font-weight: bold;">
      <td></td>
      <td>Joined</td>
      <td>Role</td>
      <td>E-mail</td>
      <td>Conf</td>
      <td>Briefings</td>
      <td>Signed-up at…</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @readers.each do |user| %>
      <tr>
        <td><%= link_to 'E', edit_user_path(user) %></td>
        <td><%= user.created_at.strftime("%d/%m/%Y") %></td>
        <td><span class="reader-label-mini"><%= user.role.to_s.humanize %></span></td>
        <td><%= mail_to user.email.truncate(15) %></td>
        <td><%= user.email_confirmed %></td>
        <td><%= user.briefing_frequency.briefing_frequency unless user.briefing_frequency.nil? %></td>
        <td>
          <% if user.histories %>
            <% user.histories.firstone.each do |h| %>
              <% if h.article.nil? %>
                <%= link_to "Home", root_url %>
              <% else %>
                <%= link_to h.article.headline.truncate(45), h.article %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to 'U?', unsubscribe_by_staff_subscription_url(user), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Deleted</h3>

<table class="admin-table">
  <thead>
    <tr style="font-weight: bold;">
      <td></td>
      <td>For…</td>
      <td>Role</td>
      <td>E-mail</td>
      <td>Conf</td>
      <td>Signed-up at…</td>
    </tr>
  </thead>

  <tbody>
    <% @deleted.each do |user| %>
      <tr>
        <td><%= link_to 'E', edit_user_path(user) %></td>
        <td><%= distance_of_time_in_words(user.updated_at, user.created_at) %></td>
        <td><%= user.role.to_s.humanize %></td>
        <td><%= mail_to user.email.truncate(15) %></td>
        <td><%= user.email_confirmed %></td>
        <td>
          <% if user.histories %>
            <% user.histories.firstone.each do |h| %>
              <% if h.article.nil? %>
                <%= link_to "Home", root_url %>
              <% else %>
                <%= link_to h.article.headline.truncate(45), h.article %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% end %>

</div>
</div>