<%= render 'tickerstories' %>

<div class="content-wrapper">
<div class="content-left-main">
<div class="content-left-new">

<div class="index-story">
  <% @lasttopstory.each do |article| %>
    
    <% if article.main? %>
      <div class="index-image">
        <%= link_to(article) do %>
          <%= image_tag article.main.url if article.main? %>
        <% end %>
      </div>
    <% elsif article.video? %>
      <div class="index-video">
        <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{article.video}?rel=0&amp;showinfo=0") %>
      </div>
    <% else %>
    <% end %>

    <h1 class="headline">
       <%= link_to article do %>
        <%= article.headline.present? ? article.headline : article.short_headline %>
      <% end %>
    </h1>
    
    <div class="index-story-text">
      <strong><%= article.type.name %>:</strong> <%= article.body.truncate(225) %> (<%= link_to 'Read full story', article %>).
    </div>
    
    <% if article.newsitems.present? %> <%# POST ANY PUBLISHED UPDATES TO THE ARTICLE %>
      <div class="index-story-updates">
        <ul>
          <% article.newsitems.each do |newsitem| %>
            <li>
              <%= link_to newsitem.slug, article_url(newsitem.article, anchor: newsitem.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="index-story-meta">
      <span class="feed-item-date"><%= article.created_at.strftime("%A, %B %-d, %Y at %l:%M %p") %></span>
      
      <% if article.urgency == 'majorbreaking' && article.created_at >= 2.hours.ago %>
        <span class="breaking-label-mini">MAJOR BREAKING</span>
      <% elsif article.urgency == 'breaking' && article.created_at >= 2.hours.ago %>
        <span class="breaking-label-mini">BREAKING</span>
      <% elsif article.urgency == 'latest' && article.created_at >= 2.hours.ago %>
        <span class="latest-label-mini">LATEST</span>
      <% else %>
      <% end %>
      
      <% if article.type.name == "LIVE BLOG" %>
        <span class="breaking-label-mini">LIVE BLOG</span>  
      <% elsif article.type.name == 'EDITORIAL' %>
        <span class="editorial-label-mini">EDITORIAL</span>
      <% elsif article.type.name == 'ANALYSIS' %>
        <span class="editorial-label-mini">ANALYSIS</span>
      <% elsif article.type.name == 'DAILY BRIEFING' %>
        <span class="latest-label-mini">DAILY BRIEFING</span>
      <% elsif !["NEWS", "DAILY BRIEFING", "EDITORIAL", "ANALYSIS", "BLOG", "LIVE BLOG"].include?(article.type.try(:name)) %>
        <span class="indepth-label-mini">IN-DEPTH</span>
      <% end %>
      
      <% if article.is_free || ["BLOG", "BRIEFING", "LIVE BLOG", "VIDEO BLOG"].include?(article.type.try(:name)) %>
    <span class="black-label-mini">FREE TO READ</span>
  <% else %>
  <% end %>
    </div>
  
<% end %>
</div>

<% @lasttwenty.each do |article| %>
  <div class="index-story" style="margin-bottom: 10px;">
    
    <% if article.main? %>
      <div class="index-image">
        <%= link_to(article) do %>
          <%= image_tag article.main.url if article.main? %>
        <% end %>
      </div>
    <% elsif article.video? %>
      <div class="index-video">
        <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{article.video}?rel=0&amp;showinfo=0") %>
      </div>
    <% else %>
    <% end %>
    
    <p class="headline"><%= link_to article.headline, article %></p>
    
    <div class="index-story-text">
      <strong><%= article.type.name %>:</strong> <%= article.body.truncate(225) %> (<%= link_to 'Read full story', article %>).
    </div>
        
    <% if article.newsitems.present? %> <%# POST ANY PUBLISHED UPDATES TO THE ARTICLE %>
      <div class="index-story-updates">
        <ul>
          <% article.newsitems.each do |newsitem| %>
            <li>
              <%= link_to newsitem.slug, article_url(newsitem.article, anchor: newsitem.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="index-story-meta">
      <span class="feed-item-date"><%= article.created_at.strftime("%A, %B %-d, %Y at %l:%M %p") %></span>
      
      <% if article.urgency == 'majorbreaking' && article.created_at >= 2.hours.ago %>
        <span class="breaking-label-mini">MAJOR BREAKING</span>
      <% elsif article.urgency == 'breaking' && article.created_at >= 2.hours.ago %>
        <span class="breaking-label-mini">BREAKING</span> 
      <% elsif article.urgency == 'latest' && article.created_at >= 2.hours.ago %>
        <span class="latest-label-mini">LATEST</span>   
      <% else %>
      <% end %>
      
      <% if article.type.name == "LIVE BLOG" %>
        <span class="breaking-label-mini">LIVE BLOG</span>  
      <% elsif article.type.name == 'EDITORIAL' %>
        <span class="editorial-label-mini">EDITORIAL</span>
      <% elsif article.type.name == 'ANALYSIS' %>
        <span class="editorial-label-mini">ANALYSIS</span>
      <% elsif article.type.name == 'DAILY BRIEFING' %>
        <span class="latest-label-mini">DAILY BRIEFING</span>
      <% elsif !["NEWS", "DAILY BRIEFING", "EDITORIAL", "ANALYSIS", "BLOG", "LIVE BLOG"].include?(article.type.try(:name)) %>
        <span class="indepth-label-mini">IN-DEPTH</span>
      <% end %>
      
      <% if article.is_free || ["BLOG", "BRIEFING", "LIVE BLOG", "VIDEO BLOG"].include?(article.type.try(:name)) %>
    <span class="black-label-mini">FREE TO READ</span>
  <% else %>
  <% end %>
    </div>  
        
    </div> 
<% end %>

</div>

<div class="clear"></div>

</div>
</div>