<%= render 'tickerstories' %>

<% @breakingonly.each do |article| %>

    <div style="background-color: #f5f5f5; padding: 5px 10px; margin-top: 5px;">
    <h1><%= link_to article.headline, article %></h1>
      <% if article.main? %>
        <div class="main-image-home-breaking">
          <%= link_to(article) do %>
          <%= image_tag article.main.url if article.main? %>
          <% end %>
        <div class="main-caption">
          <%= article.caption %> <strong>Source:</strong> <%= article.source %>. (Click to enlarge)
        </div>
        </div>
      <% elsif article.video? %>
        <div class="main-image-home-breaking">
          <div class="video-wrapper">
          <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{article.video}?rel=0&amp;showinfo=0") %>
          </div>
          <div class="main-caption">
          <%= article.caption %> <strong>Source:</strong> <%= article.source %>
          </div>
        </div>
    <% else %>
    <% end %>
    
    <div class="article-text"><%= markdown(truncate(article.body, :length => 800)) %></div>
    <div class="clear"></div>
    </div>
    
  
<% end %>


<div class="index-home">
  <div class="listing-left">Updated</div>
  <div class="listing-right">Latest Articles</div>
  <div class="clear"></div>
</div>

<% @last10.each do |article| %>
  <div class="listing-article-container">
    <div class="listing-left">
    <% if article.urgency == 'majorbreaking' && article.updated_at >= 3.hours.ago %>
      <span class="breaking">
    <% elsif article.urgency == 'breaking' && article.updated_at  >= 3.hours.ago %>
      <span class="breaking">
    <% elsif article.urgency == 'latest' && article.updated_at  >= 12.hours.ago %> 
      <span class="latest">
    <% elsif article.urgency == 'updated' %> 
      <span class="updated">
    <% elsif article.type.name == 'EDITORIAL' %> 
      <span class="editorial">
    <% else %>
      <span>
    <% end %>
    <%= article.updated_at.to_formatted_s(:short) %></span>
    </div>
    <div class="listing-right">
      <% if article.urgency == 'majorbreaking' && article.updated_at >= 3.hours.ago %>
        <span class="breaking"><%= link_to 'MAJOR BREAKING' + ': ' + article.headline, article %></span>
      <% elsif article.urgency == 'breaking' && article.updated_at >= 3.hours.ago %>
        <span class="breaking">BREAKING</span> <%= link_to article.headline, article %>
      <% elsif article.urgency == 'latest' && article.updated_at >= 12.hours.ago %>
        <span class="latest">LATEST</span> <%= link_to article.headline, article %>
      <% elsif article.type.name == "LIVE BLOG" && article.created_at >= 12.hours.ago %>
        <span class="breaking">LIVE BLOG</span> <%= link_to article.headline, article %>
      <% elsif article.status == 'updated' %>
        <span class="updated">UPDATED</span> <%= link_to article.headline, article %>
      <% elsif article.type.name == 'EDITORIAL' %>
        <span class="editorial">EDITORIAL</span> <%= link_to article.headline, article %>
      <% else %>  
        <strong><%= article.type.name unless article.type.nil? %>:</strong> <%= link_to article.headline, article %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
<% end %>

<% @latestaudio.each do |a| %>
<div class="index-updates">
  <div class="listing-left"><%= a.updated_at.to_formatted_s(:short) %></div>
  <div class="listing-right">2 Minute Spain News</div>
  <div class="clear"></div>
</div>
<div style="margin-top: 5px; ">
<audio controls="controls" preload="none"><source src="<%= a.url %>" ></audio>
</div>
<% end %>

<%= render 'emailsignup' %>

<div class="index-updates">
  <div class="listing-left">Updated</div>
  <div class="listing-right">Latest Updates</div>
  <div class="clear"></div>
</div>

<% @last30items.each do |newsitem| %>
  <div class="listing-update-container">
    <div class="listing-left">
      <%= newsitem.updated_at.to_formatted_s(:short) %>
    </div>
    <div class="listing-right">
  
      <div class="listing-update-text">
      <span class="listing-update-slug">
      <% if newsitem.article.present? && newsitem.article.type.name == "LIVE BLOG" %>
        LIVE BLOG: <%= link_to newsitem.slug, article_url(newsitem.article, anchor: newsitem.id) %>
      <% else %>
        UPDATE: <%= link_to newsitem.slug, newsitem %>
      <% end %>
      </span>
      <br />
      <%= markdown(newsitem.item.truncate(265)) %>
      </div>
      <div class="clear"></div>
      <div class="meta">
        <strong>Source:</strong> <%= link_to newsitem.source, newsitem.url %> || 
        <%= raw(newsitem.regions.map {|r| raw(link_to(r.region, region_path(r)))}.join(', ')) %>, 
        <%= raw(newsitem.categories.map {|c| raw(link_to(c.category, category_path(c)))}.join(', ')) %>,
        <%= raw(newsitem.stories.map {|s| raw(link_to(s.story, story_path(s)))}.join(', ')) %>
      </div>
    </div>
  <div class="clear"></div>
</div>
<% end %>