<% title 'All Stories' %>

<div class="content-left-new-page"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
<div class="content-white-background">

<h1>Edit All Stories</h1>

<div class="article-lede">There are <strong><%= @storycount %></strong> stories.</div>

<table class="admin-table">
  <tr>
    <td></td>
    <td>Story</td>
    <td>E-Mail Alerts</td>
    <td>Briefings</td>
    <td>Website Only</td>
    <td>Not Interested</td>
    <td>Articles</td>
  </tr>
<% @stories.each do |s| %>
  <tr>
    <td><%= link_to 'E', edit_story_path(s) %></td>
    <td><%= link_to s.story, s unless s.story.nil? %></td>
    <td><%= s.notifications.level_1.count %></td>
    <td><%= s.notifications.level_2.count %></td>
    <td><%= s.notifications.level_3.count %></td>
    <td><%= s.notifications.level_4.count %></td>
    <td><%= s.articles.count %></td>
  </tr>
<% end %>

</table>

</div>
</div>
<div style="clear:both;"></div>