<% title @story.story %>

<%= render 'tickerstories' %>

<h1><%= @story.story %>: News, Updates & Analysis</h1>

<% if @story.urgency == 'majorbreaking' %>
  <div class="news-alert"><span class="breaking-label">MAJOR BREAKING NEWS LIVE BLOG</span></div>
<% elsif @story.urgency == 'breaking' %>
  <div class="news-alert"><span class="breaking-label">BREAKING NEWS LIVE BLOG</span></div>
<% elsif @story.urgency == 'latest' %>
  <div class="news-alert"><span class="latest-label">LATEST NEWS LIVE BLOG</span></div>
<% else %>
  
<% end %>
<div class="clear"></div>
<div class="article-lede"><%= @story.description unless @story.description.blank? %></div>

<%= render 'emailsignup' %>

<div class="index-non-home">
  <div class="listing-left">Published</div>
  <div class="listing-right">Latest Articles</div>
  <div class="clear"></div>
</div>

<% if @story.articles.empty? %>
  <div class="listing-article-container">
    <div class="listing-left">
      --/--
    </div>
    <div class="listing-right">
    No articles for this story yet, likely because it is a breaking story, so stay tuned to this page. More information in a few minutes.
    </div>
    <div class="clear"></div>
  </div>
<% end %>

<% @story.articles.published.lastseven.each do |article| %>
  <div class="listing-article-container">
    <div class="listing-left">
    <% if article.urgency == 'majorbreaking' && article.updated_at >= 3.hours.ago %>
      <span class="breaking">
    <% elsif article.urgency == 'breaking' && article.updated_at >= 3.hours.ago %>
      <span class="breaking">
    <% elsif article.urgency == 'latest' && article.updated_at >= 12.hours.ago %> 
      <span class="latest">
    <% elsif article.status == 'updated' %> 
      <span class="updated">
    <% elsif article.type.name == 'EDITORIAL' %> 
      <span class="editorial">
    <% else %>
      <span>
    <% end %>
      <%= article.updated_at.to_formatted_s(:short) %></span>
    </div>
    <div class="listing-right">
      <% if article.urgency == 'majorbreaking' && article.updated_at >= 3.hours.ago %>
        <span class="breaking"><%= link_to 'MAJOR BREAKING' + ': ' + article.headline, article %></span>
      <% elsif article.urgency == 'breaking' && article.updated_at >= 3.hours.ago %>
        <span class="breaking">BREAKING</span> <%= link_to article.headline, article %>
      <% elsif article.urgency == 'latest' && article.updated_at >= 12.hours.ago %>
        <span class="latest">LATEST</span> <%= link_to article.headline, article %>
      <% elsif article.status == 'updated' %>
        <span class="updated">UPDATED</span> <%= link_to article.headline, article %>
      <% elsif article.type.name == 'EDITORIAL' %>
        <span class="editorial">EDITORIAL</span> <%= link_to article.headline, article %>
      <% else %>  
        <strong><%= article.type.name unless article.type.nil? %>:</strong> <%= link_to article.headline, article %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
<% end %>

<div class="index-updates">
  <div class="listing-left">Updated</div>
  <div class="listing-right">Latest Updates</div>
  <div class="clear"></div>
</div>

<% if @story.newsitems.empty? %>
  <div class="listing-article-container">
    <div class="listing-left">
      --/--
    </div>
    <div class="listing-right">
    No updates for this story yet, likely because it is a breaking story, so stay tuned to this page. More information in a few minutes.
    </div>
    <div class="clear"></div>
  </div>
<% end %>

<% @story.newsitems.published.lastfifty.each do |newsitem| %>
<div class="listing-update-container">
  <div class="listing-left">
    <%= newsitem.updated_at.to_formatted_s(:short) %>
  </div>
  <div class="listing-right">
      <% if newsitem.main? %>
        <div class="index-main-image">
          <%= link_to(newsitem) do %>
          <%= image_tag newsitem.main.url if newsitem.main? %>
          <% end %>
        </div>
      <% elsif newsitem.video? %>
        <div class="index-main-image">
        <div class="video-wrapper">
          <%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{newsitem.video}?rel=0&amp;showinfo=0") %>
        </div>
        </div>
      <% else %>
      <% end %>
  
    <div class="listing-update-text">
      <span class="listing-update-slug">
      
      <% if newsitem.article.present? && newsitem.article.type.name == "LIVE BLOG" %>
        LIVE BLOG: <%= link_to newsitem.slug, article_url(newsitem.article, anchor: newsitem.id) %>
      <% else %>
        <%= link_to newsitem.slug, newsitem %>
      <% end %>
      
      </span>
      <br />
      <%= markdown(newsitem.item) %>
    </div>
    <div class="clear"></div>
    <div class="meta">
      <strong>Source:</strong> 
      <% if newsitem.url.blank? %>
        <%= newsitem.source %>
      <% else %>
        <%= link_to newsitem.source, newsitem.url %>
      <% end %> 
       || 
      <%= raw(newsitem.regions.map {|r| raw(link_to(r.region, region_path(r)))}.join(', ')) %>, 
      <%= raw(newsitem.categories.map {|c| raw(link_to(c.category, category_path(c)))}.join(', ')) %>,
      <%= raw(newsitem.stories.map {|s| raw(link_to(s.story, story_path(s)))}.join(', ')) %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% end %>