<%= form_tag '/new_prepayment', :class => '', :id => 'payment-form' do %>

	<%= render 'formtopload' %>

		<div class="subscription-form-section-middle">
			<div class="subscription-left-label-select">
				Tu contribución:
			</div>
			<div class="subscription-right-form-element">
				<select name="plan" id="plan" class="input200" onchange="calculateTotal()" onclick="calculateTotal()">
					<option value="500">€500</option>
					<option value="300">€300</option>
					<option value="200">€200</option>
					<option value="150">€150</option>
					<option value="100" selected="selected">€100</option>
					<option value="75">€75</option>
					<option value="50">€50</option>
					<option value="30">€30</option>
					<option value="25">€25</option>
				</select>
			</div>
			<div class="clear"></div>
		</div>

		<div class="subscription-form-section-middle">
			<div class="subscription-left-label-select">
				A cambio recibes:
			</div>
			<div class="subscription-right-form-element">
				<span id="g"></span> meses de acceso a todo
			</div>
			<div class="clear"></div>
		</div>

	<%= render 'supportpricetopay' %>
	<%= render 'useremail' %>
	<%= render 'creditcard' %>
	<%= render 'buybutton' %>
<% end %>

<script>

var country_tax;
// MaxMind IP VAT stuff
	var onSuccess = function(x){
		var ip = x.traits.ip_address;
		document.getElementById('ip_address').value = ip;

		var country_code = x.country.iso_code;
		document.getElementById('ip_country_code').value = country_code;

		var country_name = x.country.names.en;
		document.getElementById('ip_country_name').value = country_name;
	};

	var onError = function(error){
		alert(
			"Error:\n\n"
			+ JSON.stringify(error, undefined, 4)
		);
	};

	geoip2.country(onSuccess, onError);

// Array of values for plans
	var plan_prices= new Array();
	plan_prices["25"]=25;
	plan_prices["30"]=30;
	plan_prices["50"]=50;
	plan_prices["75"]=75;
	plan_prices["100"]=100;
	plan_prices["150"]=150;
	plan_prices["200"]=200;
	plan_prices["300"]=300;
	plan_prices["500"]=500;

// Values for country flag names
	var tax_country_names = {};
		<% @taxes.each do |tax| %>
			tax_country_names["<%= tax.tax_country_code %>"]='<%= tax.tax_country_name %>';
		<% end %>

// Values for country tax rates
	var tax_country_rates = {};
		<% @taxes.each do |tax| %>
			tax_country_rates["<%= tax.tax_country_code %>"]=<%= tax.tax_country_percent %>;
		<% end %>

// Values for country flag images
	var country_flags= {};
		country_flags["UN"]='<%= asset_path('UN.jpg') %>';
		country_flags["AT"]='<%= asset_path('AT.jpg') %>';
		country_flags["AU"]='<%= asset_path('AU.jpg') %>';
		country_flags["BE"]='<%= asset_path('BE.jpg') %>';
		country_flags["BG"]='<%= asset_path('BG.jpg') %>';
		country_flags["CA"]='<%= asset_path('CA.jpg') %>';
		country_flags["CY"]='<%= asset_path('CY.jpg') %>';
		country_flags["CZ"]='<%= asset_path('CZ.jpg') %>';
		country_flags["DE"]='<%= asset_path('DE.jpg') %>';
		country_flags["DK"]='<%= asset_path('DK.jpg') %>';
		country_flags["EE"]='<%= asset_path('EE.jpg') %>';
		country_flags["ES"]='<%= asset_path('ES.jpg') %>';
		country_flags["FI"]='<%= asset_path('FI.jpg') %>';
		country_flags["FR"]='<%= asset_path('FR.jpg') %>';
		country_flags["GB"]='<%= asset_path('GB.jpg') %>';
		country_flags["GR"]='<%= asset_path('GR.jpg') %>';
		country_flags["HR"]='<%= asset_path('HR.jpg') %>';
		country_flags["HU"]='<%= asset_path('HU.jpg') %>';
		country_flags["IE"]='<%= asset_path('IE.jpg') %>';
		country_flags["IN"]='<%= asset_path('IN.jpg') %>';
		country_flags["IT"]='<%= asset_path('IT.jpg') %>';
		country_flags["LT"]='<%= asset_path('LT.jpg') %>';
		country_flags["LU"]='<%= asset_path('LU.jpg') %>';
		country_flags["LV"]='<%= asset_path('LV.jpg') %>';
		country_flags["MT"]='<%= asset_path('MT.jpg') %>';
		country_flags["NL"]='<%= asset_path('NL.jpg') %>';
		country_flags["NZ"]='<%= asset_path('NZ.jpg') %>';
		country_flags["PL"]='<%= asset_path('PL.jpg') %>';
		country_flags["PT"]='<%= asset_path('PT.jpg') %>';
		country_flags["RO"]='<%= asset_path('RO.jpg') %>';
		country_flags["SE"]='<%= asset_path('SE.jpg') %>';
		country_flags["SI"]='<%= asset_path('SI.jpg') %>';
		country_flags["SK"]='<%= asset_path('SK.jpg') %>';
		country_flags["US"]='<%= asset_path('US.jpg') %>';

// Two drop downs, one for plan, one for tax rate
function PlanPrice()
{
    var planprice=0;
    var theForm = document.forms["payment-form"];
    var selectedprice = theForm.elements["plan"];
    planprice = plan_prices[selectedprice.value];
    return planprice;
}

function TaxPrice() 
{ 
  var taxprice = 0;
  var country_tax = document.getElementById("ip_country_code").value;
  
  if(tax_country_rates.hasOwnProperty(country_tax)) {
    document.getElementById('tax_flag').src = country_flags[country_tax];
    document.getElementById('country_name').innerHTML = tax_country_names[country_tax];
    var taxprice = tax_country_rates[country_tax];
    return taxprice.toFixed(1);
  } else { 
    document.getElementById('tax_flag').src = country_flags["UN"];
    document.getElementById('country_name').innerHTML = "Non-EU country";
    var taxprice = 0;
    return taxprice.toFixed(1);
  }

}

// Calculate total 
function calculateTotal()
{

  // Do the maths
    var TaxRate = TaxPrice() / 100;
    var TotalPrice = PlanPrice();
    var OneUnit = TotalPrice / (100 + +TaxPrice());
    var TotalSub = OneUnit * 100;
    var TotalTax = OneUnit * +TaxPrice();
    var MonthsForward = TotalSub / 20;
    
    // Check for not a number
    if(isNaN(TotalPrice)) {
        TotalPrice = 0
    }
    
    if(isNaN(TotalTax)) {
        TotalTax = 0
    }
    
    if (typeof TaxPrice() != 'undefined' && typeof PlanPrice() != 'undefined') {
    
    // display months access
    var divobj = document.getElementById('g');
    divobj.innerHTML = MonthsForward.toFixed();
    
    // display subtotal
    var divobj = document.getElementById('p');
    divobj.innerHTML = TotalSub.toFixed(2);
    
    // display tax amount and rate
    var divobj = document.getElementById('r');
    divobj.innerHTML = TotalTax.toFixed(2) + " (" + TaxPrice() + "%)";
    
    // display total
    var divobj = document.getElementById('t');
    divobj.innerHTML = TotalPrice.toFixed(2);
    
    // inner months forward
    var divobj = document.getElementById('forward');
    divobj.value = MonthsForward.toFixed();
    
    // inner base_price
    var divobj = document.getElementById('base_price');
    divobj.value = Math.round(PlanPrice()*100);
    
    // inner subtotal
    var divobj = document.getElementById('subtotal');
    divobj.value = Math.round(TotalSub.toFixed(2)*100);
    
    // inner tax rate
    var divobj = document.getElementById('ts');
    divobj.value = TaxPrice();
    
    // inner tax_amount
    var divobj = document.getElementById('tax_amount');
    divobj.value = Math.round(TotalTax.toFixed(2)*100);
    
    // inner total amount
    var divobj = document.getElementById('amount');
    divobj.value = Math.round(TotalPrice.toFixed(2)*100);
    
    } else {
    
    //display the price
    var divobj = document.getElementById('p');
    divobj.innerHTML = "€" + TotalSub.toFixed(2);
    
    //display a default tax amount
    var divobj = document.getElementById('r');
    divobj.innerHTML = " + <span style=\"color:red;\">Choose a country</span>";
    
    //display the plan price without tax defined
    var divobj = document.getElementById('t');
    divobj.innerHTML = " = €" + TotalSub.toFixed(2);

    } 
};
</script>