<% title 'Subscribe Now' %>

<h1>Subscribe Now To Understand More About The Most Important News From Spain, In English</h1>

<div class="article-lede" id="subscribenow">
Original, independent reporting, editorial insight and in-depth feature articles to help you understand a changing country.
</div>

<div class="subscription-wrapper">

  <div class="subscription-image">
    <div style="margin-bottom: 7px;">
      <span class="email-sign-up-title">Full Digital Subscription To <span style="border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span></span>
    </div>
    <%= image_tag "tsr-multiple-500.jpg" %>
  </div>
  
  <div class="subscription-form">
    <% if current_user.nil? %>
      <%= render 'subscriptionform' %>
    <% elsif current_user.stripe_customer_id.nil? %>
      <%= render 'subscriptionform' %>
    <% elsif current_user.stripe_customer_id? %>
      <div id="flash_success_div">You are already a valued subscriber and your subscription is up-to-date.</div>
    <% else %>
    <% end %>
  </div>

  <div class="clear"></div>

</div>

<hr />

<div class="article-text">

<h3>Choose The Best Deal For You</h3>
  <div style="width: 95%; margin: -20px auto 30px;">
  <table width="100%">
    <tr class="even">
      <td></td>
      <td style="text-align:center; font-family: Oswald, Arial; font-size: 16px;">News Junkie</td>
      <td style="text-align:center; font-family: Oswald, Arial; font-size: 16px;">Deep Diver</td>
      <td style="text-align:center; font-family: Oswald, Arial; font-size: 16px;">Editorial Observer</td>
    </tr>
    <tr>
      <td>Ad-free</td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
    </tr>
    <tr>
      <td>Full-text e-mails</td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
    </tr>
    <tr>
      <td>Instant e-mails or summaries</td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
    </tr>
    <tr>
      <td>All news stories & updates</td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
    </tr>
    <tr>
      <td>All in-depth articles</td>
      <td style="text-align:center;"><%= image_tag (asset_path 'red_cross.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
    </tr>
    <tr>
      <td>All editorials</td>
      <td style="text-align:center;"><%= image_tag (asset_path 'red_cross.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'red_cross.jpg'), size: "20x20" %></td>
      <td style="text-align:center;"><%= image_tag (asset_path 'green_tick.jpg'), size: "20x20" %></td>
    </tr>
    <tr>
      <td>Choose your deal:</td>
      <td style="text-align:center;">£5.99/month or<br />£35.99/year<br />"NEWS"</td>
      <td style="text-align:center;">£9.99/month or<br />£49.99/year<br />"IN-DEPTH"</td>
      <td style="text-align:center;">£12.99/month or<br />£55.99/year<br />"EDITORIAL"</td>
    </tr>
  </table>
  <div style="font-size: 13px; font-style: italic;">*Yearly subscription prices represent 50-64% discounts on their monthly equivalents over the course of a year.</div>
  </div>

<h3>As Much Spain News As You Want, When You Want It, In English</h3>
  <ul>
    <li class="list-green-tick"><strong>Fast, original, independent Spain news, in English:</strong> quick, trustworthy, non-partisan reporting of breaking news, important national stories and the major issues (Catalonia, Podemos, corruption, etc) challenging the country;</li>
    <li class="list-green-tick"><strong>In-depth articles :</strong> the latest news is only the tip of the iceberg. What is really going on? Which trends are driving change? What happens next? Our interviews, overviews, chronicles and analysis will explain it all to you;</li>
    <li class="list-green-tick"><strong>Editorial insight:</strong> what does all the news mean? Why is it important? What deep, long-term context makes each story relevant, and how do all of the different bits fit together, now and into the future? What are the moral implications?</li>
    <li class="list-green-tick"><strong>Instant access, no ads, no spam:</strong> sign-up takes about two minutes; we only need your e-mail address and a credit card number. As soon as you have subscribed, you can access our articles and updates;</li>
    <li class="list-green-tick"><strong>Clean, lightning fast pages load on all of your devices:</strong> no annoying ads and no spam means we can design all of the article pages to be very fast and the news starts right at the top of the page; log in and read on whichever device you prefer;</li>
    <li class="list-green-tick"><strong>Full-text e-mails you control:</strong> don't want to log in or remember your password across devices? Not a problem, subscribers get full-text e-mails with news and analysis (you can also select "just summaries" if you don't want lots of e-mail);</li>
    <li class="list-green-tick"><strong>You guarantee a free press in the 21st Century:</strong> journalists have, as one commentator wrote last year, a moral duty to tell you the truth and the quality of our societies depends on it. You defend democracy as well as buying top quality news.</li>
  </ul>

<p><a href="#happysubscribers">Happy Subscribers</a> | <a href="#faq">FAQ</a></p> 

<h3 id="happysubscribers">Join Lots And Lots Of Satisfied Subscribers</h3>
<div class="happy-subscribers">
<p>“Your reporting and comment are excellent – please keep up the good work! As a British person resident in Catalonia for the past 13 years, I really appreciate your objective and well written reporting of politics in Spain.“—John, Catalonia</p>
<p>“I enjoy reading The Spain Report and it’s my go to when I want to understand the news in Spain. My Spanish is not yet good enough for me to grasp all I read in the Spanish press. Also I find your editorial line is more independent, and keener to question the news as you report it.“—Geoff</p>
<p>"I've lived here for the last 25 years. I have a Spanish family and speak a lot more Spanish than I do English.  I'm an avid follower of Spanish politics and very concerned about the lack of transparency, accuracy and impartiality in the Spanish Press. I'm a paid subscriber to El Diario and now to The Spain Report. I also read El Mundo and El Pais on a daily basis and, when I need a dose of humour, I check out what Marhuenda has to say.  I do feel you have your finger on the pulse of the Spain of today - we need as much independent reporting as possible.  Keep up the good work!"—Simon</p>
<p>“Since my daughter has lived in Spain for many years and is now with a Spanish partner, I have taken up interest in Spain. But not being able to read or speak Spanish (to my regret), your initiative is ideal for me.“—Aad, Holland</p>
<p>"I recently moved to Spain in August 2015, and am in the process of selling my house in the UK and settling permanently in Spain. A really important part of becoming an immigrant, as indeed I am, is understanding the nuances of Spanish cultural, social and political life. Although I am learning Spanish I have a long way to go before my Spanish will reach the competence necessary for this […] The English speaking newspapers in Spain in the main seem to have more in common with UK redtops than in serious analysis, and I have found them on occasion to be UK centric, prejudiced or even offensive"—Jennifer</p>
<p>“I just love your editorial updates. You are erudite and succinct like no other commentator I have found, whats more, from an editorial stand point, you are consistent and up to the minute.“—Edward, Canary Islands</p>
<p>“I follow all your stuff on twitter and it is of excellent quality.“—Cathal, Dublin</p>
<p>“Just wanted to let you know that I just subscribed and it was easier. The articles that you are writing are exactly what I want to read about – the employment situation, the corruption and what I need to look out for.“—Carlene, Canada</p>
<p>“I have been a subscriber to The Spain Report for a few months and it is a cracking read: insightful, well written and independent. How refreshing it is not having to read a load of cut and pasted press releases from the corrupt cronies “running” the joint. This story was one of the best. It could be a candidate for Private Eye’s Funny Old World column.…I subscribed to TSR as it covers important news with analysis and is delivered in a convenient format.“—Edward, Gibraltar</p>
<p>“If you want regular #news from #Spain in English, please subscribe to @thespainreport. It’ll be money well spent. Great resource. #media“—Patrick, London</p>
</div>
<div class="clear"></div>

<div style="width:90%; margin: auto;">
<h3 id="faq">Frequently Asked Questions</h3>
<p><strong>Can I really choose any price I want?</strong></p><p>Absolutely. We don't know much about you, or how much you earn, or how much spare income you have each month, or how much you really value the news service we provide you with. You might be unemployed in Madrid or a bond trader in New York. Many readers choose the cheapest price but many also choose a higher price because they value our news and want us do better reporting. It's entirely up to you.</p>
<p><strong>Which payment methods can I use?</strong></p><p>Your credit or debit card (Visa, MasterCard or American Express). Debit cards—that debit your bank account directly—also work fine.</p>
<p><strong>Who processes the payment?</strong></p><p>We use Stripe as our payment processor. They are a fully certified PCI Service Provider Level 1. You can read their security notes <a href="https://stripe.com/docs/security">here</a>.</p>
<p><strong>Is the transaction safe?</strong></p><p>Very. Trust and online security are very important to us, both for business and for journalism. We have had zero complaints about transaction security. We use super-secure https EV SSL (extended validation, the green bar in your browser) for every page on the site, not just the subscription and credit card page. Every single article. We do not store your credit card details.</p> 
<p><strong>Do you store my credit card details?</strong></p><p>No. We do not store your credit card details in our subscriber database, and we cannot access your credit card number via Stripe. Even Stripe encrypts and stores your details securely: "All card numbers are encrypted on disk with AES-256. Decryption keys are stored on separate machines. None of Stripe's internal servers and daemons are able to obtain plaintext card numbers". It's all very secure.</p>
<p><strong>Is it the same process if I am already a free reader?</strong></p><p>Yes, exactly the same, the system should recognise your existing e-mail address.</p>
<p><strong>Can I cancel my subscription?</strong></p><p>Yes, of course, whenever you want. Just e-mail us at subscriptions@thespainreport.com. (A future version of the site will allow you to do this automatically).</p>
<p><strong>Can I get a refund?</strong></p><p>Not if your subscription period has already begun, but just cancel and you won't be charged again. (So if you want to try us out first, just subscribe for a month and see if you like it).</p>
<p><strong>Can I upgrade from a monthly to a yearly subscription?</strong></p><p>Yes, we can do that for you, just e-mail subscriptions@thespainreport.com.</p>
<p><strong>Can we do a group subscription for X people?</strong></p><p>Yes, if you are a company, embassy or organisation that needs one. E-mail us and we will sort it out for you. We will invoice you, you can pay by bank transfer and we will add all of your subscribers for you.</p>
<p><strong>How do I renew my subscription?</strong></p><p>It renews automatically at whatever price and period (monthly/yearly) you originally chose. If you want to change anything, just e-mail us.</p>
<p><strong>Do you have student or education prices?</strong></p><p>No, because everyone can choose whichever price suits them best anyway.</p>
<p><strong>Do you have a mobile app?</strong></p><p>Not yet, but we're looking into it because some current subscribers have asked us about it. Push notifications will likely be a particularly interesting feature given the way we do breaking news for you.</p>
<p><strong>Where do I log in?</strong></p><p>On any article page at the top or top-right of your screen or underneath any article.</p>
<p><strong>What if I forget my password?</strong></p><p>Use the forgotten password link or e-mail us if you get stuck. We'll fix it for you.</p>
</div>

</div>
 

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/assets/jquery.payment.js"></script>

<script>
    jQuery(function($) {
      $('[data-numeric]').payment('restrictNumeric');
      $('.cc-number').payment('formatCardNumber');
      $('.cc-exp').payment('formatCardExpiry');
      $('.cc-cvc').payment('formatCardCVC');

      $.fn.toggleInputError = function(erred) {
        this.parent('.form-group').toggleClass('has-error', erred);
        return this;
      };

      $('form').submit(function(e) {
        e.preventDefault();

        var cardType = $.payment.cardType($('.cc-number').val());
        $('.cc-number').toggleInputError(!$.payment.validateCardNumber($('.cc-number').val()));
        $('.cc-exp').toggleInputError(!$.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal')));
        $('.cc-cvc').toggleInputError(!$.payment.validateCardCVC($('.cc-cvc').val(), cardType));
        $('.cc-brand').text(cardType);

        $('.validation').removeClass('text-danger text-success');
        $('.validation').addClass($('.has-error').length ? 'text-danger' : 'text-success');
      });

    });
</script>

<script type="text/javascript">
$(function(){
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
});

$('#payment-form').submit(function(event) {
  var form = $(this);
  form.find('button').prop('disabled', true);
  Stripe.createToken(form, stripeResponseHandler);
  return false;
});

function stripeResponseHandler(status, response) {
  var form = $('#payment-form');
  if (response.error) {
    form.find('.payment-errors').text(response.error.message);
    form.find('button').prop('disabled', false);
  } else {
    var token = response.id;
    form.append($('<input type="hidden" name="stripeToken">').val(token));
    form.get(0).submit();
  }
}
</script>