<%= form_for(@tax) do |f| %>
  <% if @tax.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tax.errors.count, "error") %> prohibited this tax from being saved:</h2>

      <ul>
      <% @tax.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :tax_country_name,:size => '25' %><br /><br />
    <%= f.text_field :tax_country_code,:size => '3' %><br /><br />
    <%= f.number_field :tax_country_percent, :step => 0.1 %><br /><br />
    <%= f.submit %>
  </div>
<% end %>
