<%= form_for @campaign, :html => {:multipart => true} do |f| %>
	<% if @campaign.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

			<ul>
			<% @campaign.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="admin-block">
		<p>
			<strong>Real subscriptions:</strong> <%= @campaign.subscriptions.count %>
		<p>
	</div>
	<div class="admin-block">
		<div style="margin-top: 5px;">
			<%= f.text_field :keyword,:size => '10' %> | <%= f.submit %>
			<% if action_name == "edit" %>
			 | <%= link_to 'Subscribe', '/subscriptions/new?c=' + @campaign.keyword, :target => 'blank' %>
			 | <%= link_to 'Prepay', '/subscriptions/prepayment?c=' + @campaign.keyword, :target => 'blank' %>
			 | <%= link_to 'Support', '/subscriptions/support?c=' + @campaign.keyword, :target => 'blank' %>
			 | <%= link_to 'Apoyar', '/subscriptions/support_spain/es?c=' + @campaign.keyword, :target => 'blank' %>
			<% end %>
		</div>
	</div>
	
	<div class="admin-block">
		<div style="margin-top: 5px;">
			<%= f.text_area :headline, :class => "edit-headline", :style => 'width: 100%; padding:5px;' %>
		</div>
		<div style="margin-top: 5px;">
			<%= f.text_area :lede, :class => "edit-lede", :style => 'width: 100%; padding:5px;' %>
		</div>
	</div>

	<div class="admin-block-image">
		<%= f.file_field :url %> <% if @campaign.url? %> <span style="font-size: 11px; color: red;">!!!</span><% end %>
		<%= f.check_box :remove_url %> | <%= f.text_field :video, :size => "20", :style => 'padding:5px;' %>
	</div>
	
	<div class="admin-block">
		<div style="margin-top: 5px;">
			<%= f.text_area :text, :style => 'width: 100%; min-height:250px;' %>
		</div>
	</div>
<% end %>

<div class="admin-block">
	<ol>
		<li>Frame, importance, time, disarm</li>
		<li>The Spain Report + why now (political, social, tech, econ)</li>
		<li>Money + secret special sauce, desire, tension</li>
		<li>Competition, others</li>
		<li>Deal, what exactly do they get right now</li>
		<li>Your role, you can…</li>
		<li>Prize, quest, intrigue, adventure, morality</li>
	</ol>
</div>

<div class="admin-block">
	<ol>
		<li><strong>Self-direction:</strong> independence, choice, creation, exploration, control, mastery</li>
		<li><strong>Stimulation:</strong> excitement, novelty, challenge, optimal, daring</li>
		<li><strong>Hedonism:</strong> pleasure, gratification, satisfaction, indulgence</li>
		<li><strong>Achievement:</strong> success, competence, social standards, ambition, influence, capacity</li>
		<li><strong>Power:</strong> status, prestige, position, control, dominance, image, authority, esteem</li>
		<li><strong>Security:</strong> safety, harmony, stability, clean, order, healthy, belonging</li>
		<li><strong>Conformity:</strong> restraint, non violation, inhibition, obedience, loyalty</li>
		<li><strong>Tradition:</strong> respect, commitment, acceptance, solidarity, religion</li>
		<li><strong>Benevolence:</strong> welfare, in-group, affiliation, concern, cooperation, support</li>
		<li><strong>Universalism:</strong> understanding, tolerance, all, whole, broad, harmony</li>
	</ol>
</div>

<div class="admin-block">
	<ol>
		<li>Serotonin: scarcity, resources, enough, mood, sleep</li>
		<li>Dopamine: desire, salience, motivation, drive, want, reward, habits</li>
		<li>Noradrenaline: activation, action, alert, anxiety, vigilance</li>
	</ol>
	<p>…so…</p>
	<ul>
		<li>Interest-excitement: high + high + high</li>
		<li>Anger-rage: low + high + high</li>
		<li>Distress-anguish: low + low + high</li>
		<li>Surprise: high + low + high</li>
		<li>Joy-enjoyment: high + high + low</li>
		<li>Fear-terror: low + high + low</li>
		<li>Disgust-contempt: high + low + low</li>
		<li>Shame-humiliation: low + low + low</li>
	</ul>
</div>