<%= form_for(@notificationtype) do |f| %>
  <% if @notificationtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notificationtype.errors.count, "error") %> prohibited this notificationtype from being saved:</h2>

      <ul>
      <% @notificationtype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  Name: <%= f.text_field :name %><br />
  Order: <%= f.number_field :order %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
