<%= render 'send_article_top' %>

<%= render 'send_article_truncated' %>

<p style="font-style:italic;">
	Thank you for subscribing to The Spain Report.
	This article is not part of the story you are following, so <a href="https://www.thespainreport.com/subscriptions/new">please upgrade now</a> to read all stories.
	You keep us 100% independent; your subscription guarantees your Spain news.
</p>

<%= render 'send_article_sales_arguments' %>

<p style="font-style:italic;">
	<a href="https://www.thespainreport.com/subscriptions/new">Please upgrade now</a>
</p>



<%= render 'send_article_date_stories' %>
<%= render 'send_article_briefing_bottom' %>