<%= render 'send_briefing_top' %>
      
<% if @briefing_articles.present? %>
  <% @briefing_articles.each do |article| %>
    <%= render 'send_briefing_points', article: article %>
  <% end %>
  <%= render 'send_briefing_stories' %>
<% else %>
  No new articles for you this time.
  Get the latest at <a href="https://www.thespainreport.com" style="color:#AA151B;">www.thespainreport.com</a> and manage <%= link_to "your e-mail notification settings here", edit_user_url(@user), {:style=>'color:#AA151B;'} %>.
  
  <%= render 'send_briefing_stories' %>
<% end %>

<% Article.last168.published.joins(:stories).where(stories: {id: @checkstories}).distinct.each do |article| %>
  <%= article.headline %>: <%= article.briefing_point %>
    <% if article.newsitems.present? %>
      <% article.newsitems.each do |newsitem| %>
        ** <%= newsitem.slug %>: <%= newsitem.briefing_point %>
      <% end %>
    <% end %>
<% end %>

<%= render 'send_article_briefing_bottom' %>