<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tr>
        <td style="font-family: Oswald, Arial; font-size: 17px;"><h1 style="font-family: Oswald, Arial; font-size: 17px;"><%= @article.headline %></h1></td>
      </tr>
      <tr>
        <td>
          <strong>
          <% if @article.urgency == 'majorbreaking' %>
            <span style="font-family: Oswald, Arial; background-color: #AA151B; color: #ffffff;">&nbsp;&nbsp;MAJOR BREAKING <%= @article.type.name %>&nbsp;&nbsp;</span>
          <% elsif @article.urgency == 'breaking' %>
            <span style="font-family: Oswald, Arial; background-color: #AA151B; color: #ffffff;">&nbsp;&nbsp;BREAKING <%= @article.type.name %>&nbsp;&nbsp;</span>
          <% elsif @article.urgency == 'latest' %>
            <span style="font-family: Oswald, Arial; background-color: #F1BF00; color: #ffffff;">&nbsp;&nbsp;LATEST <%= @article.type.name %>&nbsp;&nbsp;</span>
          <% elsif @article.type.name == 'LIVE BLOG' %>
            <span style="font-family: Oswald, Arial; background-color: #AA151B; color: #ffffff;">&nbsp;&nbsp;<%= @article.type.name %>&nbsp;&nbsp;</span>
          <% elsif @article.type.name == 'EDITORIAL' %>
            <span style="font-family: Oswald, Arial; background-color: green; color: #ffffff;">&nbsp;&nbsp;<%= @article.type.name %>&nbsp;&nbsp;</span>
          <% else %>
            <span style="font-family: Oswald, Arial; background-color: black; color: #ffffff;">&nbsp;&nbsp;<%= @article.type.name %>&nbsp;&nbsp;</span>
          <% end %>
          </strong>
          <br /><br />
        </td>
      </tr>
      <tr>
        <td style="font-family: Georgia, Times New Roman; font-size: 17px; font-style: italic; border-top: 1px dotted #999999; border-bottom: 1px dotted #999999;">
          <strong><%= @article.created_at.strftime("%b %d %Y") %>—</strong><%= @article.lede %>
        </td>
      </tr>
      <tr>
        <td style="font-family: Georgia, Times New Roman; font-size: 17px; line-height:130%;">
        <p style="font-family: Georgia, Times New Roman; font-size: 17px; line-height:130%;">
        
        <% if @article.main? %> <%# MAIN IMAGE OR VIDEO %>
          <p style="width: 100%;">
            <%= link_to(article_url(@article)) do %>
              <%= image_tag @article.main.url if @article.main? %>
            <% end %>
            <p>
              <strong>IMAGE:</strong> <em><%= @article.caption %> <% '<strong>Source:</strong>' unless @article.source.empty? %> <%= @article.source %></em>
            </p>
          </p>
        <% elsif @article.video? %>
          <p>
            <strong>VIDEO:</strong> <%= link_to 'Watch here', article_url(@article), {:style=>'color:#AA151B;'} %>. <%= @article.caption unless @article.caption.empty? %>
          </p>
        <% else %>
        <% end %>
        
        <%= markdown(@article.body) %>
        
        <% if @article.newsitems.present? %> <%# POST ANY PUBLISHED UPDATES TO THE ARTICLE %>
          <% @article.newsitems.each do |newsitem| %>
            <div style="width: 100%;">
              <h3 style="font-family: Oswald, Arial; font-size: 17px;"><%= newsitem.slug %></h3>
              <% if newsitem.main? %>
                <%= image_tag newsitem.main.url if newsitem.main? %>
                <p>
                <strong>IMAGE:</strong> <em><%= newsitem.caption %></em>
                </p>
              <% elsif newsitem.video? %>
                <p>
                <strong>VIDEO:</strong> 
                <% if newsitem.article.present? %>
                  <%= link_to 'Watch here', article_url(newsitem.article, anchor: newsitem.id) %>. <%= newsitem.caption unless newsitem.caption.empty? %>
                <% else %>
                  <%= link_to 'Watch here', newsitem_url(newsitem) %>. <%= newsitem.caption unless newsitem.caption.empty? %>
                <% end %>
                </p>
              <% else %>
              <% end %>
              <div class="article-update-text"><%= markdown(newsitem.item.html_safe) %></div>
              <div class="clear"></div>
              </div>
          <% end %>
        <% end %> <%# END OF ARTICLE UPDATES %> 
  
          <p style="font-family: Georgia, Times New Roman; font-size: 15px; line-height:130%;">
            <%= link_to 'What do you think? Leave your comment here', article_url(@article), {:style=>'color:#AA151B;'} %>
          </p>
        
        </p>
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>Published on:</strong> <%= @article.created_at.strftime("%b %d, %Y, %H:%M") %></em>
        </td>
      </tr>
      <tr>
        <td style="border-top: 1px solid #cccccc; font-family: Georgia, Times New Roman;">
          <p><strong>E-MAIL ADMIN:</strong> Thank you for reading and subscribing to The Spain Report.
            <ul>
              <li>To manage your e-mail preferences, log in to <%= link_to "My Account", edit_user_url(@user), {:style=>'color:#AA151B;'} %>;</li>
              <li>You can choose: "Everything: Articles & Updates", "Just Articles" or "I Don't Want Any E-mail";</li>
              <li>You may update your e-mail preferences as often as you like;</li>
            </ul>
          </p>
          <p>If you ever want to delete your account completely, please e-mail: <%= mail_to "subscriptions@thespainreport.com", "subscriptions@thespainreport.com", {:style=>'color:#AA151B;'} %>;</p>
        </td>
      </tr>
      <tr>
        <td style="border-top: 1px solid #cccccc; font-family: Georgia, Times New Roman;">
          <p>
            The Spain Report Ltd.<br />
            145-157 St John Street<br />
            London<br />
            EC1V 4PW<br />
            United Kingdom<br /><br />
            (0044) (0)2076085570<br />
            <%= link_to "The Spain Report", "https://www.thespainreport.com", {:style=>'color:#AA151B;'} %><br /><br />
            Understand Spain, In English<br /><br />
            Copyright © 2017 The Spain Report Ltd, All rights reserved.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>