<%= render 'send_article_top' %>

<%= render 'send_article_truncated' %>

<p style="font-style:italic;">
	Thank you for reading The Spain Report: your subscription has run out.
	<a href="https://www.thespainreport.com/subscriptions/new">Please re-subscribe now</a>.
	You keep us 100% independent.
</p>

<%= render 'send_article_sales_arguments' %>

<p style="font-style:italic;">
	<a href="https://www.thespainreport.com/subscriptions/new">Please re-subscribe now</a>.
</p>
			
<%= render 'send_article_date_stories' %>
<%= render 'send_article_briefing_bottom' %>