<% title 'Spanish Regions' %>

<%= render 'tickerstories' %>

<h1>Spanish Regions</h1>

<div class="article-lede">The latest articles about each Spanish region. Regions listed alphabetically.</div>

<% @regions.each do |region| %>
<div class="index-by-container">
  <div class="index-by-header">
    <span class="index-by-title"><%= link_to region.region, region %> 
      <% if current_user.nil? %>
      
      <% elsif current_user.role == 'editor' %>
        (<%= link_to 'D', region, method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% else %>
      <% end %>
    </span>
    <p class="index-by-description"><%= region.description %></p>
  </div>

<% if region.articles.empty? %>
  <div class="listing-article-container">
    <div class="listing-left">
      --/--
    </div>
    <div class="listing-right">
    No articles for this region yet. Come back soon.
    </div>
    <div class="clear"></div>
  </div>
<% end %>

  <% region.articles.published.lastseven.each do |article| %>
  
    <div class="listing-article-container" >
      <div class="listing-left">
        <% if article.urgency == 'majorbreaking' %>
          <span class="breaking">
        <% elsif article.urgency == 'breaking' %>
          <span class="breaking">
        <% elsif article.urgency == 'latest' %> 
          <span class="latest">
        <% elsif article.status == 'updated' %> 
          <span class="updated">
        <% elsif article.type.name == 'EDITORIAL' %> 
          <span class="editorial">
        <% else %>
          <span>
        <% end %>
        <%= article.updated_at.to_formatted_s(:short) %></span>
      </div>
      <div class="listing-right">
        <% if article.urgency == 'majorbreaking' %>
          <span class="breaking"><%= link_to 'MAJOR BREAKING' + ': ' + article.headline, article %></span>
        <% elsif article.urgency == 'breaking' %>
          <span class="breaking">BREAKING</span> <%= link_to article.headline, article %>
        <% elsif article.urgency == 'latest' %>
          <span class="latest">LATEST</span> <%= link_to article.headline, article %>
        <% elsif article.status == 'updated' %>
          <span class="updated">UPDATED</span> <%= link_to article.headline, article %>
        <% elsif article.type.name == 'EDITORIAL' %>
          <span class="editorial">EDITORIAL</span> <%= link_to article.headline, article %>
        <% else %>
          <strong><%= article.type.name unless article.type.nil? %>:</strong> <%= link_to article.headline, article %>
        <% end %>  
      </div>
      <div class="clear"></div>
    </div>
    
  <% end %>
</div>
<% end %>