<div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Please log in for instant access to your article…</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 5px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
        <%= form_tag '/login' do %>
        <div class="top-login-input-float"><%= text_field_tag 'email', nil, class: 'input200', placeholder: 'Enter your e-mail...' %></div>
        <div class="top-login-input-float"><%= password_field_tag 'password', nil, class: 'input170', placeholder: 'Enter your password...' %><br />&nbsp;<span style="font-size: 12px;"><a href="https://www.thespainreport.com/password_resets/new">Need a new password?</a></span></div>
        <div class="top-login-input-float"><button type="submit" class="blueformbutton" id="login">Log In</button></div>
        <div class="top-login-input-float" style="margin-top:7px;">
          <% if flash.present? %>
            <% flash.each do |name, msg| %>
              <span style="background-color: #FEF9E6; padding: 5px 7px; font-size: 13px;"><%= content_tag :span, msg.html_safe, id: "flash_#{name}" %></span>
            <% end %>
          <% end %>
        </div>
        <div class="clear"></div>
        <% end %>
        </div>
        
        <%= render 'emailsignup_one' %>
        
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>