<% @tickerstories.each do |article| %>
  <% if article.urgency == 'majorbreaking' %>
    <div class="major-breaking-news-top">
        <span class="breaking"><%= link_to 'MAJOR BREAKING NEWS' + ': ' + article.headline, article %></span>
    </div>
  <% elsif article.urgency == 'breaking' %>
  <div class="breaking-news-top">
        <%= link_to article do %><span class="breaking">BREAKING NEWS</span><% end %> <strong><%= link_to article.headline, article %></strong>
  </div>
  <% elsif article.urgency == 'latest' %>
    <div class="latest-news-top">
        <%= link_to article do %><span class="latest">LATEST NEWS</span><% end %> <strong><%= link_to article.headline, article %></strong>
    </div>
  <% else %>
  <% end %>
<% end %>