<% Article.tickerstories.each do |article| %>
  <% if article.urgency == 'majorbreaking' && article.created_at >= 2.hours.ago %>
    <div class="major-breaking-news-top">
      <%= link_to article do %>
        <span class="breaking">
          MAJOR BREAKING NEWS
          <% if article.type.name == "LIVE BLOG" %> LIVE BLOG<% else %><% end %>
          : <%= article.short_headline %> 
        </span>
      <% end %>
    </div>
  <% elsif article.urgency == 'breaking' && article.created_at >= 2.hours.ago %>
    <div class="breaking-news-top">
      <%= link_to article do %>
        <span class="breaking">
          BREAKING NEWS
          <% if article.type.name == "LIVE BLOG" %> LIVE BLOG<% else %><% end %>
          : <%= article.short_headline %> 
        </span>
      <% end %>
    </div>
  <% elsif article.urgency == 'latest' && article.created_at >= 2.hours.ago %>
    <div class="latest-news-top">
      <%= link_to article do %>
        <span class="latest">
          LATEST NEWS
          <% if article.type.name == "LIVE BLOG" %> LIVE BLOG<% else %><% end %>
          : <%= article.short_headline %>        
        </span>
      <% end %>
    </div>
  <% else %>
  <% end %>
<% end %>