<!DOCTYPE html>
<html>
<head>

  <title>
    <% if current_page?('/') %>
      The Spain Report | Independent Spain News, In English
    <% else %>
      <%= yield(:title) %> | The Spain Report
    <% end %>
  </title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald:400,700", media: "all" %>
  <!--[if IE]>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald", media: "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oswald:700", media: "all" %>
  <![endif]-->
  
  <%= yield(:meta) %>
  
  <link rel="publisher" href="https://plus.google.com/+ThespainreportLtd/"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= render "layouts/google_analytics" %>
  
  <% if controller_name == 'articles' && action_name == 'show' %>
    <%= yield(:articlepaywall) %>
  <% end %>
  
  <% if controller_name == 'newsitems' && action_name == 'show' %>
    <%= yield(:articlepaywall) %>
  <% end %>
  
  <meta property="fb:pages" content="290717157739482" />
</head>
  <body>


<div style="position:fixed; left: 0%; top: 0%; width: 100%; height: 70px; background-color: #fff; z-index: 90;"></div>
<div style="position:fixed; left: 0%; top: 0%; width: 100%; height: 60px; border-bottom: 3px solid #F1BF00; background-color: #fff; z-index: 100;">
<div style="max-width: 1260px; position: relative; margin: 0 auto;">
<a href="/"><div class="homelink"></div></a>
<div class="site-title-new">THE <span class="site-title-spain">SPAIN</span> REPORT</div>

<% if controller_name == 'subscriptions' && action_name == 'new' %>

<% else %>
<div class="user-bar-right-links" style="margin-top: 12px;">
<% if current_user.nil? %>
      <div class="user-bar-login-form">
        <%= form_tag '/login' do %>
        <div class="top-login-input-float"><%= text_field_tag 'email', nil, class: 'input200', placeholder: 'Enter your e-mail...' %></div>
        <div class="top-login-input-float"><%= password_field_tag 'password', nil, class: 'input170', placeholder: 'Enter your password...' %></div>
        <div class="top-login-input-float"><button type="submit" class="blueformbutton">Log In</button></div>
        <div class="clear"></div>
        <% end %>
      </div>
    <% elsif current_user.role == 'editor' %>
      <div class="user-bar-right-links-basic-user">
        <div class="user-float-left"><%= link_to "Article", new_article_path %> | <%= link_to "Update", new_newsitem_path %> | <%= link_to "Summary", '/articles/new_summary' %> | <%= link_to "Story", new_story_path %></div>
        <div class="user-float-left">—</div>
        <div class="user-float-left"><%= link_to "Quotes", quotes_path %> | <%= link_to "Sources", sources_path %> | <%= link_to "Orgs", organisations_path %> | <%= link_to "News", entries_path %></div>
        <div class="user-float-left">—</div>
        <div class="user-float-left"><%= link_to "Members", users_path %> | <%= link_to "Comments", comments_path %> | <%= link_to "Messages", salesemails_path %></div>
        <div class="user-float-left">—</div>
        <div class="user-float-left-no"><%= link_to "Log Out", '/logout' %></div>
      </div>
      <div class="clear"></div>
    <% elsif current_user %>
      <div class="user-bar-right-links-basic-user">
        <div class="user-float-left-no"><%= link_to "News Reader", entries_path %></div>
        <div class="user-float-left"><%= link_to "Comments", comments_path %></div>
        <div class="user-float-left"><%= link_to "Log Out", '/logout' %></div>
      </div>
      <div class="clear"></div>
    <% else %>
    <% end %>
</div>
<% end %>

<div class="clear"></div>
</div>
</div>

<div style="max-width: 1260px; position: relative; margin: 0 auto;">
<div class="left-hand-fixed-bar" style="z-index: 500;">
<div class="sidebar-header-top-new">Independent Spain News, In English</div>

<% if flash.present? && current_user.nil? %>
<div style="background-color: #ffffff; padding: 7px 5px; border: 1px solid #ccc;">
      <% flash.each do |name, msg| %>
        <div style="background-color: #FEF9E6; padding: 3px 5px; border: 1px solid #F1BF00;"><%= content_tag :span, msg.html_safe, id: "flash_#{name}" %></div>
      <% end %>
</div>
<% elsif current_user.nil? %>
<% elsif current_user %>
<% else %>
<% end %>

<div style="background-color: #fff; padding: 7px; margin-bottom: 2px; line-height: 150%; border: 1px solid #cccccc;">
<% if current_user.nil? %>
<img src="<%= asset_path 'thespainreport-evssl-white.jpg' %>" style="width: 50px; float:right;" />
Don't miss anything important.
Enjoy independent reporting, in English. 
Full-text articles in your inbox. 
No ads, no spam. 
Free for 30 days.
<div class="email-sign-up-form-new">
    <%= form_tag '/new_spain_report_member', :class => '', :id => 'email-sign-up' do |f| %>
      <div class="email-input-float">
        <input type="email" size="22" name="email" id="email" placeholder="you@example.com" class="inputgeneral"/>
      </div>
      <div class="email-input-float email-button">
        <button type="submit" class="blueformbutton">Join Now</button>
      </div>
      <div class="clear"></div>
    <% end %>
    </div>
<% elsif current_user %>
  <% if flash.present? %>
      <% flash.each do |name, msg| %>
        <div style="background-color: #FEF9E6; padding: 3px 5px; border: 1px solid #F1BF00; margin-bottom: 7px;"><%= content_tag :span, msg.html_safe, id: "flash_#{name}" %></div>
      <% end %>
  <% end %>
  <div style="margin-bottom: 3px;"><% if current_user.name.present? %><%= current_user.name %><% else %><span class="highlight"><%= link_to "Choose a name", edit_user_path(current_user) %></span><% end %> · <%= link_to "Edit Profile", edit_user_path(current_user) %></div>
  <div style="margin-bottom: 3px;"><strong>E-mail:</strong> <%= current_user.try(:email) %></div>
  <div style="margin-bottom: 3px;"><strong>Twitter:</strong> <% if current_user.twitter.present? %><a href="https://twitter.com/<%= current_user.twitter %>">@<%= current_user.twitter %></a><% else %><span class="highlight"><%= link_to "Add Twitter username", edit_user_path(current_user) %></span><% end %></div>
  <div style="">
      <% if current_user.role == 'editor' %>
         <span class="editor-label-mini"><%= current_user.role.to_s.humanize.upcase %></span>
      <% elsif current_user.role == 'subscriber' %>
         <span class="subscriber-label-mini"><%= current_user.role.to_s.humanize.upcase %></span> · Thanks!
      <% elsif current_user.role == 'reader' %>
         <span class="reader-label-mini"><%= current_user.role.to_s.humanize.upcase %></span> <a href="/subscriptions/new"><span class="highlight">Subscribe now</span></a>
      <% else %>
         <span>
      <% end %>
  </div>
  
<% end %>
</div>

<div style="margin-top: 15px; font-size: 17px; font-weight: bold; font-family: Oswald, Arial; margin-bottom: 7px;">Catch Up</div>
<div style="background-color: #fff; padding: 6px; margin-bottom: 2px;"><span class="latest-label">.</span> <a href="/articles/news">Latest Spain News</a></div>
<div style="background-color: #fff; padding: 6px; margin-bottom: 2px;"><span class="editorial-label">.</span> <a href="/articles/editorial">Editorials & Analysis</a></div>
<div style="background-color: #fff; padding: 6px; margin-bottom: 2px;"><span class="indepth-label">.</span> <a href="/articles/in-depth">Features & Interviews</a></div>
<div style="margin-top: 15px; font-size: 17px; font-weight: bold; font-family: Oswald, Arial; margin-bottom: 7px;">Latest Spain Stories</div>
<% @last_active_stories.each do |story| %>
<div style="background-color: #fff; padding: 6px; margin-bottom: 2px;">
  <%= link_to story.story, story %>
  <% if story.last_active.nil? %>
  
  <% elsif story.last_active >= 2.hours.ago %>
    <div class="news-alert" style="float:right;"><span class="breaking-label-mini">NEW</span></div>
  <% else %>
  <% end %>
</div>
<% end %>
<div style="margin-top: 15px; font-size: 17px; font-weight: bold; font-family: Oswald, Arial; margin-bottom: 7px;">The Spain Report</div>
<div style="background-color: #fff; padding: 6px; margin-bottom: 2px;"><a href="/articles/blog">Blog</a> | <a href="/about">About</a> | <a href="/contact">Contact</a></div>
<div style="background-color: #fff; padding: 6px; margin-bottom: 2px;"><a href="/subscriptions/new">Subscribe</a></div>
</div>


<div class="wrap">

<%= yield %>

<div style="width:100%; text-align: center; margin: 10px 0px; padding: 10px 0px; border-top: 1px dotted #999999;">Copyright © <%= Time.now.year %> · The Spain Report Ltd. · Independent Spain News, In English · <a href="https://www.thespainreport.com/subscriptions/new">Subscribe Now</a></div>

<div class="clear"></div>
</div>

<!-- Paywall -->
<div class="modal" id="paywall" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="modal-open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Please log in for instant access to your article…</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 14px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
        <%= form_tag '/login' do %>
        <div class="top-login-input-float"><%= text_field_tag 'email', nil, class: 'input200', placeholder: 'Enter your e-mail...' %></div>
        <div class="top-login-input-float"><%= password_field_tag 'password', nil, class: 'input170', placeholder: 'Enter your password...' %></div>
        <div class="top-login-input-float"><button type="submit" class="blueformbutton" id="login">Log In</button></div>
        <div class="top-login-input-float" style="margin-top:7px;">
          <% if flash.present? %>
            <% flash.each do |name, msg| %>
              <span style="background-color: #FEF9E6; padding: 5px 7px;"><%= content_tag :span, msg.html_safe, id: "flash_#{name}" %></span>
            <% end %>
          <% end %>
        </div>
        <div class="clear"></div>
        <% end %>
        </div>
        <div style="background-image: url(<%= asset_path 'thespainreport-evssl-white.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
        <h3>…or subscribe now to understand more about the most important news from Spain, in English</h3>
        <p style="text-align:center; margin: 20px 0 20px 0;"><a href="https://www.thespainreport.com/subscriptions/new" class="blueformbutton">Subscribe Now</a></p>
        <ul>
        <li>The Internet and mobile technology have given us too much information but much greater access;</li>
        <li>We do fast, original reporting to help you understand the latest news from Spain, in English;</li>
        <li>No ads, no spam; We value your time and our independence, so you can choose your own price;</li>
        <li>Get immediate access to all of our news and analysis, and full-text e-mails right in your inbox;</li>
        <li>Together we can seek out truth, demand accountability and improve our understanding of Spain;</li>
        </ul>
        <p style="margin: 0; font-style: italic;">“Your reporting and comment are excellent – please keep up the good work!"—John, Catalonia</p>
        </div>
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>
  </div>  
</div>
<!-- End Of Paywall -->

<!-- Paywall Reader -->
<div class="modal" id="paywall-reader" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="modal-open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Subscribe now for instant access</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 14px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
          <div id="flash_success_div">
            Thank you for reading your free articles.
            Please <a href="https://www.thespainreport.com/subscriptions/new">subscribe now</a> for more.
            You choose how much you pay.
          </div>
        <div class="clear"></div>
        </div>
        <div style="background-image: url(<%= asset_path 'thespainreport-evssl-white.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
        <h3>You are what makes our original, independent Spain reporting possible.</h3>
        <ul>
        <li>Build a rich mental model of a changing Spain and understand more about Spaniards' struggles;</li>
        <li>Original, timely, independent, ad-free reporting of the latest stories and major ongoing trends;</li>
        <li>Get full and immediate access to all of our Spain news, reporting and analysis, past and present;</li>
        <li>Full-text e-mails with complete articles right in your inbox as soon as they are news;</li>
        <li>Clean, safe, fast-loading articles on all of your desktop, tablet and mobile devices;</li>
        </ul>
        <p style="text-align:center; margin: 20px 0 20px 0;"><a href="https://www.thespainreport.com/subscriptions/new" class="blueformbutton">Subscribe Now</a></p>
        <p style="margin: 0; font-style: italic;">“Your reporting and comment are excellent – please keep up the good work!"—John, Catalonia</p>
        </div>
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>
  </div>  
</div>
<!-- End Of Paywall -->

<!-- Paywall Resubscribe -->
<div class="modal" id="paywall-resubscribe" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="modal-open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Please re-subscribe</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 14px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
          <div id="flash_success_div_left">
            Thank you so much for reading and subscribing to The Spain Report in its early days.
            We are constantly trying to improve the whole experience for you.
            Our records show it is many months, or even more than a year, since you last subscribed, since when we have also improved the subscription system.
            We did not wish to bother you or restrict your access in the meantime.
            You may now take advantage of all of the new payment options and price points.
            You are still the boss.
            <a href="https://www.thespainreport.com/subscriptions/new">Please re-subscribe now</a> to continue reading.
          </div>
        <div class="clear"></div>
        </div>
        <div style="background-image: url(<%= asset_path 'thespainreport-evssl-white.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
        <h3>You choose how much you pay, from £5/month or £50/year</h3>
        <ul>
        <li>Build a rich mental model of a changing Spain and understand more about Spaniards' struggles;</li>
        <li>Original, timely, independent, ad-free reporting of the latest stories and major ongoing trends;</li>
        <li>Get full and immediate access to all of our Spain news, reporting and analysis, past and present;</li>
        <li>Full-text e-mails with complete articles right in your inbox as soon as they are news;</li>
        <li>Clean, safe, fast-loading articles on all of your desktop, tablet and mobile devices;</li>
        </ul>
        <p style="text-align:center; margin: 20px 0 20px 0;"><a href="https://www.thespainreport.com/subscriptions/new" class="blueformbutton">Re-subscribe Here</a></p>
        <p style="margin: 0; font-style: italic;">“Your reporting and comment are excellent – please keep up the good work!"—John, Catalonia</p>
        </div>
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>
  </div>  
</div>
<!-- End Of Paywall -->

<%= render partial: "layouts/google_analytics_pageview" %>
</body>
</html>