<!DOCTYPE html>
<html>
<head>

  <title>
    <% if current_page?('/') %>
      The Spain Report | Independent Spain News, In English
    <% else %>
      <%= yield(:title) %> | The Spain Report
    <% end %>
  </title>
  
<% if controller_name == 'subscriptions' && ["new", "spain"].include?(action_name) %>
  <script src="//js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript"></script>
  <script>
    var onSuccess = function(x){
      var country_code = x.country.iso_code;
      document.getElementById('ip_country_code').value = country_code;
      <% if controller_name == 'subscriptions' && action_name == 'spain' %>
        if (x.country.iso_code != "ES"){window.location.replace('/subscriptions/new');}
      <% elsif controller_name == 'subscriptions' && action_name == 'new' %>
        if (x.country.iso_code = "ES"){window.location.replace('/subscriptions/spain');}
      <% end %>
    };
    
    var onError = function(error){
      alert(
        "Error:\n\n"
        + JSON.stringify(error, undefined, 4)
        );
    };

    geoip2.insights(onSuccess, onError);
  </script>
<% end %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Eczar:400,600,700", media: "all" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald:400,700", media: "all" %>
  <!--[if IE]>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald:400", media: "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oswald:700", media: "all" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Eczar:400", media: "all" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Eczar:600", media: "all" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Eczar:700", media: "all" %>
  <![endif]-->
  
  <%= yield(:meta) %>
  
  <link rel="publisher" href="https://plus.google.com/+ThespainreportLtd/"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= render "layouts/google_analytics" %>
  
  <% if controller_name == 'articles' && action_name == 'show' %>
    <%= yield(:articlepaywall) %>
  <% end %>
  
  <% if controller_name == 'newsitems' && action_name == 'show' %>
    <%= yield(:articlepaywall) %>
  <% end %>
  
  <meta property="fb:pages" content="290717157739482" />
  
</head>
<% if controller_name == 'subscriptions' && ["new", "spain"].include?(action_name) %>
  <body onload="calculateTotal();">
<% else %>
  <body>
<% end %>

<div id="top-bar-wrap"></div>

<div id="top-bar-layer">
<div style="max-width: 1260px; position: relative; margin: 0 auto;">

<div class="site-title-new"><a href="/">THE <span class="site-title-spain">SPAIN</span> REPORT</a></div>


<% if controller_name == 'subscriptions' && ["new", "spain"].include?(action_name) %>

<% else %>
<div class="user-bar-right-links" style="margin-top: 12px;">
<% if current_user.nil? %>
      <div class="user-bar-login-form">
        <%= form_tag '/login' do %>
        <div class="top-login-input-float"><%= text_field_tag 'email', nil, class: 'input200', placeholder: 'Your e-mail...' %></div>
        <div class="top-login-input-float"><%= password_field_tag 'password', nil, class: 'input170', placeholder: 'Your password...' %>
          <% if flash[:password] %>
            <br />
            <div class="web-width">
              <a href="<%= new_password_reset_path %>" style="font-size: 11px; color: #F1BF00 !important; padding: 2px 0px 0px 10px; text-decoration:underline !important;">Want a new password?</a>
            </div>
            <div class="mobile-width">
              <a href="<%= new_password_reset_path %>" style="font-size: 11px; color: #AA151B !important; margin: 0px; padding: 0px 0px 0px 10px; text-decoration:underline !important;">New password?</a>
            </div>
          <% end %>
        </div>
        <div class="top-login-input-float-submit"><button type="submit" class="blueformbutton">Log In</button></div>
        <div class="clear"></div>
        <% end %>
      </div>
    <% elsif current_user.role == 'editor' %>
      <div class="user-bar-right-links-basic-user">
        <div class="user-float-left"><%= link_to "Breaking", '/articles/breaking' %> | <%= link_to "Latest", '/articles/latest' %> | <%= link_to "Article", new_article_path %> | <%= link_to "Update", new_newsitem_path %> | <%= link_to "Story", new_story_path %></div>
        <div class="user-float-left">—</div>
        <div class="user-float-left"><%= link_to "Quotes", quotes_path %> | <%= link_to "Sources", sources_path %> | <%= link_to "Orgs", organisations_path %> | <%= link_to "News", entries_path %></div>
        <div class="user-float-left">—</div>
        <div class="user-float-left"><%= link_to "Members", users_path %> | <%= link_to "Comments", comments_path %> | <%= link_to "Messages", salesemails_path %></div>
        <div class="user-float-left">—</div>
        <div class="user-float-left-no"><%= link_to "Log Out", '/logout' %></div>
      </div>
      <div class="clear"></div>
    <% elsif current_user %>
      <div class="user-bar-right-links-basic-user">
        <div class="web-width">
          <div class="user-float-left"><%= link_to "Log Out", '/logout' %></div>
        </div>
        <div class="mobile-width">
          <div class="user-float-left"><%= link_to "Edit MyTSR", edit_user_path(current_user) %></div>
          <div class="user-float-left"><%= link_to "Log Out", '/logout' %></div>
        </div>
      </div>
      <div class="clear"></div>
    <% else %>
    <% end %>
</div>
<% end %>

<div class="clear"></div>
</div>
</div>

<% if controller_name == 'subscriptions' && ["new", "spain"].include?(action_name) %>
<div class="wrap-subscription">
<% else %>
<div class="wrap">

<div class="left-hand-bar" style="z-index: 500;">
<div class="sidebar-header-top-new">Understand Spain, in English</div>

<div id="email-sign-up-box">
<% if current_user.nil? %>
  <img src="<%= asset_path 'thespainreport-evssl-white.jpg' %>" style="width: 50px; float:right;" />
  Original, independent reporting of the stories changing Spain.
  Full-text articles by e-mail. Free for 30 days.
  No ads, no spam. Don't miss it.<br />
  <strong>Enter your e-mail:</strong>
  <div class="email-sign-up-form-new">
    <%= form_tag '/new_spain_report_reader', :class => '', :id => 'email-sign-up' do |f| %>
      <div class="email-input-float">
        <input type="email" size="22" name="email" id="email" class="inputgeneral"/>
      </div>
      <div class="email-input-float email-button">
        <button type="submit" class="blueformbutton">Join Now</button>
      </div>
      <div class="clear"></div>
      
      <% if controller_name == 'articles' && action_name == 'show' %>
        <%= hidden_field_tag 'article_id', @article.id %>
      <% end %>
      
    <% end %>
  </div>
  <div style="margin-bottom: 3px;">
  <% if flash.present? %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, id: "flash_#{name}_div" do -%>
          <%= content_tag :span, msg.html_safe, id: "flash_#{name}" %>
        <% end -%>
      <% end %>
    <% end %>
  </div>
<% elsif current_user %>
  <div class="signed-in-details">
  <div style="margin-bottom: 3px;"><%= link_to "Edit MyTSR", edit_user_path(current_user) %></div>
  <div style="margin-bottom: 3px;"><strong>E-mail:</strong> <%= current_user.try(:email) %></div>
  <div style="margin-bottom: 3px;">
      <% if current_user.role == 'editor' %>
         <span class="editor-label-mini"><%= current_user.role.to_s.titleize %></span>
      <% elsif ['subscriber', 'subscriber_all_stories'].include?(current_user.role) %>
         <span class="subscriber-label-mini"><%= current_user.role.to_s.titleize %></span> · Thanks!
      <% elsif ['subscriber_one_story'].include?(current_user.role) %>
         <span class="subscriber-label-mini"><%= current_user.role.to_s.titleize %></span> · Thanks! · <a href="/subscriptions/new"><span class="highlight">Upgrade</span></a>
      <% elsif ['guest', 'reader'].include?(current_user.role) %>
         <span class="reader-label-mini"><%= current_user.role.to_s.titleize %></span> <a href="/subscriptions/new"><span class="highlight">Subscribe now</span></a>
      <% else %>
         <span>
      <% end %>
  </div>
  <div style="margin-bottom: 3px;">
  <% if flash.present? %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, id: "flash_#{name}_div" do -%>
          <%= content_tag :span, msg.html_safe, id: "flash_#{name}" %>
        <% end -%>
      <% end %>
    <% end %>
  </div>
  </div>
  
  <div class="signed-in-details" style="margin-top: 10px;">
    <p><strong>My Reading History</strong></p>
    <ul style="margin-top: 3px; list-style: none; margin-left: 0px;">
    <% current_user.histories.lastten.where.not(article_id: current_article).each do |h| %>
      <li style="font-size: 13px;">
        <% if h.article.nil? %>
          <%= link_to "Home", root_url %>
        <% else %>
          <% if h.article.short_headline.present? %>
            <%= link_to h.article.short_headline, h.article %>
          <% else %>
            <%= link_to h.article.headline.truncate(38), h.article %>
          <% end %>
        <% end %>
      </li>
    <% end %>
    </ul>
</div>
<% end %>
</div>

  <% @lastnews.each do |article| %>
    <div class="side-block">
      <%= link_to article do %>
        <h3><%= article.short_headline %></h3>
        <p><%= article.short_lede %></p>
        <p class="meta"><span class="feed-item-date"><%= article.created_at.to_formatted_s(:short) %></span> <span class="listing-update-slug"><span class="black-label-mini">LATEST NEWS</span></span></p>
      <% end %>
    </div>
  <% end %>

  <% @lastbriefing.each do |article| %>
    <div class="side-block">
      <%= link_to article do %>
        <h3><%= article.short_headline %></h3>
        <p><%= article.short_lede %></p>
        <p class="meta"><span class="feed-item-date"><%= article.created_at.to_formatted_s(:short) %></span> <span class="listing-update-slug"><span class="black-label-mini">SPAIN BRIEFING</span></span></p>
      <% end %>
    </div>
  <% end %>
 
  <% @lasteditorial.each do |article| %>
    <div class="side-block">
      <%= link_to article do %>
        <h3><%= article.short_headline %></h3>
        <p><%= article.short_lede %></p>
        <p class="meta"><span class="feed-item-date"><%= article.created_at.to_formatted_s(:short) %></span> <span class="listing-update-slug"><span class="black-label-mini">EDITORIAL</span></span></p>
      <% end %>
    </div>
  <% end %>
  
  <% @lastindepth.each do |article| %>
    <div class="side-block">
      <%= link_to article do %>
        <h3><%= article.short_headline %></h3>
        <p><%= article.short_lede %></p>
        <p class="meta"><span class="feed-item-date"><%= article.created_at.to_formatted_s(:short) %></span> <span class="listing-update-slug"><span class="black-label-mini">DEEP SPAIN</span></span></p>
      <% end %>
    </div>
  <% end %>
  
  <p style="padding: 7px;">
  <a href="/subscriptions/new" title="Subscribe">Subscribe</a> |  
      <a href="/articles/blog/" title="Blog">Blog</a> | 
      <a href="/about/" title="About">About</a> | 
      <a href="/contact/" title="Contact">Contact</a>
  </p>

</div>
<% end %>


<%= yield %>


<div class="clear"></div>

</div>
</div>
<div style="text-align: center; margin: 10px auto; padding: 10px 0px; border-top: 1px dotted #999999;">Copyright © <%= Time.now.year %> · The Spain Report Ltd. · Understand Spain, In English · <a href="https://www.thespainreport.com/subscriptions/new">Subscribe Now</a></div>

<!-- Paywall -->
<div class="modal" id="paywall" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="modal-open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Please log in for instant access to your article…</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 14px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
        <%= form_tag '/login' do %>
        <div class="top-login-input-float"><%= text_field_tag 'email', nil, class: 'input200', placeholder: 'Enter your e-mail...' %></div>
        <div class="top-login-input-float"><%= password_field_tag 'password', nil, class: 'input170', placeholder: 'Enter your password...' %></div>
        <div class="top-login-input-float"><button type="submit" class="blueformbutton" id="login">Log In</button></div>
        <div class="top-login-input-float" style="margin-top:7px;">
          <% if flash.present? %>
            <% flash.each do |name, msg| %>
              <span style="background-color: #FEF9E6; padding: 5px 7px;"><%= content_tag :span, msg.html_safe, id: "flash_#{name}" %></span>
            <% end %>
          <% end %>
        </div>
        <div class="clear"></div>
        <% end %>
        </div>
        <div style="background-image: url(<%= asset_path 'thespainreport-evssl-white.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
        <h3>…or subscribe now to understand more about the most important news from Spain, in English</h3>
        <p style="text-align:center; margin: 20px 0 20px 0;"><a href="https://www.thespainreport.com/subscriptions/new" class="blueformbutton">Subscribe Now</a></p>
        <ul>
        <li>The Internet and mobile technology have given us too much information but much greater access;</li>
        <li>We do fast, original reporting to help you understand the latest news from Spain, in English;</li>
        <li>No ads, no spam; We value your time and our independence, so you can choose your own price;</li>
        <li>Get immediate access to all of our news and analysis, and full-text e-mails right in your inbox;</li>
        <li>Together we can seek out truth, demand accountability and improve our understanding of Spain;</li>
        </ul>
        <p style="margin: 0; font-style: italic;">“Your reporting and comment are excellent – please keep up the good work!"—John, Catalonia</p>
        </div>
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>
  </div>  
</div>
<!-- End Of Paywall -->

<!-- Paywall Reader -->
<div class="modal" id="paywall-reader" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="modal-open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Subscribe now for instant access</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 14px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
          <div id="flash_success_div">
            Thank you for reading your free articles.
            Please <a href="https://www.thespainreport.com/subscriptions/new">subscribe now</a> for more.
            You choose how much you pay.
          </div>
        <div class="clear"></div>
        </div>
        <div style="background-image: url(<%= asset_path 'thespainreport-evssl-white.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
        <h3>You are what makes our original, independent Spain reporting possible.</h3>
        <ul>
        <li>Build a rich mental model of a changing Spain and understand more about Spaniards' struggles;</li>
        <li>Original, timely, independent, ad-free reporting of the latest stories and major ongoing trends;</li>
        <li>Get full and immediate access to all of our Spain news, reporting and analysis, past and present;</li>
        <li>Full-text e-mails with complete articles right in your inbox as soon as they are news;</li>
        <li>Clean, safe, fast-loading articles on all of your desktop, tablet and mobile devices;</li>
        </ul>
        <p style="text-align:center; margin: 20px 0 20px 0;"><a href="https://www.thespainreport.com/subscriptions/new" class="blueformbutton">Subscribe Now</a></p>
        <p style="margin: 0; font-style: italic;">“Your reporting and comment are excellent – please keep up the good work!"—John, Catalonia</p>
        </div>
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>
  </div>  
</div>
<!-- End Of Paywall -->

<!-- Paywall Resubscribe -->
<div class="modal" id="paywall-resubscribe" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="modal-open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Please re-subscribe</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 14px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
          <div id="flash_success_div_left">
            Thank you so much for reading and subscribing to The Spain Report in its early days.
            We are constantly trying to improve the whole experience for you.
            Our records show it is many months, or even more than a year, since you last subscribed, since when we have also improved the subscription system.
            We did not wish to bother you or restrict your access in the meantime.
            You may now take advantage of all of the new payment options and price points.
            You are still the boss.
            <a href="https://www.thespainreport.com/subscriptions/new">Please re-subscribe now</a> to continue reading.
          </div>
        <div class="clear"></div>
        </div>
        <div style="background-image: url(<%= asset_path 'thespainreport-evssl-white.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
        <h3>You choose how much you pay, from £5/month or £50/year</h3>
        <ul>
        <li>Build a rich mental model of a changing Spain and understand more about Spaniards' struggles;</li>
        <li>Original, timely, independent, ad-free reporting of the latest stories and major ongoing trends;</li>
        <li>Get full and immediate access to all of our Spain news, reporting and analysis, past and present;</li>
        <li>Full-text e-mails with complete articles right in your inbox as soon as they are news;</li>
        <li>Clean, safe, fast-loading articles on all of your desktop, tablet and mobile devices;</li>
        </ul>
        <p style="text-align:center; margin: 20px 0 20px 0;"><a href="https://www.thespainreport.com/subscriptions/new" class="blueformbutton">Re-subscribe Here</a></p>
        <p style="margin: 0; font-style: italic;">“Your reporting and comment are excellent – please keep up the good work!"—John, Catalonia</p>
        </div>
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>
  </div>  
</div>
<!-- End Of Paywall -->

<%= render partial: "layouts/google_analytics_pageview" %>
</body>
</html>