<!DOCTYPE html>
<html>
<head>
  <title>
    <% if current_page?('/') %>
      The Spain Report | Understand The News From Spain, In English
    <% else %>
      <%= yield(:title) %> | The Spain Report
    <% end %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald:400,700", media: "all" %>
  <!--[if IE]>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald", media: "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oswald:700", media: "all" %>
  <![endif]-->
  <link rel="publisher" href="https://plus.google.com/+ThespainreportLtd/"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= render "layouts/google_analytics" %>
  
<% if controller_name == 'articles' && action_name == 'show' %>
    <%= yield(:articlepaywall) %>
<% end %>

</head>
<body>


<div class="user-bar">

  <div class="user-bar-flash">
    <% if flash.present? %>
      <% flash.each do |name, msg| %>
        <span style="background-color: #FEF9E6; padding: 0px 7px;"><%= content_tag :span, msg.html_safe, id: "flash_#{name}" %></span>
      <% end %>
    <% elsif current_user.nil? %>
      <% if current_page?('/') %>
        Original, independent reporting. No ads, no spam. <a href="https://www.thespainreport.com/subscriptions/new" class="subscribe" title="Subscribe Now">Subscribe now</a>.
      <% elsif %>
        Original, independent reporting. No ads, no spam. <a href="https://www.thespainreport.com/subscriptions/new" class="subscribe" title="Subscribe Now">Subscribe now</a>.
      <% end %>
    <% elsif current_user %>

    <% else %>
      
    <% end %>
  </div>
  
  <div class="user-bar-right-links">
    <% if current_user.nil? %>
      
    <% elsif current_user.role == 'editor' %>
      <div style="float:left; padding-top: 6px;">
        <div class="user-float-left-no"><%= link_to "Update", new_newsitem_path %></div>
        <div class="user-float-left"><%= link_to "Article", new_article_path %></div>
        <div class="user-float-left"><%= link_to "Story", new_story_path %></div>
        <div class="user-float-left"><%= link_to "Audio", new_audio_path %></div>
        <div class="user-float-left-no">––</div>
        <div class="user-float-left-no"><%= link_to "Updates", newsitems_admin_path %></div>
        <div class="user-float-left"><%= link_to "Articles", articles_admin_path %></div>
        <div class="user-float-left"><%= link_to "Stories", stories_admin_path %></div>
        <div class="user-float-left-no">––</div>
        <div class="user-float-left-no"><%= link_to "Member", new_user_path %></div>
        <div class="user-float-left"><%= link_to "Members", users_path %></div>
        <div class="user-float-left"><%= link_to "Sales", salesemails_path %></div>
        <div class="user-float-left-no">––</div>
      </div>
    <% else %>
    <% end %>
    
    <% if current_user.nil? %>
      <div class="user-bar-login-form">
        <%= form_tag '/login' do %>
        <div class="top-login-input-float"><%= text_field_tag 'email', nil, class: 'input200', placeholder: 'Enter your e-mail...' %></div>
        <div class="top-login-input-float"><%= password_field_tag 'password', nil, class: 'input170', placeholder: 'Enter your password...' %></div>
        <div class="top-login-input-float"><button type="submit" class="blueformbutton">Log In</button></div>
        <div class="clear"></div>
        <% end %>
      </div>
    <% else current_user %>
      <div class="user-bar-right-links-basic-user">
        <div class="user-float-left-no"><%= link_to "News Reader", entries_path %></div>
        <div class="user-float-left"><%= link_to "Latest Comments", comments_path %></div>
        <div class="user-float-left"><%= link_to "My Account", edit_user_path(current_user) %></div>
        <div class="user-float-left"><%= link_to "Log Out", '/logout' %></div>
      </div>
      <div class="clear"></div>
    <% end %>

  </div>
  <div class="clear"></div>
</div>

<div class="wrap">

<div class="site-title">
THE <span class="site-title-spain">SPAIN</span> REPORT</div>
<div class="site-description">
<div class="site-description-right">
<a href="https://twitter.com/thespainreport" class="twitter-follow-button" data-show-count="true">Follow @thespainreport</a>
</div>
<div class="site-description-left">Understand The News From Spain, In English</div>
<div class="clear"></div>
</div>

<div class="top-nav">
<div class="top-float-left"><%= link_to "Front Page", root_path %></div>
<div class="top-nav-below-320">
<div class="top-float-left"><%= link_to "Updates", newsitems_path %></div>
<div class="top-float-left"><%= link_to "Spain News", articles_news_path %></div>
</div>
<div class="top-float-left"><%= link_to "Editorials", articles_editorial_path %></div>
<div class="top-float-left-no"><%= link_to "In-Depth", articles_in_depth_path %></div>
<div class="top-nav-below-420">
<div class="top-float-left-no">––</div>
</div>
<div class="top-nav-middle-block">
<div class="top-float-left"><%= link_to "Major Stories", stories_path %></div>
<div class="top-float-left"><%= link_to "Spanish Regions", regions_path %></div>
<div class="top-float-left-no"><%= link_to "News Topics", categories_path %></div>
<div class="top-float-left-no">––</div>
</div>
<div class="top-nav-right-block">
<div class="top-float-left" class="980invisible"><%= link_to "About", '/about/' %></div>
<div class="top-float-left"><%= link_to "Blog", articles_blog_path %></div>
<div class="top-float-left-no"><%= link_to "Contact", '/contact/' %></div>
<div class="top-float-left-no">––</div>
</div>
<div class="top-nav-below-420">
<div class="top-float-left-no"><%= link_to "Subscribe", '/subscriptions/new', :"data-no-turbolink" => true %></div>
</div>
<div class="clear"></div>
</div>

<%= yield %>

<div style="width:100%; text-align: center; margin: 20px 0px; padding: 20px 0px; border-top: 1px dotted #999999;">Copyright © 2015 · The Spain Report Ltd. · Understand The News From Spain, In English</div>

</div>

<!-- Paywall -->
<div class="modal" id="paywall" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="modal-open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Please log in for instant access to your article…</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 14px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
        <%= form_tag '/login' do %>
        <div class="top-login-input-float"><%= text_field_tag 'email', nil, class: 'input200', placeholder: 'Enter your e-mail...' %></div>
        <div class="top-login-input-float"><%= password_field_tag 'password', nil, class: 'input170', placeholder: 'Enter your password...' %></div>
        <div class="top-login-input-float"><button type="submit" class="blueformbutton" id="login">Log In</button></div>
        <div class="top-login-input-float" style="margin-top:7px;">
          <% if flash.present? %>
            <% flash.each do |name, msg| %>
              <span style="background-color: #FEF9E6; padding: 5px 7px;"><%= content_tag :span, msg.html_safe, id: "flash_#{name}" %></span>
            <% end %>
          <% end %>
        </div>
        <div class="clear"></div>
        <% end %>
        </div>
        <div style="background-image: url(<%= asset_path 'thespainreport-evssl-white.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
        <h3>…or subscribe now to understand more about the most important news from Spain, in English</h3>
        <ul>
        <li>The Internet and mobile technology have given us too much information but much greater access;</li>
        <li>We do fast, original reporting to help you understand the latest news from Spain, in English;</li>
        <li>No ads, no spam; We value your time and our independence, so you can choose your own price;</li>
        <li>Get immediate access to all of our news and analysis, and full-text e-mails right in your inbox;</li>
        <li>Together we can seek out truth, demand accountability and improve our understanding of Spain;</li>
        </ul>
        <p style="text-align:center; margin: 20px 0 20px 0;"><a href="https://www.thespainreport.com/subscriptions/new" class="blueformbutton">Subscribe Now</a></p>
        <p style="margin: 0; font-style: italic;">“Your reporting and comment are excellent – please keep up the good work!"—John, Catalonia</p>
        </div>
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>
  </div>  
</div>
<!-- End Of Paywall -->

<!-- Paywall Reader -->
<div class="modal" id="paywall-reader" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="modal-open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Subscribe now for instant access</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 14px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
          <div id="flash_success_div">
            Thank you for reading your free articles.
            Please <a href="https://www.thespainreport.com/subscriptions/new">subscribe now</a> for more.
            You choose how much you pay.
          </div>
        <div class="clear"></div>
        </div>
        <div style="background-image: url(<%= asset_path 'thespainreport-evssl-white.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
        <h3>You are what makes our original, independent Spain reporting possible.</h3>
        <ul>
        <li>Build a rich mental model of a changing Spain and understand more about Spaniards' struggles;</li>
        <li>Original, timely, independent, ad-free reporting of the latest stories and major ongoing trends;</li>
        <li>Get full and immediate access to all of our Spain news, reporting and analysis, past and present;</li>
        <li>Full-text e-mails with complete articles right in your inbox as soon as they are news;</li>
        <li>Clean, safe, fast-loading articles on all of your desktop, tablet and mobile devices;</li>
        </ul>
        <p style="text-align:center; margin: 20px 0 20px 0;"><a href="https://www.thespainreport.com/subscriptions/new" class="blueformbutton">Subscribe Now</a></p>
        <p style="margin: 0; font-style: italic;">“Your reporting and comment are excellent – please keep up the good work!"—John, Catalonia</p>
        </div>
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>
  </div>  
</div>
<!-- End Of Paywall -->

<!-- Paywall Resubscribe -->
<div class="modal" id="paywall-resubscribe" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="modal-open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Please re-subscribe</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 14px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
          <div id="flash_success_div_left">
            Thank you so much for reading and subscribing to The Spain Report in its early days.
            We are constantly trying to improve the whole experience for you.
            Our records show it is many months, or even more than a year, since you last subscribed, since when we have also improved the subscription system.
            We did not wish to bother you or restrict your access in the meantime.
            You may now take advantage of all of the new payment options and price points.
            You are still the boss.
            <a href="https://www.thespainreport.com/subscriptions/new">Please re-subscribe now</a> to continue reading.
          </div>
        <div class="clear"></div>
        </div>
        <div style="background-image: url(<%= asset_path 'thespainreport-evssl-white.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
        <h3>You choose how much you pay, from £5/month or £50/year</h3>
        <ul>
        <li>Build a rich mental model of a changing Spain and understand more about Spaniards' struggles;</li>
        <li>Original, timely, independent, ad-free reporting of the latest stories and major ongoing trends;</li>
        <li>Get full and immediate access to all of our Spain news, reporting and analysis, past and present;</li>
        <li>Full-text e-mails with complete articles right in your inbox as soon as they are news;</li>
        <li>Clean, safe, fast-loading articles on all of your desktop, tablet and mobile devices;</li>
        </ul>
        <p style="text-align:center; margin: 20px 0 20px 0;"><a href="https://www.thespainreport.com/subscriptions/new" class="blueformbutton">Re-subscribe Here</a></p>
        <p style="margin: 0; font-style: italic;">“Your reporting and comment are excellent – please keep up the good work!"—John, Catalonia</p>
        </div>
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>
  </div>  
</div>
<!-- End Of Paywall -->

<%= render partial: "layouts/google_analytics_pageview" %>
</body>
</html>